&noahmp_snow
  date_str = "{{ current_cycle | to_YMD }}",
  hour_str = "{{ current_cycle | strftime('%H') }}",
  res = {{ CASE[1:] }},
  frac_grid = .true.,
  rst_path = "./anl",
  inc_path = "./anl",
  orog_path = "{{ HOMEglobal }}/fix/orog/{{ CASE }}",
  otype = "{{ CASE }}.mx{{ OCNRES }}_oro_data",
  ntiles={{ ntiles }},
  ens_size={{ ens_size }},
  noincr_threshold={{ noincr_threshold }},
  print_summary=.true.,
  print_debug={{ print_debug }} ,
  truncate={{ truncate_incr }}
/
