# Search path for model and obs for JCB
# -------------------------------------
algorithm_path: "{{PARMgfs}}/gdas/jcb-algorithms"
app_path_algorithm: "{{PARMgfs}}/gdas/jcb-gdas/algorithm/snow"
app_path_model: "{{PARMgfs}}/gdas/jcb-gdas/model/snow"
app_path_observations: "{{PARMgfs}}/gdas/jcb-gdas/observations/snow"
app_path_observation_chronicle: "{{PARMgfs}}/gdas/jcb-gdas/observation_chronicle/snow"


# Places where we deviate from the generic file name of a yaml
# ------------------------------------------------------------
final_increment_file: snow_final_increment_fms
model_file: model_pseudo
initial_condition_file: background  # Initial conditions for 4D apps is background


# Assimilation window
# -------------------
window_begin: "{{ SNOW_WINDOW_BEGIN | to_isotime }}"
window_length: "{{ SNOW_WINDOW_LENGTH }}"
bound_to_include: begin

# Default background time is for 3D applications
{% set bkg_time_iso = current_cycle | to_isotime %}
{% set bkg_time_fv3 = current_cycle | to_fv3time %}
snow_background_time_iso: "{{ bkg_time_iso }}"
snow_background_time_fv3: "{{ bkg_time_fv3 }}"
snow_increment_time_iso: "{{ bkg_time_iso }}"
snow_increment_time_fv3: "{{ bkg_time_fv3 }}"


# Analysis standard things
# ------------------------
analysis_variables: [totalSnowDepth]
minimizer: DRPCG
final_diagnostics_departures: anlmob
final_prints_frequency: PT3H
cost_type: 3D-Var
number_of_outer_loops: 1

# Model things
# ------------
# Geometry
snow_layout_x: {{ layout_x | default(1, true) }}
snow_layout_y: {{ layout_y | default(1, true) }}
snow_npx_ges: {{ npx_ges | default(49, true) }}
snow_npy_ges: {{ npy_ges | default(49, true) }}
snow_npz_ges: {{ npz_ges | default(127, true) }}
snow_npx_anl: {{ npx_ges | default(49, true) }}
snow_npy_anl: {{ npy_ges | default(49, true) }}
snow_npz_anl: {{ npz_ges | default(127, true) }}

snow_fv3jedi_files_path: ./fv3jedi  # Ideally this would be {{DATA}}/fv3jedi but FMS
snow_orog_files_path: "{{ FIXgfs }}/orog/{{ CASE }}"
snow_orog_prefix: "{{ CASE }}.mx{{ OCNRES }}"

# Background
snow_background_path: {{snow_bkg_path}}
background_ensemble_path: ./ens/mem%mem%

# Background error
snow_bump_data_directory: "{{ DATA }}/berror"
number_ensemble_members: {{ NMEM_ENS | default(1, true) }}

snow_background_error_file: "{{BERROR_YAML}}"

# Forecasting
snow_forecast_length: "{{ SNOW_WINDOW_LENGTH }}"
snow_forecast_timestep: "{{ BKG_TSTEP }}"


# Observation things
# ------------------
observations: all_observations

crtm_coefficient_path: "{{ DATA }}/crtm/"

# Naming conventions for observational files
snow_obsdataroot_path: "{{COMIN_OBS}}"
snow_obsdatain_path: "{{snow_obsdatain_path}}"
snow_obsdatain_prefix: "{{OPREFIX}}"
snow_obsdatain_suffix: ".tm00.bufr_d"

snow_obsdataout_path: "{{snow_obsdataout_path}}"
snow_obsdataout_prefix: diag_
snow_obsdataout_suffix: "_{{ current_cycle | to_YMDH }}.nc"

# Naming conventions for bias correction files
snow_obsbiasin_path: "{{DATA}}/obs/"
snow_obsbiasin_prefix: "{{GPREFIX}}"
snow_obsbiasin_suffix: ".satbias.nc"
snow_obstlapsein_prefix: "{{GPREFIX}}"
snow_obstlapsein_suffix: ".tlapse.txt"
snow_obsbiascovin_prefix: "{{GPREFIX}}"
snow_obsbiascovin_suffix: ".satbias_cov.nc"

snow_obsbiasout_path: "{{DATA}}/bc/"
snow_obsbiasout_prefix: "{{APREFIX}}"
snow_obsbiasout_suffix: ".satbias.nc"
snow_obsbiascovout_prefix: "{{APREFIX}}"
snow_obsbiascovout_suffix: ".satbias_cov.nc"

# Ensemble mean things
snow_number_ensemble_members: {{NMEM_ENS}}

# Local Ensemble DA (LETKF)
# -------------------------
local_ensemble_da_solver: GETKF

increment_variables: [ua,va,DZ,delp,t,ps,sphum,ice_wat,liq_wat,o3mr]

# Veritcal localization for GETKF
vl_fraction_of_retained_variance: 0.750
vl_lengthscale: 2.1
vl_lengthscale_units: logp
inflation_rtps: 0.85
inflation_rtpp: 0.0
inflation_mult: 1.0

# Driver
driver_update_obs_config_with_geometry_info: true
driver_save_posterior_mean: false
driver_save_posterior_ensemble: false
driver_save_prior_mean: false
driver_save_posterior_mean_increment: false
driver_save_posterior_ensemble_increments: true

# Diagnostics
ensemble_increment_prefix: "./anl/mem%{member}%/snowinc."
#posterior_output_gaussian: "./mem%{member}%/snowanl."
