# Search path for model and obs for JCB
# -------------------------------------
algorithm_path: "{{PARMgfs}}/gdas/jcb-algorithms"
app_path_algorithm: "{{PARMgfs}}/gdas/jcb-gdas/algorithm/snow"
app_path_model: "{{PARMgfs}}/gdas/jcb-gdas/model/snow"
app_path_observations: "{{PARMgfs}}/gdas/jcb-gdas/observations/snow"
app_path_observation_chronicle: "{{PARMgfs}}/gdas/jcb-gdas/observation_chronicle/snow/{{cycle}}"


# Places where we deviate from the generic file name of a yaml
# ------------------------------------------------------------
model_file: model_pseudo
initial_condition_file: background  # Initial conditions for 4D apps is background
final_increment_file: snow_final_increment_fms
output_mean_prior_file: snow_output_mean_prior_fms
posterior_output_file: snow_posterior_output_fms
output_ensemble_increments_file: snow_ensemble_increments_fms
output_increment_file: snow_output_increment_fms  #snow_ensemblemean_increment_fms.yaml.j2 
output_variance_prior_file: snow_output_variance_prior_fms
output_variance_posterior_file: snow_output_variance_posterior_fms
#jedi_increment_output: gaussian

# Assimilation window
# -------------------
window_begin: "{{ WINDOW_BEGIN | to_isotime }}"
window_length: "{{ WINDOW_LENGTH }}"
bound_to_include: begin

# Default background time is for 3D applications
{% set bkg_time_iso = current_cycle | to_isotime %}
{% set bkg_time_fv3 = current_cycle | to_fv3time %}
{% set bkg_time_julian = current_cycle | to_julian %}
snow_background_time_iso: "{{ bkg_time_iso }}"
snow_background_time_fv3: "{{ bkg_time_fv3 }}"
snow_background_time_julian: "{{ bkg_time_julian }}"
snow_increment_time_iso: "{{ bkg_time_iso }}"
snow_increment_time_fv3: "{{ bkg_time_fv3 }}"

# Analysis standard things
# ------------------------
analysis_variables: [totalSnowDepth]
minimizer: DRPCG
final_diagnostics_departures: anlmob
final_prints_frequency: PT3H
cost_type: 3D-Var
number_of_outer_loops: 1

# Model things
# ------------
# Geometry
snow_layout_x: {{ layout_x | default(1, true) }}
snow_layout_y: {{ layout_y | default(1, true) }}
snow_npx_ges: {{ npx_ges | default(49, true) }}
snow_npy_ges: {{ npy_ges | default(49, true) }}
snow_npz_ges: {{ npz_ges | default(127, true) }}
snow_npx_anl: {{ npx_ges | default(49, true) }}
snow_npy_anl: {{ npy_ges | default(49, true) }}
snow_npz_anl: {{ npz_ges | default(127, true) }}

snow_variational_history_prefix: "{{ GPREFIX }}"

snow_fv3jedi_files_path: ./fv3jedi  # Ideally this would be {{DATA}}/fv3jedi but FMS
snow_orog_files_path: "{{ snow_bkg_path }}"
snow_orog_prefix: "{{ CASE }}.mx{{ OCNRES }}"

# Background
snow_background_path: {{snow_bkg_path}}
#background_ensemble_path: ./ens/mem%mem%   #TODO: this may not be ncessary
snow_background_ensemble_path: ./bkg/mem%mem%

# Background error
snow_bump_data_directory: "{{ DATA }}/berror"
snow_background_error_file: "{{BERROR_YAML}}"

# Forecasting
snow_forecast_length: "{{ SNOW_WINDOW_LENGTH }}"
snow_forecast_timestep: "{{ BKG_TSTEP }}"


# Observation things
# ------------------
observations: all_observations

crtm_coefficient_path: "{{ DATA }}/crtm/"

# Naming conventions for observational files
snow_obsdatain_path: "{{DATA}}/obs"
snow_obsdatain_prefix: "{{OPREFIX}}"
snow_obsdatain_suffix: ".tm00.bufr_d"
snow_obsdataout_path: "{{DATA}}/diags"
snow_prepobs_path: "{{DATA}}/prep"
snow_obsdataout_prefix: diag_
snow_obsdataout_suffix: "_{{ current_cycle | to_YMDH }}.nc"
ims_scf_obs_suffix: "{{ ims_scf_obs_suffix }}"

# Naming conventions for bias correction files
snow_obsbiasin_path: "{{DATA}}/obs/"
snow_obsbiasin_prefix: "{{GPREFIX}}"
snow_obsbiasin_suffix: ".satbias.nc"
snow_obstlapsein_prefix: "{{GPREFIX}}"
snow_obstlapsein_suffix: ".tlapse.txt"
snow_obsbiascovin_prefix: "{{GPREFIX}}"
snow_obsbiascovin_suffix: ".satbias_cov.nc"

snow_obsbiasout_path: "{{DATA}}/bc/"
snow_obsbiasout_prefix: "{{APREFIX}}"
snow_obsbiasout_suffix: ".satbias.nc"
snow_obsbiascovout_prefix: "{{APREFIX}}"
snow_obsbiascovout_suffix: ".satbias_cov.nc"

# Ensemble mean things
snow_number_ensemble_members: {{NMEM_ENS | default(1, true) }}   #do we need the one below?
#number_ensemble_members: {{ NMEM_ENS | default(1, true) }}

# Local Ensemble DA (LETKF)
# -------------------------
local_ensemble_da_solver: Deterministic GETKF

increment_variables: [totalSnowDepth,vtype,slmsk] #[ua,va,DZ,delp,t,ps,sphum,ice_wat,liq_wat,o3mr]

# Veritcal localization for GETKF
vl_fraction_of_retained_variance: 0.750
vl_lengthscale: 2.1
vl_lengthscale_units: logp
inflation_rtps: 0.85
inflation_rtpp: 0.0
inflation_mult: 1.0

# Driver
driver_update_obs_config_with_geometry_info: true
driver_save_posterior_mean: true
driver_save_posterior_ensemble: true
driver_save_posterior_mean_increment: true
driver_save_posterior_ensemble_increments: true
driver_save_prior_variance: true
driver_save_posterior_variance: true
driver_save_prior_mean: true  #(default false)
#driver_do_test_prints: false (default true)
#default driver_do_posterior_observer: true
#default driver_use_control_member: false

# Diagnostics
#ensemble_increment_prefix: "./anl/mem%{member}%/snowinc."
#posterior_output_gaussian: "./mem%{member}%/snowanl."
