# Use observations for lgetkf
# ---------------------------
app_path_observations: {{PARMgfs}}/gdas/jcb-gdas/observations/snow
app_path_observation_chronicle: {{PARMgfs}}/gdas/jcb-gdas/observation_chronicle/snow/{{cycle}}

# Algorithm
# ---------
algorithm: local_ensemble_da_solver

# Model things
# ------------
atmosphere_background_ensemble_path: ./bkg/mem%mem%

# Naming conventions for observation files
snow_obsdatain_path: "{{DATA}}/diags"
snow_obsdatain_prefix: diag_lobs_
snow_obsdatain_suffix: "_{{ current_cycle | to_YMDH }}.nc"
snow_obsdataout_prefix: diag_solv_

# Distribution type
distribution_type: Halo

# Observation things
# ------------------
{% include OBS_LIST_YAML %}

# Testing things
# --------------
{% if DO_TEST_MODE %}
{% include SOL_JEDI_TEST_YAML %}
{% endif %}
