# Algorithm
# ---------
algorithm: local_ensemble_da

# Observation things
# ------------------
{% include OBS_LIST_YAML %}

# Observation distribution and localization
# TODO: 
distribution_type: "Halo"
localization_method: "Horizontal Box car"
halo_size: 250e3
loc_length_scale: 250e3
max_nobs: 50
