jedi_config:
    snowanlvar:
        rundir: '{{ DATA }}'
        exe_src: '{{ EXECgfs }}/gdas.x'
        mpi_cmd: '{{ APRUN_SNOWANL }}'
        jedi_args: ['fv3jedi', 'variational']
        jcb_base_yaml: '{{ PARMgfs }}/gdas/snow/jcb-base.yaml.j2'
        jcb_algo_yaml: '{{ PARMgfs }}/gdas/snow/jcb-prototype_2dvar.yaml.j2'
    scf_to_ioda:
        rundir: '{{ DATA }}'
        exe_src: '{{ EXECgfs }}/gdas_fv3jedi_scf_to_ioda.x'
        mpi_cmd: '{{ APRUN_SNOWANL }}'
        jcb_base_yaml: '{{ PARMgfs }}/gdas/snow/jcb-base.yaml.j2'
        jcb_algo: snow_ims_scf_preprocess

data_in:
    mkdir:
    - '{{ DATA }}/bkg'
    - '{{ DATA }}/anl'
    - '{{ DATA }}/obs'
    - '{{ DATA }}/diags'
    - '{{ DATA }}/fv3jedi'
    - '{{ DATA }}/berror'

    copy:
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ current_cycle | to_fv3time }}.coupler.res', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ current_cycle | to_fv3time }}.sfc_data.tile1.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ current_cycle | to_fv3time }}.sfc_data.tile2.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ current_cycle | to_fv3time }}.sfc_data.tile3.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ current_cycle | to_fv3time }}.sfc_data.tile4.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ current_cycle | to_fv3time }}.sfc_data.tile5.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ current_cycle | to_fv3time }}.sfc_data.tile6.nc', '{{ DATA }}/bkg/']

    - ["{{ FIXorog }}/{{ CASE }}/{{ CASE }}.mx{{ OCNRES }}_oro_data.tile1.nc", "{{ DATA }}/bkg/{{ CASE }}.mx{{ OCNRES }}_oro_data.tile1.nc" ]
    - ["{{ FIXorog }}/{{ CASE }}/{{ CASE }}.mx{{ OCNRES }}_oro_data.tile2.nc", "{{ DATA }}/bkg/{{ CASE }}.mx{{ OCNRES }}_oro_data.tile2.nc" ]
    - ["{{ FIXorog }}/{{ CASE }}/{{ CASE }}.mx{{ OCNRES }}_oro_data.tile3.nc", "{{ DATA }}/bkg/{{ CASE }}.mx{{ OCNRES }}_oro_data.tile3.nc" ]
    - ["{{ FIXorog }}/{{ CASE }}/{{ CASE }}.mx{{ OCNRES }}_oro_data.tile4.nc", "{{ DATA }}/bkg/{{ CASE }}.mx{{ OCNRES }}_oro_data.tile4.nc" ]
    - ["{{ FIXorog }}/{{ CASE }}/{{ CASE }}.mx{{ OCNRES }}_oro_data.tile5.nc", "{{ DATA }}/bkg/{{ CASE }}.mx{{ OCNRES }}_oro_data.tile5.nc" ]
    - ["{{ FIXorog }}/{{ CASE }}/{{ CASE }}.mx{{ OCNRES }}_oro_data.tile6.nc", "{{ DATA }}/bkg/{{ CASE }}.mx{{ OCNRES }}_oro_data.tile6.nc" ]

{% filter indent(width=4) %}
{% include 'snow_stage_jedi_fix.yaml.j2' %}
{% include 'snow_stage_berror.yaml.j2' %}
{% include 'snow_stage_bufr2ioda_mapping.yaml.j2' %}
{% endfilter %}

    copy_opt:
{% filter indent(width=4) %}
{% include 'snow_stage_obs.yaml.j2' %}
{% if DO_IMS_SCF %}
{% include 'snow_stage_ims_scf2ioda.yaml.j2' %}
{% endif %}
{% endfilter %}

data_out:
    copy:
    # Configuration files
    - ['{{ DATA }}/snowanlvar.yaml', '{{ COMOUT_CONF }}/{{ APREFIX }}snowanlvar.yaml']
{% if DO_IMS_SCF %}
    - ['{{ DATA }}/scf_to_ioda.yaml', '{{ COMOUT_CONF }}/{{ APREFIX }}scf_to_ioda.yaml']
{% endif %}

    # Increments
    - ['{{ DATA }}/anl/snowinc.{{ current_cycle | to_fv3time }}.sfc_data.tile1.nc',
       '{{ COMOUT_SNOW_ANALYSIS }}/{{ current_cycle | to_fv3time }}.snow_increment.sfc_data.tile1.nc']
    - ['{{ DATA }}/anl/snowinc.{{ current_cycle | to_fv3time }}.sfc_data.tile2.nc',
       '{{ COMOUT_SNOW_ANALYSIS }}/{{ current_cycle | to_fv3time }}.snow_increment.sfc_data.tile2.nc']
    - ['{{ DATA }}/anl/snowinc.{{ current_cycle | to_fv3time }}.sfc_data.tile3.nc',
       '{{ COMOUT_SNOW_ANALYSIS }}/{{ current_cycle | to_fv3time }}.snow_increment.sfc_data.tile3.nc']
    - ['{{ DATA }}/anl/snowinc.{{ current_cycle | to_fv3time }}.sfc_data.tile4.nc',
       '{{ COMOUT_SNOW_ANALYSIS }}/{{ current_cycle | to_fv3time }}.snow_increment.sfc_data.tile4.nc']
    - ['{{ DATA }}/anl/snowinc.{{ current_cycle | to_fv3time }}.sfc_data.tile5.nc',
       '{{ COMOUT_SNOW_ANALYSIS }}/{{ current_cycle | to_fv3time }}.snow_increment.sfc_data.tile5.nc']
    - ['{{ DATA }}/anl/snowinc.{{ current_cycle | to_fv3time }}.sfc_data.tile6.nc',
       '{{ COMOUT_SNOW_ANALYSIS }}/{{ current_cycle | to_fv3time }}.snow_increment.sfc_data.tile6.nc']

{% if DOIAU %}
    {% set bkgtimes = [ current_cycle, WINDOW_BEGIN ] %}
{% else %}
    {% set bkgtimes = [ current_cycle ] %}
{% endif %}
{% for bkgtime in bkgtimes %}
    # Analysis
    - ['{{ DATA }}/anl/{{ bkgtime | to_fv3time }}.sfc_data.tile1.nc',
       '{{ COM_SNOW_ANALYSIS_TMPL }}/{{ bkgtime | to_fv3time }}.snow_analysis.sfc_data.tile1.nc']
    - ['{{ DATA }}/anl/{{ bkgtime | to_fv3time }}.sfc_data.tile2.nc',
       '{{ COM_SNOW_ANALYSIS_TMPL }}/{{ bkgtime | to_fv3time }}.snow_analysis.sfc_data.tile2.nc']
    - ['{{ DATA }}/anl/{{ bkgtime | to_fv3time }}.sfc_data.tile3.nc',
       '{{ COM_SNOW_ANALYSIS_TMPL }}/{{ bkgtime | to_fv3time }}.snow_analysis.sfc_data.tile3.nc']
    - ['{{ DATA }}/anl/{{ bkgtime | to_fv3time }}.sfc_data.tile4.nc',
       '{{ COM_SNOW_ANALYSIS_TMPL }}/{{ bkgtime | to_fv3time }}.snow_analysis.sfc_data.tile4.nc']
    - ['{{ DATA }}/anl/{{ bkgtime | to_fv3time }}.sfc_data.tile5.nc',
       '{{ COM_SNOW_ANALYSIS_TMPL }}/{{ bkgtime | to_fv3time }}.snow_analysis.sfc_data.tile5.nc']
    - ['{{ DATA }}/anl/{{ bkgtime | to_fv3time }}.sfc_data.tile6.nc',
       '{{ COM_SNOW_ANALYSIS_TMPL }}/{{ bkgtime | to_fv3time }}.snow_analysis.sfc_data.tile6.nc']
{% endfor %}
