-

  # Observation Space (I/O)
  # -----------------------
  obs space:
    name: ompsnp_npp
    distribution:
      name: "{{distribution_type}}"
      halo size: 1250e3
    obsdatain:
      engine:
        type: H5File
        obsfile: "{{atmosphere_obsdatain_path}}/{{atmosphere_obsdatain_prefix}}{{observation_from_jcb}}{{atmosphere_obsdatain_suffix}}"
      obsgrouping:
        group variables: ["latitude"]
        sort variable: "pressure"
        sort order: "ascending"
    obsdataout:
      engine:
        type: H5File
        obsfile: "{{atmosphere_obsdataout_path}}/{{atmosphere_obsdataout_prefix}}{{observation_from_jcb}}{{atmosphere_obsdataout_suffix}}"
    io pool:
      max pool size: 1
    simulated variables: [ozoneLayer]

  #obs operator:
  #  name: AtmVertInterpLay
  #  geovals: [mole_fraction_of_ozone_in_air]
  #  coefficients: [0.007886131] # convert from ppmv to DU
  #  nlevels: [22]

  # Observation Operator
  # --------------------
  obs operator:
    name: ColumnRetrieval
    nlayers_retrieval: 1
    tracer variables: [mole_fraction_of_ozone_in_air]
    isApriori: false
    isAveragingKernel: false
    totalNoVertice: false
    stretchVertices: none #options: top, bottom, topbottom, none
  # model units coeff: 2.240013904035E-3 # this number to match the gsihofx values
    model units coeff: 2.241398632746E-3 # this number to match the gsihofx values (use this)
                                         # the actual scientific conversion factor is
                                         # 2.1415E-3 kg[O3]/m-2 to DU
                                         # so the name of the geovals
                                         # is also likely wrong, as it apprears to be a mass
                                         # fraction given the conversion factor needed

  # Observation Pre Filters (QC)
  # ----------------------------
  obs pre filters:
  # Observation error assignment
  - filter: Perform Action
    filter variables:
    - name: ozoneLayer
    action:
      name: assign error
      error function:
        name: ObsFunction/ObsErrorModelStepwiseLinear
        options:
          xvar:
            name: MetaData/pressure
          xvals: [0.001, 10.1325, 16.00935, 25.43258, 40.32735, 63.93607, 101.325,
            160.0935, 254.3257, 403.2735, 639.3608, 1013.25, 1600.935, 2543.258, 4032.735,
            6393.607, 10132.5, 16009.35, 25432.57, 40327.35, 63936.07, 101325]
          errors: [7.7236, 0.020, 0.020, 0.025, 0.080, 0.150, 0.056, 0.125, 0.200,
            0.299, 0.587, 0.864, 1.547, 2.718, 3.893, 4.353, 3.971, 4.407, 4.428,
            3.312, 2.198, 2.285]
  #       errors: [7.7236, 0.020, 0.020, 0.025, 0.040, 0.080, 0.156, 0.245, 0.510, 1.098, 3.917, 6.124, 6.347, 5.798, 6.843, 9.253,10.091,10.967, 8.478, 5.572, 2.638, 3.525]  # operational from gfs.v16.3.9 (late 2023)

  # Observation Prior Filters (QC)
  # ------------------------------
  obs prior filters:
  # Do not assimilation where pressure is zero
  # Zero pressure indicates the data is total column ozone
  - filter: RejectList
    filter variables:
    - name: ozoneLayer
    where:
    - variable:
        name: MetaData/pressure
      maxvalue: 0.0001

  # Sanity check on observaton values
  - filter: Bounds Check
    filter variables:
    - name: ozoneLayer
    minvalue: 0
    maxvalue: 1000
    action:
      name: reject

  # Total Ozone Quality Check (keeps 0, 2)
  # 0 indentifies good data
  # 2 identifies good data with a solar zenith angle > 84 degrees
  - filter: RejectList
    filter variables:
    - name: ozoneLayer
    where:
    - variable:
        name: MetaData/totalOzoneQuality
      is_not_in: 0, 2

  # Profile Ozone Quality Check (keeps 0, 1, 7)
  # 0 : good data
  # 1 : good data with a solar zenith angle > 84 degrees
  # 7 : profile for which stray light correction applied
  - filter: RejectList
    filter variables:
    - name: ozoneLayer
    where:
    - variable:
        name: MetaData/profileOzoneQuality
      is_not_in: 0, 1, 7

  # Observation Post Filters (QC)
  # -----------------------------
  obs post filters:
  # Gross error check
  - filter: Background Check
    filter variables:
    - name: ozoneLayer
    absolute threshold: 120
    action:
      name: reject
    where:
    - variable:
        name: MetaData/pressure
      maxvalue: 0.001

  - filter: Background Check
    filter variables:
    - name: ozoneLayer
    absolute threshold: 30
    action:
      name: reject
    where:
    - variable:
        name: MetaData/pressure
      minvalue: 30000.0
      maxvalue: 110000.0

  - filter: Background Check
    filter variables:
    - name: ozoneLayer
    absolute threshold: 40
    action:
      name: reject
    where:
    - variable:
        name: MetaData/pressure
      minvalue: 20000.0
      maxvalue: 30000.0

  - filter: Background Check
    filter variables:
    - name: ozoneLayer
    absolute threshold: 44.42
    action:
      name: reject
    where:
    - variable:
        name: MetaData/pressure
      minvalue: 10100.0
      maxvalue: 20000.0

  - filter: Background Check
    filter variables:
    - name: ozoneLayer
    absolute threshold: 57.52
    action:
      name: reject
    where:
    - variable:
        name: MetaData/pressure
      minvalue: 6400.0
      maxvalue: 10100.0

  - filter: Background Check
    filter variables:
    - name: ozoneLayer
    absolute threshold: 69.4
    action:
      name: reject
    where:
    - variable:
        name: MetaData/pressure
      minvalue: 4000.0
      maxvalue: 6400.0

  - filter: Background Check
    filter variables:
    - name: ozoneLayer
    absolute threshold: 70
    action:
      name: reject
    where:
    - variable:
        name: MetaData/pressure
      minvalue: 2600.0
      maxvalue: 4000.0

  - filter: Background Check
    filter variables:
    - name: ozoneLayer
    absolute threshold: 62.73
    action:
      name: reject
    where:
    - variable:
        name: MetaData/pressure
      minvalue: 1600.0
      maxvalue: 2600.0

  - filter: Background Check
    filter variables:
    - name: ozoneLayer
    absolute threshold: 50.52
    action:
      name: reject
    where:
    - variable:
        name: MetaData/pressure
      minvalue: 1100.0
      maxvalue: 1600.0

  - filter: Background Check
    filter variables:
    - name: ozoneLayer
    absolute threshold: 35.9
    action:
      name: reject
    where:
    - variable:
        name: MetaData/pressure
      minvalue: 700.0
      maxvalue: 1100.0

  - filter: Background Check
    filter variables:
    - name: ozoneLayer
    absolute threshold: 26.41
    action:
      name: reject
    where:
    - variable:
        name: MetaData/pressure
      minvalue: 400.0
      maxvalue: 700.0

  - filter: Background Check
    filter variables:
    - name: ozoneLayer
    absolute threshold: 20.51
    action:
      name: reject
    where:
    - variable:
        name: MetaData/pressure
      minvalue: 300.0
      maxvalue: 400.0

  - filter: Background Check
    filter variables:
    - name: ozoneLayer
    absolute threshold: 12.82
    action:
      name: reject
    where:
    - variable:
        name: MetaData/pressure
      minvalue: 200.0
      maxvalue: 300.0

  - filter: Background Check
    filter variables:
    - name: ozoneLayer
    absolute threshold: 10
    action:
      name: reject
    where:
    - variable:
        name: MetaData/pressure
      minvalue: 70.0
      maxvalue: 200.0

  - filter: Background Check
    filter variables:
    - name: ozoneLayer
    absolute threshold: 5
    action:
      name: reject
    where:
    - variable:
        name: MetaData/pressure
      minvalue: 40.0
      maxvalue: 70.0

  - filter: Background Check
    filter variables:
    - name: ozoneLayer
    absolute threshold: 2
    action:
      name: reject
    where:
    - variable:
        name: MetaData/pressure
      minvalue: 30.0
      maxvalue: 40.0

  - filter: Background Check
    filter variables:
    - name: ozoneLayer
    absolute threshold: 1
    action:
      name: reject
    where:
    - variable:
        name: MetaData/pressure
      maxvalue: 30.0

  # End of Filters

  # Observation Localizations (LocalEnsembleDA)
  # -------------------------------------------
  obs localizations:
  - localization method: Horizontal Gaspari-Cohn
    lengthscale: 1250e3
    max nobs: 10000

  # GeoVaLs for Driving Observation Operators (testing mode)
  # --------------------------------------------------------
  geovals:
    filename: "{{atmosphere_obsdatain_path}}/{{atmosphere_obsdatain_prefix}}{{observation_from_jcb}}_geoval{{atmosphere_obsdatain_suffix}}"

  # Passed benchmark for UFO testing
  # --------------------------------
  passedBenchmark: 0
