{% set gcyc = previous_cycle | strftime("%H") %}

geometry:
  geom_grid_file: soca_gridspec.nc
  mom6_input_nml: mom_input.nml
  fields metadata: fields_metadata.yaml

time window:
  begin: &date '{{ WINDOW_BEGIN | to_isotime }}'
  length: PT6H 

background:
  members from template:
    template:
      date: '{{ WINDOW_MIDDLE | to_isotime }}'
      ocn_filename: "ocean.%mem%.nc"
      ice_filename: "ice.%mem%.nc"
      read_from_file: 1
      basename: {{ ENSPERT_RELPATH }}/ens/
      state variables: [sea_water_salinity, sea_water_potential_temperature, sea_surface_height_above_geoid, sea_water_cell_thickness, eastward_sea_water_velocity, northward_sea_water_velocity, sea_ice_area_fraction]
    pattern: '%mem%'
    nmembers: {{ NMEM_ENS  }}

observations:
  observers:

driver:
  do posterior observer: true
  save posterior mean increment: true
  save posterior mean: true
  save posterior variance: true
  save prior mean: true
  save prior variance: true

local ensemble DA:
  solver: LETKF
  inflation:
    rtps: 0.5
    rtpp: 0.6
    mult: 1.1

output:
  datadir: letkf_output/
  date: *date
  exp: letkf
  type: ens

output mean prior:
  datadir: letkf_output/
  date: *date
  exp: letkf.mean_prior
  type: fc

output variance prior:
  datadir: letkf_output/
  date: *date
  exp: letkf.var_prior
  type: fc

output variance posterior:
  datadir: letkf_output/
  date: *date
  exp: letkf.var_post
  type: an

output increment:
  datadir: letkf_output/
  date: *date
  exp: letkf.inc
  type: ens
