geometry:
  geom_grid_file: soca_gridspec.nc
  mom6_input_nml: mom_input.nml
  fields metadata: fields_metadata.yaml

time window:
  begin: &date '{{ WINDOW_BEGIN | to_isotime }}'
  length: PT6H 

background:
  members from template:
    template:
      date: '{{ WINDOW_MIDDLE | to_isotime }}'
      ocn_filename: "{{ RUN }}.ocean.t{{ gcyc }}z.inst.f006.nc"
      ice_filename: "{{ RUN }}.ice.t{{ gcyc }}z.inst.f006.nc"
      read_from_file: 1
      basename: ./ens/mem%mem%
      state variables: [socn, tocn, ssh, uocn, vocn, cicen]
    pattern: '%mem%'
    nmembers: {{ NMEM_ENS  }}

observations:
  observers:

driver:
  do posterior observer: true
  save posterior mean increment: true
  save posterior mean: true
  save posterior variance: true
  save prior mean: true
  save prior variance: true

local ensemble DA:
  solver: LETKF
  inflation:
    rtps: 0.5
    rtpp: 0.6
    mult: 1.1

output:
  datadir: data_output/
  date: *date
  exp: letkf
  type: ens

output mean prior:
  datadir: data_output/
  date: *date
  exp: letkf
  type: fc

output variance prior:
  datadir: data_output/
  date: *date
  exp: letkf
  type: fc

output variance posterior:
  datadir: data_output/
  date: *date
  exp: letkf
  type: an

output increment:
  datadir: data_output/
  date: *date
  exp: letkf.inc
  type: an

