[submodule "sorc/jedicmake"]
  path = sorc/jedicmake
  url = https://github.com/jcsda/jedi-cmake.git
[submodule "sorc/oops"]
  path = sorc/oops
  url = https://github.com/jcsda/oops.git
  branch = develop
[submodule "sorc/vader"]
  path = sorc/vader
  url = https://github.com/jcsda/vader.git
  branch = develop
[submodule "sorc/saber"]
  path = sorc/saber
  url = https://github.com/jcsda/saber.git
  branch = develop
[submodule "sorc/ioda"]
  path = sorc/ioda
  url = https://github.com/jcsda/ioda.git
  branch = develop
[submodule "sorc/ufo"]
  path = sorc/ufo
  url = https://github.com/jcsda/ufo.git
  branch = develop
[submodule "sorc/fv3-jedi-lm"]
  path = sorc/fv3-jedi-lm
  url = https://github.com/jcsda/fv3-jedi-linearmodel.git
  branch = develop
[submodule "sorc/fv3-jedi"]
  path = sorc/fv3-jedi
  url = https://github.com/jcsda/fv3-jedi.git
  branch = develop
[submodule "sorc/crtm"]
  path = sorc/crtm
  url = https://github.com/jcsda/crtm.git
  branch = release/crtm_jedi_v2.4.1
[submodule "sorc/jcb"]
  path = sorc/jcb
  url = https://github.com/noaa-emc/jcb.git
  branch = develop
[submodule "parm/jcb-gdas"]
  path = parm/jcb-gdas
  url = https://github.com/noaa-emc/jcb-gdas
  branch = develop
[submodule "parm/jcb-algorithms"]
  path = parm/jcb-algorithms
  url = https://github.com/noaa-emc/jcb-algorithms
  branch = develop
[submodule "sorc/da-utils"]
  path = sorc/da-utils
  url = https://github.com/noaa-emc/da-utils.git
  branch = develop
