jedi_config:
    atm_addincrement:
        rundir: '{{ DATA }}'
        exe_src: '{{ EXECgfs }}/gdas.x'
        jedi_args: ['fv3jedi', 'addincrement']
        mpi_cmd: '{{ APRUN_ANALCALC_FV3JEDI }}'
        jcb_base_yaml: '{{ PARMgfs }}/gdas/atm/jcb-base.yaml.j2'
        jcb_algo: atm_addincrement
{% if DO_AERO_ANL %}
    aero_addincrement:
        rundir: '{{ DATA }}'
        exe_src: '{{ EXECgfs }}/gdas.x'
        jedi_args: ['fv3jedi', 'addincrement']
        mpi_cmd: '{{ APRUN_ANALCALC_FV3JEDI }}'
        jcb_base_yaml: '{{ PARMgfs }}/gdas/aero/jcb-base.yaml.j2'
        jcb_algo: aero_addincrement
{% endif %}
{% if DO_JEDISNOWDA %}
    snow_addincrement:
        rundir: '{{ DATA }}'
        exe_src: '{{ EXECgfs }}/gdas.x'
        jedi_args: ['fv3jedi', 'addincrement']
        mpi_cmd: '{{ APRUN_ANALCALC_FV3JEDI }}'
        jcb_base_yaml: '{{ PARMgfs }}/gdas/snow/jcb-base.yaml.j2'
        jcb_algo: snow_addincrement
{% endif %}

data_in:
    mkdir:
    - '{{ DATA }}/fv3jedi'
    copy:
    - ['{{ COMIN_ATMOS_HISTORY_PREV }}/{{ GPREFIX }}atm.f006.nc', '{{ DATA }}/{{ GPREFIX }}atmf006.nc']
    - ['{{ COMIN_ATMOS_HISTORY_PREV }}/{{ GPREFIX }}sfc.f006.nc', '{{ DATA }}/{{ GPREFIX }}sfcf006.nc']
    - ['{{ COMIN_ATMOS_HISTORY_PREV }}/{{ GPREFIX }}csg_atm.f006.nc', '{{ DATA }}/{{ GPREFIX }}cubed_sphere_grid_atmf006.nc']
    - ['{{ COMIN_ATMOS_HISTORY_PREV }}/{{ GPREFIX }}csg_sfc.f006.nc', '{{ DATA }}/{{ GPREFIX }}cubed_sphere_grid_sfcf006.nc']

{% for itile in range(6) %}
    - ['{{ COMIN_ATMOS_ANALYSIS }}/{{ APREFIX }}jedi_increment.tile{{ itile+1 }}.atm.i006.nc', '{{ DATA }}']
    {% if DO_AERO_ANL %}
    - ['{{ COMIN_AERO_ANALYSIS }}/{{ APREFIX }}aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile{{ itile+1 }}.nc', '{{ DATA }}']
    {% endif %}
    {% if DO_JEDISNOWDA %}
    - ['{{ COMIN_SNOW_ANALYSIS }}/{{ APREFIX }}snowinc.{{ current_cycle | to_fv3time }}.sfc_data.tile{{ itile+1 }}.nc', '{{ DATA }}']
    {% endif %}
{% endfor %}

{% filter indent(width=4) %}
{% include PARMgfs ~ '/gdas/' ~ '/atm/' ~ 'atm_stage_jedi_fix.yaml.j2' %}
{% endfilter %}

data_out:
    copy:
    - ['{{ DATA }}/{{ GPREFIX }}atmf006.nc', '{{ COMOUT_ATMOS_ANALYSIS }}/{{ APREFIX }}jedi_analysis.atm.a006.nc']
    - ['{{ DATA }}/{{ GPREFIX }}sfcf006.nc', '{{ COMOUT_ATMOS_ANALYSIS }}/{{ APREFIX }}jedi_analysis.sfc.a006.nc']
    - ['{{ DATA }}/atm_addincrement.yaml', '{{ COMOUT_CONF }}/{{ APREFIX }}atm_addincrement.yaml']
{% if DO_AERO_ANL %}
    - ['{{ DATA }}/aero_addincrement.yaml', '{{ COMOUT_CONF }}/{{ APREFIX }}aero_addincrement.yaml']
{% endif %}
{% if DO_JEDISNOWDA %}
    - ['{{ DATA }}/snow_addincrement.yaml', '{{ COMOUT_CONF }}/{{ APREFIX }}snow_addincrement.yaml']
{% endif %}
