jedi_config:
    atm_addincrement:
        rundir: '{{ DATA }}'
        exe_src: '{{ EXECglobal }}/gdas.x'
        jedi_args: ['fv3jedi', 'addincrement']
        mpi_cmd: '{{ APRUN_ANALCALC_FV3JEDI }}'
        jcb_base_yaml: '{{ PARMglobal }}/gdas/atm/jcb-base.yaml.j2'
        jcb_algo: atm_addincrement
{% if DO_AERO_ANL %}
    aero_addincrement:
        rundir: '{{ DATA }}'
        exe_src: '{{ EXECglobal }}/gdas.x'
        jedi_args: ['fv3jedi', 'addincrement']
        mpi_cmd: '{{ APRUN_ANALCALC_FV3JEDI }}'
        jcb_base_yaml: '{{ PARMglobal }}/gdas/aero/jcb-base.yaml.j2'
        jcb_algo: aero_addincrement
{% endif %}
{% if DO_JEDISNOWDA %}
    snow_addincrement:
        rundir: '{{ DATA }}'
        exe_src: '{{ EXECglobal }}/gdas.x'
        jedi_args: ['fv3jedi', 'addincrement']
        mpi_cmd: '{{ APRUN_ANALCALC_FV3JEDI }}'
        jcb_base_yaml: '{{ PARMglobal }}/gdas/snow/jcb-base.yaml.j2'
        jcb_algo: snow_addincrement
{% endif %}

data_in:
    mkdir:
    - '{{ DATA }}/fv3jedi'
    copy_req:
    - ['{{ COMIN_ATMOS_HISTORY_PREV }}/{{ GPREFIX }}atm.f006.nc', '{{ DATA }}/{{ GPREFIX }}atmf006.nc']
    - ['{{ COMIN_ATMOS_HISTORY_PREV }}/{{ GPREFIX }}sfc.f006.nc', '{{ DATA }}/{{ GPREFIX }}sfcf006.nc']
    - ['{{ COMIN_ATMOS_HISTORY_PREV }}/{{ GPREFIX }}csg_atm.f006.nc', '{{ DATA }}/{{ GPREFIX }}cubed_sphere_grid_atmf006.nc']
    - ['{{ COMIN_ATMOS_HISTORY_PREV }}/{{ GPREFIX }}csg_sfc.f006.nc', '{{ DATA }}/{{ GPREFIX }}cubed_sphere_grid_sfcf006.nc']

    - ['{{ COMIN_ATMOS_ANALYSIS }}/{{ APREFIX }}jedi_increment.atm.i006.tile1.nc', '{{ DATA }}/{{ APREFIX }}cubed_sphere_grid_atminc.tile1.nc']
    - ['{{ COMIN_ATMOS_ANALYSIS }}/{{ APREFIX }}jedi_increment.atm.i006.tile2.nc', '{{ DATA }}/{{ APREFIX }}cubed_sphere_grid_atminc.tile2.nc']
    - ['{{ COMIN_ATMOS_ANALYSIS }}/{{ APREFIX }}jedi_increment.atm.i006.tile3.nc', '{{ DATA }}/{{ APREFIX }}cubed_sphere_grid_atminc.tile3.nc']
    - ['{{ COMIN_ATMOS_ANALYSIS }}/{{ APREFIX }}jedi_increment.atm.i006.tile4.nc', '{{ DATA }}/{{ APREFIX }}cubed_sphere_grid_atminc.tile4.nc']
    - ['{{ COMIN_ATMOS_ANALYSIS }}/{{ APREFIX }}jedi_increment.atm.i006.tile5.nc', '{{ DATA }}/{{ APREFIX }}cubed_sphere_grid_atminc.tile5.nc']
    - ['{{ COMIN_ATMOS_ANALYSIS }}/{{ APREFIX }}jedi_increment.atm.i006.tile6.nc', '{{ DATA }}/{{ APREFIX }}cubed_sphere_grid_atminc.tile6.nc']

    {% set tmpl_dict = ({ '${ROTDIR}': ROTDIR,
                          '${RUN}': 'enkf' ~ RUN,
                          '${YMD}': previous_cycle | to_YMD,
                          '${HH}': previous_cycle | strftime('%H'),
                          '${MEMDIR}': 'mem001' }) %}
    - ['{{ COM_ATMOS_HISTORY_TMPL | replace_tmpl(tmpl_dict) }}//{{ GPREFIX_ENS }}atm.f006.nc', '{{ DATA }}']

    {% if DO_AERO_ANL %}
    - ['{{ COMIN_AERO_ANALYSIS }}/{{ APREFIX }}aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile1.nc', '{{ DATA }}']
    - ['{{ COMIN_AERO_ANALYSIS }}/{{ APREFIX }}aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile2.nc', '{{ DATA }}']
    - ['{{ COMIN_AERO_ANALYSIS }}/{{ APREFIX }}aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile3.nc', '{{ DATA }}']
    - ['{{ COMIN_AERO_ANALYSIS }}/{{ APREFIX }}aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile4.nc', '{{ DATA }}']
    - ['{{ COMIN_AERO_ANALYSIS }}/{{ APREFIX }}aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile5.nc', '{{ DATA }}']
    - ['{{ COMIN_AERO_ANALYSIS }}/{{ APREFIX }}aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile6.nc', '{{ DATA }}']
    {% endif %}

    {% if DO_JEDISNOWDA %}
    - ['{{ COMIN_SNOW_ANALYSIS }}/{{ APREFIX }}{{ current_cycle | to_fv3time }}.snow_increment.sfc_data.tile1.nc',
       '{{ DATA }}/snowinc.{{ current_cycle | to_fv3time }}.sfc_data.tile1.nc']
    - ['{{ COMIN_SNOW_ANALYSIS }}/{{ APREFIX }}{{ current_cycle | to_fv3time }}.snow_increment.sfc_data.tile2.nc',
       '{{ DATA }}/snowinc.{{ current_cycle | to_fv3time }}.sfc_data.tile2.nc']
    - ['{{ COMIN_SNOW_ANALYSIS }}/{{ APREFIX }}{{ current_cycle | to_fv3time }}.snow_increment.sfc_data.tile3.nc',
       '{{ DATA }}/snowinc.{{ current_cycle | to_fv3time }}.sfc_data.tile3.nc']
    - ['{{ COMIN_SNOW_ANALYSIS }}/{{ APREFIX }}{{ current_cycle | to_fv3time }}.snow_increment.sfc_data.tile4.nc',
       '{{ DATA }}/snowinc.{{ current_cycle | to_fv3time }}.sfc_data.tile4.nc']
    - ['{{ COMIN_SNOW_ANALYSIS }}/{{ APREFIX }}{{ current_cycle | to_fv3time }}.snow_increment.sfc_data.tile5.nc',
       '{{ DATA }}/snowinc.{{ current_cycle | to_fv3time }}.sfc_data.tile5.nc']
    - ['{{ COMIN_SNOW_ANALYSIS }}/{{ APREFIX }}{{ current_cycle | to_fv3time }}.snow_increment.sfc_data.tile6.nc',
       '{{ DATA }}/snowinc.{{ current_cycle | to_fv3time }}.sfc_data.tile6.nc']
    {% endif %}

{% filter indent(width=4) %}
{% include PARMglobal ~ '/gdas/' ~ '/atm/' ~ 'atm_stage_jedi_fix.yaml.j2' %}
{% endfilter %}

data_out:
    copy_req:
    - ['{{ DATA }}/{{ GPREFIX }}atmf006.nc', '{{ COMOUT_ATMOS_ANALYSIS }}/{{ APREFIX }}jedi_analysis.atm.a006.nc']
    - ['{{ DATA }}/{{ GPREFIX }}sfcf006.nc', '{{ COMOUT_ATMOS_ANALYSIS }}/{{ APREFIX }}jedi_analysis.sfc.a006.nc']
    - ['{{ DATA }}/atm_addincrement.yaml', '{{ COMOUT_CONF }}/{{ APREFIX }}atm_addincrement.yaml']
{% if DO_AERO_ANL %}
    - ['{{ DATA }}/aero_addincrement.yaml', '{{ COMOUT_CONF }}/{{ APREFIX }}aero_addincrement.yaml']
{% endif %}
{% if DO_JEDISNOWDA %}
    - ['{{ DATA }}/snow_addincrement.yaml', '{{ COMOUT_CONF }}/{{ APREFIX }}snow_addincrement.yaml']
{% endif %}
