date: '{{ marineijedi_window_begin_iso }}'
io:
  filetype: mom6
  datapath: letkf_output
  ocn_file: letkf.var_post.nc
  field io names:
    sea_water_potential_temperature: Temp
    sea_water_salinity: Salt
    sea_surface_height_above_geoid: ave_ssh
