datapath: {{ aero_background_path }}
filetype: fms restart
datetime: '{{ aero_background_time_iso }}'
filename is datetime templated: true
filename_core: '%yyyy%mm%dd.%hh%MM%ss.fv_core.res.nc'
filename_trcr: '%yyyy%mm%dd.%hh%MM%ss.fv_tracer.res.nc'
filename_cplr: '%yyyy%mm%dd.%hh%MM%ss.coupler.res'
state variables: {{ aero_det_state_variables }}
field io names: {{ aero_field_io_names_crtm }}
