grid type: regular gaussian
local interpolator type: atlas interpolator
interpolation method:
  type: finite-element
number of latitude gridpoints: {{ aero_npy_anl - 1 }}
variables to output: {{ aero_increment_variables }}
all model levels: true
datapath: {{ aero_analysis_path }}
prefix: aeroinc_gauss
