covariance model: SABER
saber central block:
  saber block name: diffusion 
  read:
    groups:
    - variables: [mass_fraction_of_sulfate_in_air,
                       mass_fraction_of_hydrophobic_black_carbon_in_air,
                       mass_fraction_of_hydrophilic_black_carbon_in_air,
                       mass_fraction_of_hydrophobic_organic_carbon_in_air,
                       mass_fraction_of_hydrophilic_organic_carbon_in_air,
                       mass_fraction_of_dust001_in_air, mass_fraction_of_dust002_in_air,
                       mass_fraction_of_dust003_in_air, mass_fraction_of_dust004_in_air,
                       mass_fraction_of_dust005_in_air, mass_fraction_of_sea_salt001_in_air,
                       mass_fraction_of_sea_salt002_in_air, mass_fraction_of_sea_salt003_in_air,
                       mass_fraction_of_sea_salt004_in_air]
      horizontal:
        filepath: "{{aero_berror_data_directory}}/diffusion_hz"
      vertical:
        levels: {{aero_npz_anl}} 
        filepath: "{{aero_berror_data_directory}}/diffusion_vt" 
saber outer blocks:
- saber block name: StdDev
  read:
    model file:
      datetime: "{{ aero_cycle_time_iso }}"
      set datetime on read: true
      filetype: fms restart
      psinfile: true
      datapath: "{{aero_berror_data_directory}}"
      filename_core: '{{ aero_cycle_time_fv3 }}.stddev.fv_core.res.nc'
      filename_trcr: '{{ aero_cycle_time_fv3 }}.stddev.fv_tracer.res.nc'
      filename_cplr: '{{ aero_cycle_time_fv3 }}.stddev.coupler.res'
      date: "{{ aero_cycle_time_iso }}" 
