covariance model: SABER
saber central block:
  saber block name: diffusion
  read:
    groups:
    - variables: [tocn, socn, ssh]
      horizontal:
        filepath: ./staticb/hz_ocean
      vertical:
        levels: {{marine_vt_levels}}
        filepath: ./staticb/vt_ocean
    - variables: [cicen]
      horizontal:
        filepath: ./staticb/hz_ice

saber outer blocks:
- saber block name: StdDev
  read:
    model file:
      date: '{{marine_stddev_time}}'
      basename: ./staticb/
      ocn_filename: 'ocn.bkgerr_stddev.nc'
      ice_filename: 'ice.bkgerr_stddev.nc'
      read_from_file: 3

linear variable change:
  input variables: [cicen, hicen, hsnon, socn, tocn, uocn, vocn, ssh]
  output variables: [cicen, hicen, hsnon, socn, tocn, uocn, vocn, ssh]
  linear variable changes:
  - linear variable change name: BalanceSOCA
