members from template:
  template:
    date: '{{ marine_window_middle_iso }}'
    ocn_filename: "ocean.%mem%.nc"
    ice_filename: "ice.%mem%.nc"
    read_from_file: 1
    basename: {{ marine_enspert_relpath }}/ens/
{% if marine_letkf_app %}
    state variables: [sea_water_salinity, sea_water_potential_temperature, sea_surface_height_above_geoid, sea_water_cell_thickness, eastward_sea_water_velocity, northward_sea_water_velocity, sea_ice_area_fraction, sea_ice_thickness, sea_ice_snow_thickness]
{% else %}
    state variables: [sea_water_salinity, sea_water_potential_temperature, sea_surface_height_above_geoid, sea_water_cell_thickness, eastward_sea_water_velocity, northward_sea_water_velocity, sea_ice_area_fraction]
{% endif %}
  pattern: '%mem%'
  nmembers: {{ marine_number_ensemble_members }}
