- ninner: {{marine_ninner_1}}
  gradient norm reduction: {{marine_grad_red_1}}
  geometry:
    mom6_input_nml: mom_input.nml
    fields metadata: {{marine_soca_files_path}}/fields_metadata.yaml
  diagnostics:
    departures: ombg
