members from template:
  template:
    date: '{{ marine_window_middle_iso }}'
    ocn_filename: "ocean.%mem%.nc"
    ice_filename: "ice.%mem%.nc"
    read_from_file: 1
    basename: {{ marine_enspert_relpath }}/ens/
    state variables: {{ increment_variables }}
  pattern: '%mem%'
  nmembers: {{ marine_number_ensemble_members }}
