read_from_file: 1
basename: {{ marine_background_path}}
ocn_filename: MOM.res.nc
ice_filename: cice.res.nc
date: "{{ marine_background_time }}"
state variables: [cicen, hicen, hsnon, socn, tocn, uocn, vocn, ssh, hocn, mld, layer_depth]
