output:
  state component:
    datadir: {{marine_final_increment_dir}}
    date: '{{marine_window_begin}}'
    exp: {{marine_final_increment_exp}}
    type: incr
geometry:
  mom6_input_nml: mom_input.nml
  fields metadata: {{marine_soca_files_path}}/fields_metadata.yaml
