date: "{{ marine_background_time }}"
state variables: {{ marine_ijedi_state_variables }}
io:
  filetype: mom6
  datapath: {{ marine_background_path }}
  ocn_file: MOM.res.nc
  field io names: {{ marine_ijedi_field_io_names }}
