variable change:
  variable change name: Model2GeoVaLs
  input variables: &inputvars [ua,va,t,ps,sphum,ice_wat,liq_wat,o3mr,surface_geopotential_height]
  output variables: [delp,hydrostatic_delz]
active increment variables: [t,ps,sphum]
remaining increment variables: [ua,va,ice_wat,liq_wat,o3mr]
background geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ layout_x }}
  - {{ layout_y }}
  npx: {{ npx_ges }}
  npy: {{ npy_ges }}
  npz: {{ npz_ges }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_history.yaml
jedi increment geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ layout_x }}
  - {{ layout_y }}
  npx: {{ npx_ges }}
  npy: {{ npy_ges }}
  npz: {{ npz_ges }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_history.yaml
fv3 increment geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ layout_x }}
  - {{ layout_y }}
  npx: {{ npx_ges }}
  npy: {{ npy_ges }}
  npz: {{ npz_ges }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_fv3inc.yaml
members from template:
  template:
    background input:
      datetime: '{{ current_cycle | to_isotime }}'
      filetype: cube sphere history
      provider: ufs
      datapath: ./bkg/mem%mem%
      filename: {{ EPREFIX }}atmf006.nc
      state variables: *inputvars
    jedi increment input:
      filetype: cube sphere history
      filename: ./anl/mem%mem%/atminc.{{ current_cycle | to_fv3time }}.nc4
      provider: ufs
    fv3 increment output:
      filetype: auxgrid
      gridtype: gaussian
      filename: ./anl/mem%mem%/atminc.
  pattern: '%mem%'
  nmembers: {{ NMEM_ENS }}
  zero padding: 3    
