variable change:
  variable change name: Model2GeoVaLs
  input variables: &inputvars [ua,va,t,ps,sphum,ice_wat,liq_wat,o3mr,phis]
  output variables: [ua,va,t,sphum,ice_wat,liq_wat,o3mr,delp,hydrostatic_delz]
background:
  geometry:
    fms initialization:
      namelist filename: ./fv3jedi/fmsmpp.nml
      field table filename: ./fv3jedi/field_table
    akbk: ./fv3jedi/akbk.nc4
    layout:
    - ${{ layout_x }}
    - ${{ layout_y }}
    npx: ${{ npx_ges }}
    npy: ${{ npy_ges }}
    npz: ${{ npz_ges }}
    field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_restart.yaml
  input:
    datapath: ./bkg
    filetype: fms restart
    datetime: '{{ current_cycle | to_isotime }}'
    filename_core: '{{ current_cycle | to_fv3time }}.fv_core.res.nc'
    filename_trcr: '{{ current_cycle | to_fv3time }}.fv_tracer.res.nc'
    filename_sfcd: '{{ current_cycle | to_fv3time }}.sfc_data.nc'
    filename_sfcw: '{{ current_cycle | to_fv3time }}.fv_srf_wnd.res.nc'
    filename_cplr: '{{ current_cycle | to_fv3time }}.coupler.res'
    state variables: *inputvars
jedi increment:
  input variables: [ua,va,t,ps,sphum,ice_wat,liq_wat,o3mr]
  geometry:
    fms initialization:
      namelist filename: ./fv3jedi/fmsmpp.nml
      field table filename: ./fv3jedi/field_table
    akbk: ./fv3jedi/akbk.nc4
    layout:
    - ${{ layout_x }}
    - ${{ layout_y }}
    npx: ${{ npx_ges }}
    npy: ${{ npy_ges }}
    npz: ${{ npz_ges }}
    field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_history.yaml
  input:
    filetype: cube sphere history
    filename: ./anl/atminc.{{ current_cycle | to_fv3time }}.nc4
    provider: ufs
fv3 increment:
  geometry:
    fms initialization:
      namelist filename: ./fv3jedi/fmsmpp.nml
      field table filename: ./fv3jedi/field_table
    akbk: ./fv3jedi/akbk.nc4
    layout:
    - ${{ layout_x }}
    - ${{ layout_y }}
    npx: ${{ npx_ges }}
    npy: ${{ npy_ges }}
    npz: ${{ npz_ges }}
    field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_fv3inc.yaml
  output:
    filetype: auxgrid
    gridtype: gaussian
    filename: ./anl/atminc.
    
