geometry:
{% filter indent(width=2) %}
{% set geometry_background_file = geometry_background_file|default(model_component ~ 'geometry_background', true) ~ '.yaml.j2' %}
{% include geometry_background_file %}
{% endfilter %}
mean output:
  filetype: fms restart
  datapath: ./bkg/ensmean
  filename_core: fv_core.res.nc
  filename_trcr: fv_tracer.res.nc
  filename_sfcd: sfc_data.nc
  filename_sfcw: fv_srf_wnd.res.nc
  filename_cplr: coupler.res
  state variables: {{ snow_ensmean_state_variables }}
  field io names: {{ snow_field_io_names }}
ensemble:
  members from template:
    template:
      datetime: '{{ snow_background_time_iso }}'
      filetype: fms restart
      state variables: {{ snow_ensmean_state_variables }}
      field io names: {{ snow_field_io_names }}
      datapath: ./bkg/mem%mem%/
      filename_sfcd: '{{ snow_background_time_fv3 }}.sfc_data.nc'
      filename_cplr: '{{ snow_background_time_fv3 }}.coupler.res'
      filename_orog: '{{ snow_orog_prefix }}_oro_data.nc'
    pattern: '%mem%'
    nmembers: {{ snow_number_ensemble_members }}
    zero padding: 3
