mkdir:
    - '{{snow_obsdatain_path}}'
copy_opt:
    {% for observation_from_jcb in observations %}
      {% if use_observer(observation_from_jcb) %}
        {% if not observation_from_jcb == 'ims_snow' %}
        # skip if ims_snow since it is special
          {% if observation_from_jcb == 'snocvr_snow' %}
          # snocvr_snow is a .nc file, TODO rename this eventually?
    - ['{{snow_obsdataroot_path}}/{{snow_obsdatain_prefix}}{{observation_from_jcb}}.nc4', '{{snow_obsdatain_path}}']
          {% else %}
    - ['{{snow_obsdataroot_path}}/{{snow_obsdatain_prefix}}{{observation_from_jcb}}{{snow_obsdatain_suffix}}', '{{snow_obsdatain_path}}']
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
