- obs space:
    name: aod
    obsdatain:
      engine:
        type: H5File
        obsfile: {{ aero_obsdatain_path }}/diag_{{ obspace }}_{{ stat_current_cycle_YMDH }}.nc4
    simulated variables: {{ aero_obsdatatin_simulated_variables }}
    observed variables: {{ aero_obsdatain_observed_variables }}
  variables: {{ aero_variables }}
  groups to process: {{ aero_file_groups }}
  qc groups: {{ aero_file_qc_groups }}
  statistics to compute: ['mean', 'count', 'RMS']
  output file: "{{ obspace }}_{{ stat_current_cycle_YMDH }}_output_aod.nc"
  domains to process:
  - domain:
      name: "nowhere"
      first mask variable: latitude
      first mask range: [-180,-100]
  - domain:
      name: "SH"
      first mask variable: latitude
      first mask range: [-90,0]
  - domain:
      name: "NH"
      first mask variable: latitude
      first mask range: [0,90]
  - domain:
      name: "CONUS"
      first mask variable: latitude
      first mask range: [25,49]
      second mask variable: longitude
      second mask range: [-125,-66]
  - domain:
      name: "Europe"
      first mask variable: latitude
      first mask range: [35,70]
      second mask variable: longitude
      second mask range: [-11,38]
  - domain:
      name: "Africa"
      first mask variable: latitude
      first mask range: [-35,37]
      second mask variable: longitude
      second mask range: [-17,52]
  - domain:
      name: "Asia"
      first mask variable: latitude
      first mask range: [0,70]
      second mask variable: longitude
      second mask range: [38, 180]  