observers:
{% filter indent(width=2) %}
{% include 'atm/obs/config/satwind_abi_goes-16.yaml.j2' %}
{% include 'atm/obs/config/scatwind_ascat_metop-b.yaml.j2' %}
{% include 'atm/obs/config/conv_ps.yaml.j2' %}
{% include 'atm/obs/config/gnssro.yaml.j2' %}
{% set cycle = current_cycle | strftime("t%Hz") %}
{% endfilter %}
