# JEDI algorithm being invoked
algorithm: 3dfgat

# Observations
#observations: !INC ${OBS_LIST_SHORT}

observations:
# ADT
- adt_rads_all

#SSS
- sss_smap_l2
- sss_smos_l2

# SST
- sst_avhrr_ma_l3u
- sst_avhrr_mb_l3u
- sst_avhrr_mc_l3u
- sst_viirs_npp_l3u
- sst_viirs_n20_l3u
- sst_abi_g16_l3c
- sst_abi_g17_l3c
- sst_ahi_h08_l3c

# Ice concentration
- icec_amsr2_north
- icec_amsr2_south
#- icec_viirs_n20_l2_north
#- icec_viirs_n20_l2_south
#- icec_amsu_mb_l2
#- icec_atms_n20_l2
#- icec_atms_n21_l2
#- icec_atms_npp_l2
#- icec_gmi_gpm_l2
#- icec_ssmis_f17_l2

# in situ: monthly
#- insitu_profile_bathy
#- insitu_temp_profile_argo
#- insitu_salt_profile_argo
#- insitu_profile_glider
#- insitu_profile_tesac
#- insitu_profile_tesac_salinity
#- insitu_profile_marinemammal
#- insitu_profile_xbtctd
#- insitu_surface_altkob
#- insitu_surface_trkob
#- insitu_surface_trkob_salinity

# in situ: daily
#- insitu_profile_dbuoy
#- insitu_profile_dbuoyb
#- insitu_profile_mbuoy
#- insitu_profile_mbuoyb
- insitu_profile_tropical
- insitu_surface_drifter
