gridgen:
  rundir: '{{ DATA }}'
  exe_src: '{{ EXECgfs }}/gdas_soca_gridgen.x'
  mpi_cmd: '{{ APRUN_OCNANALECEN }}'
  jcb_base_yaml: '{{ PARMgfs }}/gdas/soca/jcb-base.yaml.j2'
  jcb_algo: soca_gridgen
ens_handler:
  rundir: '{{ DATA }}'
  exe_src: '{{ EXECgfs }}/gdas_soca_ens_handler.x'
  mpi_cmd: '{{ APRUN_OCNANALECEN }}'
  jcb_base_yaml: '{{ PARMgfs }}/gdas/soca/jcb-base.yaml.j2'
  jcb_algo: soca_ens_handler