mkdir:
{% set tmpl_dict = ({ '${ROTDIR}': ROTDIR,
                      '${RUN}': RUN,
                      '${YMD}': current_cycle | to_YMD,
                      '${HH}': current_cycle | strftime('%H'),
                      '${MEMDIR}': 'ensstat' }) %}
- '{{ COM_OCEAN_ANALYSIS_TMPL | replace_tmpl(tmpl_dict) }}'
- '{{ COM_ICE_ANALYSIS_TMPL | replace_tmpl(tmpl_dict) }}'
{% for imem in range(1,NMEM_ENS+1) %}
    {% set memchar = 'mem%03d' | format(imem) %}
    {% set tmpl_dict = ({ '${ROTDIR}': ROTDIR,
                          '${RUN}': RUN,
                          '${YMD}': current_cycle | to_YMD,
                          '${HH}': current_cycle | strftime('%H'),
                          '${MEMDIR}': memchar }) %}
- '{{ COM_OCEAN_ANALYSIS_TMPL | replace_tmpl(tmpl_dict) }}'
- '{{ COM_ICE_ANALYSIS_TMPL | replace_tmpl(tmpl_dict) }}'
{% endfor %}
copy:
{% for imem in range(1,NMEM_ENS+1) %}
    {% set memchar = 'mem%03d' | format(imem) %}
    {% set tmpl_dict = ({ '${ROTDIR}': ROTDIR,
                          '${RUN}': RUN,
                          '${YMD}': current_cycle | to_YMD,
                          '${HH}': current_cycle | strftime('%H'),
                          '${MEMDIR}': memchar }) %}
- ['{{ DATA }}/ocn.recenter.incr.{{ imem | string }}.nc', '{{ COM_OCEAN_ANALYSIS_TMPL | replace_tmpl(tmpl_dict) }}/{{ RUN }}.t{{ "%02d" | format(cyc) }}z.ocninc.nc']
- ['{{ DATA }}/ens/cice_model.res.output.{{ imem | string }}.nc', '{{ COM_ICE_ANALYSIS_TMPL | replace_tmpl(tmpl_dict) }}/{{ cice_rst_date }}.cice_model_anl.res.nc']
{% endfor %}
{% set tmpl_dict = ({ '${ROTDIR}': ROTDIR,
                      '${RUN}': RUN,
                      '${YMD}': current_cycle | to_YMD,
                      '${HH}': current_cycle | strftime('%H'),
                      '${MEMDIR}': 'ensstat' }) %}
- ['{{ DATA }}/ocn.ensvar.incr.{{ MARINE_WINDOW_END_ISO }}.nc', '{{ COM_OCEAN_ANALYSIS_TMPL | replace_tmpl(tmpl_dict) }}/{{ RUN }}.ocean.t{{ "%02d" | format(cyc) }}z.bg_ensvar.nc']
- ['{{ DATA }}/ice.ensvar.incr.{{ MARINE_WINDOW_END_ISO }}.nc', '{{ COM_ICE_ANALYSIS_TMPL | replace_tmpl(tmpl_dict) }}/{{ RUN }}.ice.t{{ "%02d" | format(cyc) }}z.bg_ensvar.nc']
