mkdir:
- '{{ DATA }}/ens'
link:
{% for imem in range(1,nmem_ens+1) %}
    {% for domain in ['ocean', 'ice'] %}
- [ '{{ DATA }}/../ensdata/ens/{{ domain }}.{{ imem | format("%03d") }}.nc', '{{ DATA }}/ens/' ]
    {% endfor %}
{% endfor %}
copy:
{% for imem in range(1,nmem_ens+1) %}
    {% set memchar = 'mem%03d' | format(imem) %}
    {% set tmpl_dict = ({ '${ROTDIR}': ROTDIR,
                          '${RUN}': RUN,
                          '${YMD}': previous_cycle | to_YMD,
                          '${HH}': previous_cycle | strftime('%H'),
                          '${MEMDIR}': memchar }) %}
- ['{{ COM_ICE_RESTART_TMPL | replace_tmpl(tmpl_dict) }}/{{ cice_rst_date }}.cice_model.res.nc', '{{ DATA }}/ens/{{ memchar }}/{{ rst_date }}.cice_model.res.nc']
- ['{{ COM_ICE_RESTART_TMPL | replace_tmpl(tmpl_dict) }}/{{ cice_rst_date }}.cice_model.res.nc', '{{ DATA }}/ens/{{ memchar }}/{{ rst_date }}.cice_model.res.output.nc']
{% endfor %}
