     - obs space:
         name: adpsfc_specificHumidity_181
         obsdatain:
           engine:
             type: H5File
             obsfile: "data/obs/ioda_adpsfc.nc"
             missing file action: "warn"
           obsgrouping:
             group variables: ["stationIdentification"]
             sort variable: "pressure"
             sort order: "descending"
         obsdataout:
           empty obs space action: "{{empty_obs_space_action}}"
           write multiple files: {{write_multiple_files | default(false) }}
           engine:
             type: H5File
             obsfile: jdiag_adpsfc_specificHumidity_181.nc
             allow overwrite: true
         io pool:
           max pool size: {{ max_pool_size | default(1) }}
         observed variables: [specificHumidity]
         simulated variables: [specificHumidity]

       obs operator:
           name: VertInterp
           vertical coordinate: air_pressure
           observation vertical coordinate: pressure
           observation vertical coordinate group: MetaData
           interpolation method: log-linear
           variables:
           - name: specificHumidity

       linear obs operator:
         name: VertInterp

       obs error:
         covariance model: diagonal

       obs filters:
         # ------------------
         # specificHumidity (181)
         # ------------------
         # Accept, reject, or passivate (monitor)
         - filter: Perform Action
           udescriptor: "iuse_check"
           filter variables:
           - name: specificHumidity
           where:
           - variable: ObsType/specificHumidity
             is_in: 181
           action:
             name: {{iuse_adpsfc_specificHumidity_181 | default("passivate", true)}} # accept, reject, passivate

         # Reject all obs not in type
         - filter: Perform Action
           udescriptor: "obs_type_check"
           where:
           - variable: ObsValue/specificHumidity
             value: is_not_valid
           action:
             name: reduce obs space

         # Reject all obs not in kx
         - filter: Perform Action
           udescriptor: "obs_kx_check"
           where:
           - variable: ObsType/specificHumidity
             is_not_in: 181
           action:
             name: reduce obs space

         # Reject all obs with QualityMarker > 3
         - filter: RejectList
           udescriptor: "quality_marker_check"
           filter variables:
           - name: specificHumidity
           where:
           - variable: QualityMarker/specificHumidity
             is_in: 4-15
             value: is_not_valid
           where operator: or
           action:
             name: reduce obs space

         # Time window filter
         - filter: Bounds Check
           udescriptor: "time_window_check"
           filter variables:
           - name: specificHumidity
           test variables:
           - name: MetaData/timeOffset
           minvalue: -900
           maxvalue: 900
           where:
           - variable: ObsType/specificHumidity
             is_in: 181
           action:
             name: reduce obs space

         # Duplicate Check
         - filter: Temporal Thinning
           udescriptor: "duplicate_check"
           filter variables:
           - name: specificHumidity
           min_spacing: PT90M
           tolerance: PT0H
           seed_time: "{{atmosphere_background_time_iso}}"
           category_variable:
             name: MetaData/longitude_latitude_pressure
           where:
           - variable: ObsType/specificHumidity
             is_in: 181
           action:
             name: reduce obs space

         # Online regional domain check
         - filter: Bounds Check
           udescriptor: "online_domain_check"
           filter variables:
           - name: specificHumidity
           test variables:
           - name:  GeoVaLs/observable_domain_mask
           minvalue: 0.0
           maxvalue: 0.5

         # Initial error assignment
         - filter: Perform Action
           udescriptor: "initial_error_assignment"
           filter variables:
           - name: specificHumidity
           where:
           - variable: ObsType/specificHumidity
             is_in: 181
           action:
             name: assign error
             error function:
               name: ObsFunction/ObsErrorModelStepwiseLinear
               options:
                 xvar:
                   name: MetaData/pressure
                 xvals: [110000, 105000, 100000, 95000, 90000, 85000, 80000, 75000, 70000, 65000, 60000, 55000, 50000, 45000, 40000, 35000, 30000, 25000, 20000, 15000, 10000, 7500, 5000, 4000, 3000, 2000, 1000, 500, 400, 300, 200, 100, 0]
                 errors: [0.05912, 0.05912, 0.05912, 0.05912, 0.05912, 0.05912, 0.05912, 0.05912, 0.05912, 0.05912, 0.05912, 0.05912, 0.05912, 0.05912, 0.05912, 0.05912, 0.05912, 0.05912, 0.05912, 0.05912, 0.05912, 0.05912, 0.05912, 0.05912, 0.05912, 0.05912, 0.05912, 0.05912, 0.05912, 0.05912, 0.05912, 0.05912, 0.05912]

         # Error inflation based on pressure check (setupq.f90)
         - filter: Perform Action
           udescriptor: "error_inflation_pressure_check"
           filter variables:
           - name: specificHumidity
           where:
           - variable: ObsType/specificHumidity
             is_in: 181
           action:
             name: inflate error
             inflation variable:
               name: ObsFunction/ObsErrorFactorPressureCheck
               options:
                 variable: specificHumidity
                 surface observation error ramp: true
                 max levels below surface: 15
                 inflation factor: 8.0

#         # Error inflation based on errormod (qcmod.f90)
#         - filter: Perform Action
#           filter variables:
#           - name: specificHumidity
#           where:
#           - variable: ObsType/specificHumidity
#             is_in: 181
#           action:
#             name: inflate error
#             inflation variable:
#               name: ObsFunction/ObsErrorFactorConventional
#               options:
#                 inflate variables: [specificHumidity]
#                 pressure: MetaData/pressure

         # Error inflation when QualityMarker == 3 (read_prepbufr.f90)
         - filter: Perform Action
           udescriptor: "error_inflation_QualityMarker"
           filter variables:
           - name: specificHumidity
           action:
             name: inflate error
             inflation factor: 1.2
           where:
           - variable: QualityMarker/specificHumidity
             is_in: 3
           - variable: ObsType/specificHumidity
             is_in: 181

         # Error inflation when observation pressure < 100 hPa (read_prepbufr.f90)
         - filter: Perform Action
           udescriptor: "error_inflation_observation_pressure"
           filter variables:
           - name: specificHumidity
           action:
             name: inflate error
             inflation factor: 1.2
           where:
           - variable: MetaData/pressure
             maxvalue: 10000.0
           - variable: ObsType/specificHumidity
             is_in: 181

         # Bounds Check (ObsError)
         - filter: Bounds Check
           udescriptor: "bounds_check_ObsError"
           filter variables:
           - name: specificHumidity
           test variables:
           - name:  ObsErrorData/specificHumidity
           minvalue: 0.0
           maxvalue: 1000
           where:
           - variable: ObsType/specificHumidity
             is_in: 181
           action:
             name: reduce obs space

         # Bounds Check (ObsValue)
         - filter: Bounds Check
           udescriptor: "bounds_check_ObsValue"
           filter variables:
           - name: specificHumidity
           minvalue: 0.0
           maxvalue: 1.0
           where:
           - variable: ObsType/specificHumidity
             is_in: 181
           action:
             name: reduce obs space

         # Create temporary ObsErrorData
         - filter: Variable Assignment
           udescriptor: "create_temporary_ObsErrorData"
           apply at iterations: 0,1
           where:
           - variable: ObsType/specificHumidity
             is_in: 181
           assignments:
           - name: TempObsErrorData/specificHumidity
             type: float
             function:
               name: ObsFunction/Arithmetic
               options:
                 variables:
                 - name: ObsErrorData/specificHumidity
           defer to post: true

         # Set ObsError set "error parameter" if < "max value"
         - filter: Perform Action
           udescriptor: "ermin_set"
           apply at iterations: 0,1
           filter variables:
           - name: specificHumidity
           action:
             name: assign error
             error parameter: 5.0
           where:
           - variable:
               name: ObsErrorData/specificHumidity
             maxvalue: 5.0
           - variable:
               name: ObsErrorData/specificHumidity
             value: is_valid
           - variable: ObsType/specificHumidity
             is_in: 181
           defer to post: true

         # Set ObsError set "error parameter" if > "min value"
         - filter: Perform Action
           udescriptor: "ermax_set"
           apply at iterations: 0,1
           filter variables:
           - name: specificHumidity
           action:
             name: assign error
             error parameter: 50.0
           where:
           - variable:
               name: ObsErrorData/specificHumidity
             minvalue: 50.0
           - variable:
               name: ObsErrorData/specificHumidity
             value: is_valid
           - variable: ObsType/specificHumidity
             is_in: 181
           defer to post: true

         # Gross Error Check
         - filter: Background Check
           udescriptor: "gross_error_check"
           apply at iterations: 0,1
           filter variables:
           - name: specificHumidity
           threshold: 7.0
           action:
             name: reject
           where:
           - variable: QualityMarker/specificHumidity
             is_not_in: 3
           - variable: ObsType/specificHumidity
             is_in: 181
           defer to post: true

         # Gross Error Check: cgross*0.7 if QualityMarker=3
         - filter: Background Check
           udescriptor: "gross_error_check_0.7"
           apply at iterations: 0,1
           filter variables:
           - name: specificHumidity
           threshold: 4.9
           action:
             name: reject
           where:
           - variable: QualityMarker/specificHumidity
             is_in: 3
           - variable: ObsType/specificHumidity
             is_in: 181
           defer to post: true

         # Re-assign err ObsErrorData <--- TempObsErrorData after gross error check.
         - filter: Perform Action
           udescriptor: "reassign_error_TempObsErrorData"
           apply at iterations: 0,1
           filter variables:
           - name: specificHumidity
           action:
             name: assign error
             error function: TempObsErrorData/specificHumidity
           where:
           - variable:
               name: TempObsErrorData/specificHumidity
             value: is_valid
           - variable: ObsType/specificHumidity
             is_in: 181
           defer to post: true

         #- filter: GOMsaver
         #  filename: ./data/geovals/adpsfc_geovals_rrfs.nc
