-

  # Observation Space (I/O)
  # -----------------------
  obs space:
    name: {{observation_from_jcb}}
{% if algorithm == "local_ensemble_da" %}
    distribution:
      name: {{distribution_type}}
      halo size: "{{halo_size}}"
{% endif %}
    obsdatain:
      engine:
        type: H5File
        obsfile: "{{soil_obsdatain_path}}/{{soil_obsdatain_prefix}}{{observation_from_jcb}}.nc"
        #missing file action: warn
    obsdataout:
      engine:
        type: H5File
        obsfile: "{{soil_obsdataout_path}}/{{soil_obsdataout_prefix}}{{observation_from_jcb}}{{soil_obsdataout_suffix}}"
    simulated variables: [soilMoistureVolumetric]
  #

  # Observation Operator
  # --------------------
  obs operator:
    name: Identity
  #
  linear obs operator:
    name: Identity

  # localization TODO: generalize this condioned on da algo
  # ------------
{% if algorithm == "local_ensemble_da" %}
  obs localizations:
  - localization method: {{localization_method}}
    lengthscale: {{loc_length_scale}}
    max nobs: {{max_nobs}}
{% endif %}

  obs error:
    covariance model: diagonal

  # Observation Filters (QC)
  # ------------------------
  obs pre filters:
    - filter: Create Diagnostic Flags
      flags:
      - name: missing_smc
        initial value: false
      - name: invalid_smc
        initial value: false
      - name: land_check
        initial value: false
      - name: landice_check
        initial value: false
      - name: seaice_check
        initial value: false
      - name: snow_check
        initial value: false
      - name: retrv_qual_check
        initial value: false
      - name: vegtype_check
        initial value: false
      - name: elevation_bkgdiff
        initial value: false
      - name: background_check
        initial value: false
    - filter: Perform Action
      filter variables:
      - name: soilMoistureVolumetric
      action:
        name: assign error
        error parameter: 0.1
    - filter: Domain Check
      where:
      - variable:
          name: ObsValue/soilMoistureVolumetric
        value: is_valid
      actions:
      - name: set
        flag: missing_smc
        ignore: rejected observations
      - name: reject
  obs prior filters:
    - filter: Bounds Check
      filter variables:
      - name: soilMoistureVolumetric
      minvalue: 0.0
      maxvalue: 1.0
      actions:
      - name: set
        flag: invalid_smc
        ignore: rejected observations
      - name: reject
    - filter: Domain Check # land only
      where:
      - variable:
          name: GeoVaLs/fraction_of_land
        minvalue: 0.5
      actions:
      - name: set
        flag: land_check
        ignore: rejected observations
      - name: reject
    - filter: Domain Check # land only, no sea ice
      where:
      - variable:
          name: GeoVaLs/fraction_of_ice
        maxvalue: 0.0
      actions:
      - name: set
        flag: seaice_check
        ignore: rejected observations
      - name: reject
    - filter: Domain Check   # no snow
      where:
      - variable:
          name: GeoVaLs/sheleg
        maxvalue: 0.0
      actions:
      - name: set
        flag: snow_check
        ignore: rejected observations
      - name: reject
    - filter: Domain Check   # high-quality retrievals
      where:
      - variable:
          name: PreQC/soilMoistureVolumetric
        is_in: 0, 8
      actions:
      - name: set
        flag: retrv_qual_check
        ignore: rejected observations
      - name: reject
    - filter: RejectList  # no land-ice
      where:
      - variable:
          name: GeoVaLs/vtype
        minvalue: 14.5
        maxvalue: 15.5
      actions:
      - name: set
        flag: landice_check
        ignore: rejected observations
      - name: reject
  obs post filters:
    # Bounds Check (ObsError)
    - filter: Bounds Check
      udescriptor: "bounds_check_ObsError"
      filter variables:
      - name: soilMoistureVolumetric
      test variables:
      - name:  ObsErrorData/soilMoistureVolumetric
      minvalue: 0.0
      maxvalue: 0.2
      action:
        name: reject   

    # Bounds Check (ObsValue)
    - filter: Bounds Check
      udescriptor: "bounds_check_ObsValue"
      filter variables:
      - name: soilMoistureVolumetric
      minvalue: 0.02
      maxvalue: 0.5
      action:
        name: reject   

    - filter: Background Check # gross error check
      filter variables:
      - name: soilMoistureVolumetric
      #threshold: 5
      absolute threshold: 0.5
      bias correction parameter: 1.0
      actions:
      - name: set
        flag: background_check
        ignore: rejected observations
      - name: reject
