state variables:
- soilMoistureVolumetric
- stc
- slc
- totalSnowDepth
- sheleg
- vtype
- slmsk
- filtered_orography
- fraction_of_ice
- fraction_of_land
field io names:
  soilMoistureVolumetric: smc
  totalSnowDepth: snodl
  filtered_orography: orog_filt
  fraction_of_ice: fice
  fraction_of_land: land_frac
datapath: ./anl
prefix: soil_finanl
filetype: fms restart
datetime: '{{ soil_background_time_iso }}'
filename_sfcd: '{{ soil_background_time_fv3 }}.sfc_data.nc'
filename_cplr: '{{ soil_background_time_fv3 }}.coupler.res'
filename_orog: '{{ soil_orog_prefix }}_oro_data.nc'
