output:
  state component:
    datapath: ./anl
    state variables:
    - soilMoistureVolumetric
    - slc
    - stc
    - totalSnowDepth
    - sheleg
    - vtype
    - slmsk
    field io names:
      soilMoistureVolumetric: smc
      totalSnowDepth: snodl
    filetype: cube sphere history
    provider: ufs
    ufs soil nlev: 4
    ufs fields split by level:
    - smc
    - stc
    filename: soilinc_{{ soil_variational_history_prefix }}.nc

geometry:
  fms initialization:
    namelist filename: "{{ soil_fv3jedi_files_path }}/fmsmpp.nml"
    field table filename: "{{ soil_fv3jedi_files_path }}/field_table"
  akbk: "{{ soil_fv3jedi_files_path }}/akbk.nc4"
  layout:
  - {{ soil_layout_x }}
  - {{ soil_layout_y }}
  npx: {{ soil_npx_ges }}
  npy: {{ soil_npy_ges }}
  npz: {{ soil_npz_ges }}
