covariance model: SABER
saber central block:
  saber block name: BUMP_NICAS
  read:  
    general:
      universe length-scale: 250000.0
    drivers:
      multivariate strategy: univariate
      read global nicas: true 
    nicas:
      resolution: 6
      max horizontal grid size: 400000
      explicit length-scales: true
      horizontal length-scale:
      - groups:
        - soilMoistureVolumetric
        value: 250000.0
      vertical length-scale:
      - groups:
        - soilMoistureVolumetric
        value: 800.0
      interpolation type:
      - groups:
        - soilMoistureVolumetric
        type: c0
      same horizontal convolution: true
    io:
      data directory: ./berror 
      files prefix: smc_bump   
saber outer blocks:
- saber block name: BUMP_StdDev
  read:
    drivers:
      compute variance: true
    variance:
      explicit stddev: true
      stddev:
      - variables:
        - soilMoistureVolumetric
        value: 0.05
        value: 2.0
      - variables:
        - specfic_humidity_at_2m
        value: 0.1
