grid type: regular gaussian
local interpolator type: oops unstructured grid interpolator
number of latitude gridpoints: {{ (soil_npy_anl | int) - 1 }} 
datapath: ./anl
prefix: {{ soil_gaussian_increment_prefix }}
all model levels: true
date colons: false
variables to output: 
- soilt1
- soilt2
- soill1
- soill2
field io names: 
  soilt1: stc1_inc
  soilt2: stc2_inc
  soill1: slc1_inc
  soill2: slc2_inc
