prefix: soilinc
datapath: ./anl/mem%{member}%
filetype: fms restart
filename_sfcd: '{{ soil_background_time_fv3 }}.sfc_data.nc'
filename_cplr: '{{ soil_background_time_fv3 }}.coupler.res'
state variables: {{ soil_state_variables_fv3 }}
field io names: {{ soil_field_io_names_fv3 }}
