covariance model: SABER
saber central block:
  saber block name: BUMP_NICAS
  calibration:    #read:
    general:
      universe length-scale: 5000000.0
    drivers:
      multivariate strategy: univariate
      compute nicas: true     #read global nicas: true
      write global nicas: true
    nicas:
      resolution: 4
      explicit length-scales: true
      horizontal length-scale:
      - groups: {{ soil_det_increment_variables }}
        value: 1000000.0
      vertical length-scale:
      - groups: {{ soil_det_increment_variables }}
        value: 1500.0
      interpolation type:
      - groups: {{ soil_det_increment_variables }}
        type: c0
      same horizontal convolution: true
    io:
      data directory: ./berror 
      files prefix: smc_bump_nicas_1000km_{{ soil_background_time_fv3 }}
saber outer blocks:
- saber block name: BUMP_StdDev
  read:
    drivers:
      compute variance: true
    variance:
      explicit stddev: true
      stddev:
      - variables: {{ soil_det_increment_variables }}
        value: 0.2
