output:
  state component:
    filetype: cube sphere history
    provider: ufs
    datapath: ./anl
    filename: soilinc_{{ soil_variational_history_prefix }}nc
    field io names: {{ soil_field_io_names_csg }}

geometry:
  fms initialization:
    namelist filename: "{{ soil_fv3jedi_files_path }}/fmsmpp.nml"
    field table filename: "{{ soil_fv3jedi_files_path }}/field_table"
  akbk: "{{ soil_fv3jedi_files_path }}/akbk.nc4"
  layout:
  - {{ soil_layout_x }}
  - {{ soil_layout_y }}
  npx: {{ soil_npx_anl }}
  npy: {{ soil_npy_anl }}
  npz: {{ soil_npz_anl }}
