covariance model: SABER
saber central block:
  saber block name: ID
saber outer blocks:
- saber block name: BUMP_StdDev
  read:
    drivers:
      compute variance: true
    variance:
      explicit stddev: true
      stddev:
      - variables:
        - soilMoistureVolumetric
        value: 0.05
      - variables:
        - slc
        value: 0.05
      - variables:
        - stc
        value: 2.0
      - variables:
        - air_temperature_at_2m
        value: 2.0
      - variables:
        - specfic_humidity_at_2m
        value: 0.1
