members from template:
  template:
    datetime: '{{ soil_background_time_iso }}'
    filetype: fms restart
    skip coupler file: true
    state variables: {{ soil_state_variables_fv3 }}
    field io names: {{ soil_field_io_names_fv3 }}
    datapath: {{ soil_background_ensemble_path }}
    filename is datetime templated: true
    filename_sfcd: '{{ soil_background_time_fv3 }}.sfc_data.nc'
    filename_cplr: '{{ soil_background_time_fv3 }}.coupler.res'
    filename_orog: '{{ soil_orog_prefix }}_oro_data.nc'
    max allowable geometry difference: 1e-4
  pattern: "{{ soil_ensemble_pattern | default("%mem%", true) }}"
  nmembers: {{ soil_number_ensemble_members }}
  zero padding: 3
