observations:
- ADPSFC
- ADPUPA
- SFCSHP
- aircraft_humidity
- aircraft_temperature
- aircraft_wind
- snowcvr
- abi_g16
- conventional_ps
- scatwnd.ascat_metop-b
- scatwnd.ascat_metop-c
- satwnd.abi_goes-16
- satwnd.abi_goes-18
- satwnd.leogeo_multi
- satwnd.viirs_n20
- satwnd.viirs_npp
- satwnd.seviri_m9
- satwnd.seviri_m10
- satwnd.ahi_h9
- satwnd.avhrr_n15
- satwnd.avhrr_n18
- satwnd.avhrr_n19
- ozone.omi_aura
- ozone.ompsnp_n20
- ozone.ompsnp_npp
- ozone.ompstc_n20
- ozone.ompstc_npp
- iasi_metop-b
- iasi_metop-c
- cris-fsr_n20
- cris-fsr_n21
- atms_npp 
- atms_n20
- gnssro_cosmic2
- gnssro_spire
- gnssro_s6
- gnssro_geoopt
- gnssro_grace
- gnssro_k5
- gnssro_metop
- gnssro_paz
- gnssro_piq
- gnssro_tsx
- gnssro_tdm
