bias_files:
  atms_n20: rad_varbc_params.tar
  atms_npp: rad_varbc_params.tar
  mtiasi_metop-a: rad_varbc_params.tar
  mtiasi_metop-b: rad_varbc_params.tar
  amsua_n19: rad_varbc_params.tar
  ssmis_f17: rad_varbc_params.tar
  ssmis_f18: rad_varbc_params.tar
  cris-fsr_n20: rad_varbc_params.tar
  cris-fsr_npp: rad_varbc_params.tar