observations:
#- aircraft_humidity
#- aircraft_temperature
#- aircraft_wind
#- snowcvr
#- abi_g16
#- prepbufr_adpsfc
#- prepbufr_adpupa
#- prepbufr_sfcshp
#- scatwnd.ascat_metop-b
#- scatwnd.ascat_metop-c
#- satwnd.abi_goes-16
#- satwnd.abi_goes-18
#- satwnd.leogeo_multi
#- satwnd.viirs_n20
#- satwnd.viirs_npp
#- satwnd.seviri_m9
#- satwnd.seviri_m10
#- satwnd.ahi_h9
#- satwnd.avhrr_n15
#- satwnd.avhrr_n18
#- satwnd.avhrr_n19
#- ozone.omi_aura
#- ozone.ompsnp_n20
#- ozone.ompsnp_npp
#- ozone.ompstc_n20
#- ozone.ompstc_npp
#- iasi_metop-b
#- iasi_metop-c
#- cris-fsr_n20
#- cris-fsr_n21
#- atms_npp 
#- radiance_atms_n20
#- gnssro_cosmic2
#- gnssro_spire
#- gnssro_s6
#- gnssro_geoopt
#- gnssro_grace
#- gnssro_k5
#- gnssro_metop
#- gnssro_paz
#- gnssro_piq
#- gnssro_tsx
#- gnssro_tdm

#- aircraft
- conventional_ps
- gnssro
- gnssro_cosmic2
- gnssro_geooptics
- gnssro_grace
- gnssro_kompsat5
- gnssro_metop
- gnssro_paz
- gnssro_planetiq
- gnssro_sentinel6
- gnssro_spire
- gnssro_tandemx
- gnssro_terrasarx
- prepbufr_adpsfc
- prepbufr_adpupa
- prepbufr_sfcshp
- radiance_ahi_himawari8
- radiance_ahi_himawari9
- radiance_abi_g16
- radiance_abi_g17
- radiance_amsr2_gcom-w1
- radiance_amsua_n19
- radiance_atms_n20
#- radiance_atms_n21
- radiance_atms_npp
- radiance_cris-fsr_n20
#- radiance_cris-fsr_n21
- radiance_cris-fsr_npp
- radiance_gmi_gpm
- radiance_iasi_metop-a
- radiance_iasi_metop-b
- radiance_iasi_metop-c
- radiance_seviri_m08
- radiance_seviri_m11
- radiance_ssmis_f17
- radiance_ssmis_f18
- retrieval_amv_abi_goes-16
- retrieval_amv_abi_goes-17
- retrieval_amv_abi_goes-18
- retrieval_amv_ahi_h8
- retrieval_amv_ahi_h9
- retrieval_amv_avhrr_metop-a
- retrieval_amv_avhrr_metop-b
- retrieval_amv_avhrr_metop-c
- retrieval_amv_avhrr_n15
- retrieval_amv_avhrr_n18
- retrieval_amv_avhrr_n19
- retrieval_amv_leogeo_multi
- retrieval_amv_modis_aqua
- retrieval_amv_modis_terra
- retrieval_amv_seviri_m10
- retrieval_amv_seviri_m11
- retrieval_amv_seviri_m8
- retrieval_amv_seviri_m9
- retrieval_amv_viirs_n20
- retrieval_amv_viirs_npp
- retrieval_osw_ascat_metop-a
- retrieval_osw_ascat_metop-b
- retrieval_osw_ascat_metop-c
#- retrieval_ozone_omi_aura
#- retrieval_ozone_ompsnp_n20
#- retrieval_ozone_ompsnp_npp
#- retrieval_ozone_ompstc_n20
#- retrieval_ozone_ompstc_npp
- satwind
- sfc
- sfcship
- sondes
