start time: '{{ GDATE | to_isotime }}'
end time: '{{ GDATE | to_isotime }}'
assim_freq: '{{ assim_freq }}'
gsi_bc_root: '{{ ROTDIR }}'
ufo_bc_root: '{{ DATA }}'
work_root: './'
satbias2ioda: '{{ EXX }}'
cdump: '{{ GDUMP }}'
