# Atmosphere increments written to COM by a deterministic JEDI variational task.
# Emitted as copy_req list items; also included by the coupled task config.
{% if ATMINC_GRID == 'gaussian' %}
- ['{{ DATA }}/anl/atminc.{{ current_cycle | to_YMD }}_{{ current_cycle | strftime('%H') }}0000z.nc4', '{{ COMOUT_ATMOS_ANALYSIS }}/{{ APREFIX }}increment.atm.i006.nc']
- ['{{ DATA }}/anl/cubed_sphere_grid_atminc.jedi.nc', '{{ COMOUT_ATMOS_ANALYSIS }}/{{ APREFIX }}jedi_increment.atm.i006.nc']
{% else %}
- ['{{ DATA }}/anl/{{ APREFIX }}cubed_sphere_grid_atminc.tile1.nc', '{{ COMOUT_ATMOS_ANALYSIS }}/{{ APREFIX }}jedi_increment.atm.i006.tile1.nc']
- ['{{ DATA }}/anl/{{ APREFIX }}cubed_sphere_grid_atminc.tile2.nc', '{{ COMOUT_ATMOS_ANALYSIS }}/{{ APREFIX }}jedi_increment.atm.i006.tile2.nc']
- ['{{ DATA }}/anl/{{ APREFIX }}cubed_sphere_grid_atminc.tile3.nc', '{{ COMOUT_ATMOS_ANALYSIS }}/{{ APREFIX }}jedi_increment.atm.i006.tile3.nc']
- ['{{ DATA }}/anl/{{ APREFIX }}cubed_sphere_grid_atminc.tile4.nc', '{{ COMOUT_ATMOS_ANALYSIS }}/{{ APREFIX }}jedi_increment.atm.i006.tile4.nc']
- ['{{ DATA }}/anl/{{ APREFIX }}cubed_sphere_grid_atminc.tile5.nc', '{{ COMOUT_ATMOS_ANALYSIS }}/{{ APREFIX }}jedi_increment.atm.i006.tile5.nc']
- ['{{ DATA }}/anl/{{ APREFIX }}cubed_sphere_grid_atminc.tile6.nc', '{{ COMOUT_ATMOS_ANALYSIS }}/{{ APREFIX }}jedi_increment.atm.i006.tile6.nc']
{% endif %}
