jedi_config:
    atmensanlobs:
        rundir: '{{ DATA }}'
        exe_src: '{{ EXECglobal }}/gdas.x'
        mpi_cmd: '{{ APRUN_ATMENSANLOBS }}'
        jedi_args: ['fv3jedi', 'localensembleda']
        jcb_base_yaml: '{{ PARMglobal }}/gdas/atm/jcb-base.yaml.j2'
        jcb_algo_yaml: '{{ PARMglobal }}/gdas/atm/jcb-prototype_lgetkf_observer.yaml.j2'
    atmensanlsol:
        rundir: '{{ DATA }}'
        exe_src: '{{ EXECglobal }}/gdas.x'
        mpi_cmd: '{{ APRUN_ATMENSANLSOL }}'
        jedi_args: ['fv3jedi', 'localensembleda']
        jcb_base_yaml: '{{ PARMglobal }}/gdas/atm/jcb-base.yaml.j2'
        jcb_algo_yaml: '{{ PARMglobal }}/gdas/atm/jcb-prototype_lgetkf_solver.yaml.j2'
    atmensanlfv3inc:
        rundir: '{{ DATA }}'
        exe_src: '{{ EXECglobal }}/gdas_fv3jedi_fv3inc.x'
        mpi_cmd: '{{ APRUN_ATMENSANLFV3INC }}'
        jcb_base_yaml: '{{ PARMglobal }}/gdas/atm/jcb-base.yaml.j2'
        jcb_algo_yaml: '{{ PARMglobal }}/gdas/atm/jcb-prototype_lgetkf-fv3inc.yaml.j2'
    atmensanlletkf:
        rundir: '{{ DATA }}'
        exe_src: '{{ EXECglobal }}/gdas.x'
        mpi_cmd: '{{ APRUN_ATMENSANLLETKF }}'
        jedi_args: ['fv3jedi', 'localensembleda']  
        jcb_base_yaml: '{{ PARMglobal }}/gdas/atm/jcb-base.yaml.j2'
        jcb_algo_yaml: '{{ PARMglobal }}/gdas/atm/jcb-prototype_lgetkf.yaml.j2'

data_in:
    mkdir:
    - '{{ DATA }}/bkg'
    - '{{ DATA }}/obs'
    - '{{ DATA }}/anl'
    - '{{ DATA }}/bc'
    - '{{ DATA }}/diags'
    - '{{ DATA }}/fv3jedi'
    - '{{ DATA }}/crtm'
{% for imem in range(1,NMEM_ENS+1) %}
   {% set tmpl_dict = ({ '${ROTDIR}': ROTDIR,
                         '${RUN}': RUN,
                         '${YMD}': current_cycle | to_YMD,
                         '${HH}': current_cycle | strftime('%H'),
                         '${MEMDIR}': 'mem%03d' | format(imem) }) %}
    - '{{ DATA }}/bkg/{{ 'mem%03d' | format(imem) }}'
    - '{{ DATA }}/anl/{{ 'mem%03d' | format(imem) }}'
    - '{{ COM_ATMOS_ANALYSIS_TMPL | replace_tmpl(tmpl_dict) }}'
{% endfor %}

    copy:
{% for imem in range(1,NMEM_ENS+1) %}
   {% set tmpl_dict = ({ '${ROTDIR}': ROTDIR,
                         '${RUN}': RUN,
                         '${YMD}': previous_cycle | to_YMD,
                         '${HH}': previous_cycle | strftime('%H'),
                         '${MEMDIR}': 'mem%03d' | format(imem) }) %}
    - ['{{ COM_ATMOS_HISTORY_TMPL | replace_tmpl(tmpl_dict) }}/{{ GPREFIX_ENS }}csg_atm.f006.nc', '{{ DATA }}/bkg/{{ 'mem%03d' | format(imem) }}/{{ GPREFIX_ENS }}cubed_sphere_grid_atmf006.nc']
    - ['{{ COM_ATMOS_HISTORY_TMPL | replace_tmpl(tmpl_dict) }}/{{ GPREFIX_ENS }}csg_sfc.f006.nc', '{{ DATA }}/bkg/{{ 'mem%03d' | format(imem) }}/{{ GPREFIX_ENS }}cubed_sphere_grid_sfcf006.nc']
{% endfor %}

{% filter indent(width=4) %}
{% include 'atm_stage_jedi_fix.yaml.j2' %}
{% include 'atm_stage_crtm_coeff.yaml.j2' %}
{% endfilter %}

    copy_opt:
{% filter indent(width=4) %}
{% include 'atm_stage_obs.yaml.j2' %}
{% endfilter %}

data_out:
    copy:
    - ['{{ DATA }}/atmensanlobs.yaml', '{{ COMOUT_CONF }}/{{ APREFIX_ENS }}atmensanlobs.yaml']
    - ['{{ DATA }}/atmensanlsol.yaml', '{{ COMOUT_CONF }}/{{ APREFIX_ENS }}atmensanlsol.yaml']
    - ['{{ DATA }}/atmensanlfv3inc.yaml', '{{ COMOUT_CONF }}/{{ APREFIX_ENS }}atmensanlfv3inc.yaml']
    - ['{{ DATA }}/anl/{{ APREFIX_ENS }}cubed_sphere_grid_atmanl.ensmean.nc', '{{ COMOUT_ATMOS_ANALYSIS_ENS }}/{{ APREFIX_ENS }}csg_ensmean_jedi_analysis.atm.a006.nc']
{% for imem in range(1,NMEM_ENS+1) %}
   {% set tmpl_dict = ({ '${ROTDIR}': ROTDIR,
                         '${RUN}': RUN,
                         '${YMD}': current_cycle | to_YMD,
                         '${HH}': current_cycle | strftime('%H'),
                         '${MEMDIR}': 'mem%03d' | format(imem) }) %}
    - ['{{ DATA }}/anl/{{ 'mem%03d' | format(imem) }}/{{ APREFIX_ENS }}cubed_sphere_grid_atminc.nc', '{{ COM_ATMOS_ANALYSIS_TMPL | replace_tmpl(tmpl_dict) }}/{{ APREFIX_ENS }}csg_jedi_increment.atm.i006.nc']
{% endfor %}
