# Observation things
# ------------------
observations:
  - amsua_n19
  - sondes
  - atms_n20
  - aircraft
  - satwind
  - omi_aura
  - ompsnp_npp
  - ompstc8_npp
  - cris-fsr_n20
  - cris-fsr_npp
  - sfc
  - sfcship
