# Search path for model and obs for JCB
# -------------------------------------
algorithm_path: "{{PARMglobal}}/gdas/jcb-algorithms"
app_path_algorithm: "{{PARMglobal}}/gdas/jcb-gdas/algorithm/atmosphere"
app_path_model: "{{PARMglobal}}/gdas/jcb-gdas/model/atmosphere"
app_path_observations: "{{PARMglobal}}/gdas/jcb-gdas/observations/atmosphere"
app_path_observation_chronicle: "{{PARMglobal}}/gdas/jcb-gdas/observation_chronicle/atmosphere"


# Places where we deviate from the generic file name of a yaml
# ------------------------------------------------------------
#final_increment_file: final_increment_gaussian
final_increment_file: atmosphere_final_increment_cubed_sphere
jedi_increment_output: gaussian
output_ensemble_increments_file: atmosphere_output_ensemble_increments_cubed_sphere
posterior_output_file: atmosphere_posterior_output_cubed_sphere
model_file: atmosphere_model_pseudo
initial_condition_file: atmosphere_background  # Initial conditions for 4D apps is background
background_error_file: "{{BERROR_YAML}}"

# Assimilation standard things (not prepended with model choice)
# ----------------------------
window_begin: "{{ WINDOW_BEGIN | to_isotime }}"
window_length: "{{ WINDOW_LENGTH }}"
bound_to_include: begin
minimizer: DRPCG
final_diagnostics_departures: anlmob
final_prints_frequency: PT3H
number_of_outer_loops: {{ NUMBER_OUTER_LOOPS | default(2, true) }}
atmosphere_ninner_1: {{ NINNER_LOOP1 | default(2, true) }}
atmosphere_grad_red_1: 1e-10
atmosphere_ninner_2: {{ NINNER_LOOP2 | default(4, true) }}
atmosphere_grad_red_2: 1e-10
{% set _analysis_vars = ['eastward_wind',
                         'northward_wind',
                         'air_temperature',
                         'water_vapor_mixing_ratio_wrt_moist_air',
                         'cloud_liquid_ice',
                         'cloud_liquid_water',
                         'snow_water',
                         'rain_water',
                         'graupel',
                         'ozone_mass_mixing_ratio',
                         'air_pressure_at_surface'] %}
analysis_variables: {{ _analysis_vars }}

# Model things
# ------------

# State variables
atmosphere_background_state_variables: {{ _analysis_vars + ['cloud_ice_number_concentration',
                                                            'rain_number_concentration',
                                                            'geopotential_height_at_surface',
                                                            'slmsk',
                                                            'sheleg',
                                                            'skin_temperature_at_surface',
                                                            'vtype',
                                                            'stype',
                                                            'vfrac',
                                                            'soilt',
                                                            'soilm',
                                                            'totalSnowDepthMeters',
                                                            'eastward_wind_at_surface',
                                                            'northward_wind_at_surface',
                                                            'f10m',
                                                            'air_pressure_thickness'] }}

# Increment variables
{% set _shared_increment_vars = ['eastward_wind',
                                 'northward_wind',
                                 'air_temperature',
                                 'water_vapor_mixing_ratio_wrt_moist_air',
                                 'cloud_liquid_ice',
                                 'cloud_liquid_water',
                                 'snow_water',
                                 'rain_water',
                                 'graupel',
                                 'ozone_mass_mixing_ratio'] }
atmosphere_increment_variables:     {{ _shared_increment_vars + ['air_pressure_at_surface'] }}
atmosphere_increment_variables_fv3: {{ _shared_increment_vars + ['air_pressure_thickness',
                                                                 'layer_thickness'] }}

# GSIBEC-related variables
atmosphere_gsibec_hybrid_control2analysis_input_variables: [eastward_wind,
                                                            northward_wind,
                                                            air_temperature,
                                                            air_pressure_at_surface,
                                                            water_vapor_mixing_ratio_wrt_moist_air,
                                                            cloud_liquid_ice,
                                                            cloud_liquid_water,
                                                            snow_water,
                                                            rain_water,
                                                            graupel,
                                                            mole_fraction_of_ozone_in_air]
atmosphere_gsibec_static_control2analysis_input_variables: [eastward_wind,
                                                            northward_wind,
                                                            air_temperature,
                                                            air_pressure_at_surface,
                                                            water_vapor_mixing_ratio_wrt_moist_air,
                                                            cloud_liquid_ice,
                                                            cloud_liquid_water,
                                                            mole_fraction_of_ozone_in_air]
atmosphere_gsibec_static_state_variables_to_inverse: [eastward_wind,
                                                      northward_wind,
                                                      air_temperature,
                                                      air_pressure_at_surface,
                                                      water_vapor_mixing_ratio_wrt_moist_air,
                                                      cloud_liquid_ice,
                                                      cloud_liquid_water,
                                                      ozone_mass_mixing_ratio]

# Geometry
atmosphere_layout_x: {{ layout_x | default(1, true) }}
atmosphere_layout_y: {{ layout_y | default(1, true) }}
atmosphere_npx_ges: {{ npx_ges | default(49, true) }}
atmosphere_npy_ges: {{ npy_ges | default(49, true) }}
atmosphere_npz_ges: {{ npz_ges | default(127, true) }}
atmosphere_npx_his: {{ npx_his | default(49, true) }}
atmosphere_npy_his: {{ npy_his | default(49, true) }}
atmosphere_npz_his: {{ npz_his | default(127, true) }}
atmosphere_npx_anl: {{ npx_anl | default(49, true) }}
atmosphere_npy_anl: {{ npy_anl | default(49, true) }}
atmosphere_npz_anl: {{ npz_anl | default(127, true) }}

atmosphere_fv3jedi_files_path: ./fv3jedi  # Ideally this would be {{DATA}}/fv3jedi but FMS

# Background
atmosphere_background_path: ./bkg
atmosphere_background_ensemble_path: ./ens/mem%mem%

# Default background time is for 3D applications
atmosphere_background_time_iso: "{{ current_cycle | to_isotime }}"

# Background error
atmosphere_bump_data_directory: "{{ DATA }}/berror"
atmosphere_gsibec_path: "{{ DATA }}/berror"
atmosphere_number_ensemble_members: {{ NMEM_ENS | default(1, true) }}
atmosphere_layout_gsib_x: {{ layout_gsib_x | default(1, true) }}
atmosphere_layout_gsib_y: {{ layout_gsib_y | default(1, true) }}

# Forecasting
atmosphere_forecast_timestep: "{{ BKG_TSTEP }}"

# Write final increment on Guassian grid in variational
atmosphere_final_increment_prefix: "./anl/atminc."

atmosphere_variational_history_prefix: "{{GPREFIX}}"
atmosphere_variational_analysis_prefix: "{{APREFIX}}"
atmosphere_variational_increment_type: {{ ATMINC_GRID | default('cubed_grid_sphere', true) }}

# IAU hours
atmosphere_iau_hours: {{ IAUFHRS }}
atmosphere_iau_times_iso: {{ iau_times_iso }}

# UFS variable names
atmosphere_ufs_background_field_io_names:
    eastward_wind: ugrd
    northward_wind: vgrd
    air_temperature: tmp
    layer_thickness: delz
    air_pressure_thickness: dpres
    air_pressure_at_surface: pressfc
    water_vapor_mixing_ratio_wrt_moist_air: spfh
    cloud_liquid_ice: icmr
    cloud_liquid_water: clwmr
    snow_water: snmr
    rain_water: rwmr
    graupel: grle
    cloud_ice_number_concentration: nccice
    rain_number_concentration: nconrd
    ozone_mass_mixing_ratio: o3mr
    geopotential_height_at_surface: hgtsfc
    slmsk: land
    sheleg: weasd
    skin_temperature_at_surface: tmpsfc
    stype: sotyp
    vfrac: veg
    totalSnowDepthMeters: snod
    eastward_wind_at_surface: ugrd_hyblev1
    northward_wind_at_surface: vgrd_hyblev1
    soilm: soilw1
    soilt: soilt1
    soilMoistureVolumetric: smc
atmosphere_ufs_increment_field_io_names:
    eastward_wind: u_inc
    northward_wind: v_inc
    air_temperature: T_inc
    water_vapor_mixing_ratio_wrt_moist_air: sphum_inc
    cloud_liquid_water: liq_wat_inc
    ozone_mass_mixing_ratio: o3mr_inc
    cloud_liquid_ice: icmr_inc
    snow_water: snmr_inc
    rain_water: rwmr_inc
    graupel: grle_inc
    air_pressure_thickness: delp_inc
    layer_thickness: delz_inc
    air_pressure_at_surface: pressfc_inc

# Observation things
# ------------------
observations: all_observations

crtm_coefficient_path: "{{ DATA }}/crtm/"

# Naming conventions for observational files

atmosphere_obsdatain_path: "{{DATA}}/obs"
atmosphere_obsdatain_script_path: "{{HOMEglobal}}/ush/spoc/atmosphere"
atmosphere_obsdatain_prefix: "{{OPREFIX}}"
atmosphere_obsdatain_suffix: ".nc"
atmosphere_obsdatain_suffix_bufr: ".tm00.bufr_d"

atmosphere_obsdataout_path: "{{DATA}}/diags"
atmosphere_obsdataout_prefix: diag_
atmosphere_obsdataout_suffix: "_{{ current_cycle | to_YMDH }}.nc"

# Naming conventions for bias correction files

atmosphere_obsbiasin_path: "{{DATA}}/bc_in/"
atmosphere_obsbiasin_prefix: "{{GPREFIX}}"
atmosphere_obsbiasin_suffix: ".bias.nc"
atmosphere_obstlapsein_prefix: "{{GPREFIX}}"
atmosphere_obstlapsein_suffix: ".tlapse.txt"
atmosphere_obsbiascovin_prefix: "{{GPREFIX}}"
atmosphere_obsbiascovin_suffix: ".bias_cov.nc"

atmosphere_obsbiasout_path: "{{DATA}}/bc_out/"
atmosphere_obsbiasout_prefix: "{{APREFIX}}"
atmosphere_obsbiasout_suffix: ".bias.nc"
atmosphere_obsbiascovout_prefix: "{{APREFIX}}"
atmosphere_obsbiascovout_suffix: ".bias_cov.nc"

bias_files_dict:
    radiance_atms_n20: varbc_params.tar
    radiance_atms_npp: varbc_params.tar
    radiance_mtiasi_metop-a: varbc_params.tar
    radiance_mtiasi_metop-b: varbc_params.tar
    radiance_amsua_n19: varbc_params.tar
    radiance_ssmis_f17: varbc_params.tar
    radiance_ssmis_f18: varbc_params.tar
    radiance_cris-fsr_n20: varbc_params.tar
    radiance_cris-fsr_npp: varbc_params.tar

# Local Ensemble DA (LETKF)
# -------------------------
local_ensemble_da_solver: Deterministic GETKF

increment_variables: [eastward_wind,northward_wind,layer_thickness,air_pressure_thickness,air_temperature,air_pressure_at_surface,water_vapor_mixing_ratio_wrt_moist_air,cloud_liquid_ice,cloud_liquid_water,snow_water,rain_water,graupel,ozone_mass_mixing_ratio]

atm_enkfonly: {{ DOENKFONLY_ATM | default(false, true) }}

# Veritcal localization for GETKF
vl_fraction_of_retained_variance: 0.750
vl_lengthscale: 2.1
vl_lengthscale_units: logp
inflation_rtps: 0.85
inflation_rtpp: 0.0
inflation_mult: 1.0

# Driver
driver_update_obs_config_with_geometry_info: true
driver_save_posterior_mean: true
driver_save_posterior_ensemble: false
driver_save_prior_mean: false
driver_save_posterior_mean_increment: false
driver_save_posterior_ensemble_increments: true

# Diagnostics
atmosphere_ensemble_increment_prefix: "./anl/mem%{member}%/atminc."
atmosphere_posterior_output_gaussian: "./mem%{member}%/atmanl."

atmosphere_ensemble_history_prefix: "{{ GPREFIX_ENS }}"
atmosphere_ensemble_analysis_prefix: "{{ APREFIX_ENS }}"
