# Use observations for lgetkf
# ---------------------------
app_path_observations: {{PARMgfs}}/gdas/jcb-gdas/observations/atmosphere
app_path_observation_chronicle: {{PARMgfs}}/gdas/jcb-gdas/observation_chronicle/atmosphere

# Algorithm
# ---------
algorithm: local_ensemble_da

# Model things
# ------------
atmosphere_background_ensemble_path: ./bkg/mem%mem%

# Distribution type used in OBS_DIST_LOCALIZATIONS_YAML
{% set distribution_type = "Halo" %}

# Observation things
# ------------------
{% include OBS_LIST_YAML %}
{% include OBS_DIST_LOCALIZATIONS_YAML %}

# Testing things
# --------------
{% if DO_TEST_MODE %}
{% include LETKF_JEDI_TEST_YAML %}
{% endif %}
