# Search path for model and obs for JCB
# -------------------------------------
algorithm_path: "{{PARMgfs}}/gdas/jcb-algorithms"
app_path_algorithm: "{{PARMgfs}}/gdas/jcb-gdas/algorithm/atmosphere"
app_path_model: "{{PARMgfs}}/gdas/jcb-gdas/model/atmosphere"
app_path_observations: "{{PARMgfs}}/gdas/jcb-gdas/observations/atmosphere"
app_path_observation_chronicle: "{{PARMgfs}}/gdas/jcb-gdas/observation_chronicle/atmosphere"


# Places where we deviate from the generic file name of a yaml
# ------------------------------------------------------------
#final_increment_file: final_increment_gaussian
final_increment_file: atmosphere_final_increment_cubed_sphere
output_ensemble_increments_file: atmosphere_output_ensemble_increments_cubed_sphere
model_file: atmosphere_model_pseudo
initial_condition_file: atmosphere_background  # Initial conditions for 4D apps is background
background_error_file: "{{BERROR_YAML}}"

# Assimilation standard things (not prepended with model choice)
# ----------------------------
window_begin: "{{ ATM_WINDOW_BEGIN | to_isotime }}"
window_length: "{{ ATM_WINDOW_LENGTH }}"
bound_to_include: begin
minimizer: DRPCG
final_diagnostics_departures: anlmob
final_prints_frequency: PT3H
number_of_outer_loops: 2
analysis_variables: [ua,va,t,ps,sphum,ice_wat,liq_wat,o3mr]

# Testing
# -------

do_testing: {{ DO_TEST_MODE | default(false, true) }}

# Model things
# ------------
# Geometry
atmosphere_layout_x: {{ layout_x | default(1, true) }}
atmosphere_layout_y: {{ layout_y | default(1, true) }}
atmosphere_npx_ges: {{ npx_ges | default(49, true) }}
atmosphere_npy_ges: {{ npy_ges | default(49, true) }}
atmosphere_npz_ges: {{ npz_ges | default(127, true) }}
atmosphere_npx_anl: {{ npx_anl | default(49, true) }}
atmosphere_npy_anl: {{ npy_anl | default(49, true) }}
atmosphere_npz_anl: {{ npz_anl | default(127, true) }}

atmosphere_fv3jedi_files_path: ./fv3jedi  # Ideally this would be {{DATA}}/fv3jedi but FMS

# Background
atmosphere_background_path: ./bkg
atmosphere_background_ensemble_path: ./ens/mem%mem%

# Default background time is for 3D applications
atmosphere_background_time_iso: "{{ current_cycle | to_isotime }}"

# Background error
atmosphere_bump_data_directory: "{{ DATA }}/berror"
atmosphere_gsibec_path: "{{ DATA }}/berror"
atmosphere_number_ensemble_members: {{ NMEM_ENS | default(1, true) }}
atmosphere_layout_gsib_x: {{ layout_gsib_x | default(1, true) }}
atmosphere_layout_gsib_y: {{ layout_gsib_y | default(1, true) }}


# Forecasting
atmosphere_forecast_timestep: "{{ BKG_TSTEP }}"

# Write final increment on Guassian grid in variational
atmosphere_final_increment_prefix: "./anl/atminc."

atmosphere_variational_history_prefix: "{{GPREFIX}}"

# Observation things
# ------------------
observations: all_observations

crtm_coefficient_path: "{{ DATA }}/crtm/"

# Naming conventions for observational files
atmosphere_obsdataroot_path: "{{COM_OBS}}"

atmosphere_obsdatain_path: "{{atm_obsdatain_path}}"
atmosphere_obsdatain_prefix: "{{OPREFIX}}"
atmosphere_obsdatain_suffix: ".tm00.nc"

atmosphere_obsdataout_path: "{{atm_obsdataout_path}}"
atmosphere_obsdataout_prefix: diag_
atmosphere_obsdataout_suffix: "_{{ current_cycle | to_YMDH }}.nc"

# Naming conventions for bias correction files
atmosphere_obsbiasroot_path: "{{COM_ATMOS_ANALYSIS_PREV}}"

atmosphere_obsbiasin_path: "{{DATA}}/obs/"
atmosphere_obsbiasin_prefix: "{{GPREFIX}}"
atmosphere_obsbiasin_suffix: ".satbias.nc"
atmosphere_obstlapsein_prefix: "{{GPREFIX}}"
atmosphere_obstlapsein_suffix: ".tlapse.txt"
atmosphere_obsbiascovin_prefix: "{{GPREFIX}}"
atmosphere_obsbiascovin_suffix: ".satbias_cov.nc"

atmosphere_obsbiasout_path: "{{DATA}}/bc/"
atmosphere_obsbiasout_prefix: "{{APREFIX}}"
atmosphere_obsbiasout_suffix: ".satbias.nc"
atmosphere_obsbiascovout_prefix: "{{APREFIX}}"
atmosphere_obsbiascovout_suffix: ".satbias_cov.nc"

bias_files:
  atms_n20: rad_varbc_params.tar
  atms_npp: rad_varbc_params.tar
  mtiasi_metop-a: rad_varbc_params.tar
  mtiasi_metop-b: rad_varbc_params.tar
  amsua_n19: rad_varbc_params.tar
  ssmis_f17: rad_varbc_params.tar
  ssmis_f18: rad_varbc_params.tar
  cris-fsr_n20: rad_varbc_params.tar
  cris-fsr_npp: rad_varbc_params.tar

# Local Ensemble DA (LETKF)
# -------------------------
local_ensemble_da_solver: GETKF

increment_variables: [ua,va,delz,delp,t,ps,sphum,ice_wat,liq_wat,o3mr]

# Veritcal localization for GETKF
vl_fraction_of_retained_variance: 0.750
vl_lengthscale: 2.1
vl_lengthscale_units: logp
inflation_rtps: 0.85
inflation_rtpp: 0.0
inflation_mult: 1.0

# Driver
driver_update_obs_config_with_geometry_info: true
driver_save_posterior_mean: false
driver_save_posterior_ensemble: false
driver_save_prior_mean: false
driver_save_posterior_mean_increment: false
driver_save_posterior_ensemble_increments: true

# Distribution type
distribution_type: Halo

# Diagnostics
atmosphere_ensemble_increment_prefix: "./anl/mem%{member}%/atminc."
atmosphere_posterior_output_gaussian: "./mem%{member}%/atmanl."

atmosphere_ensemble_history_prefix: "enkf{{GPREFIX}}"
