# Use observations for lgetkf
# ---------------------------
app_path_observations: {{PARMgfs}}/gdas/jcb-gdas/observations/atmosphere-lgetkf
app_path_observation_chronicle: {{PARMgfs}}/gdas/jcb-gdas/observation_chronicle/atmosphere-lgetkf

# Algorithm
# ---------
algorithm: local_ensemble_da

# Observation things
# ------------------
observations:
  - satwnd.abi_goes-16
  - ascatw.ascat_metop-b
  - conv_ps
  - gnssro
