# Use observations for lgetkf
# ---------------------------
app_path_observations: {{PARMgfs}}/gdas/jcb-gdas/observations/atmosphere
app_path_observation_chronicle: {{PARMgfs}}/gdas/jcb-gdas/observation_chronicle/atmosphere

# Algorithm
# ---------
algorithm: local_ensemble_da_observer

# Model things
# ------------
atmosphere_background_ensemble_path: ./bkg/mem%mem%

# Naming conventions for observation files
atmosphere_obsdataout_prefix: diag_lobs_

# Distribution type used in OBS_DIST_LOCALIZATIONS_YAML
{% set distribution_type = "RoundRobin" %}

# Observation things
# ------------------
{% include OBS_LIST_YAML %}
{% include OBS_DIST_LOCALIZATIONS_YAML %}

# Testing things
# --------------
{% if DO_TEST_MODE %}
{% include OBS_JEDI_TEST_YAML %}
{% endif %}
