# Algorithm
# ---------
algorithm: fv3jedi_fv3inc_lgetkf

# Testing things
# --------------
{% if atmosphere_do_testing %}
test_reference_filename: {{ HOMEgfs }}/sorc/gdas.cd/test/gw-ci/lgetkf-fv3inc.ref
test_output_filename: ./3dvar.out
test_float_relative_tolerance: 1.0e-3
test_float_absolute_tolerance: 1.0e-5
{% endif %}
