# Algorithm
# ---------
algorithm: fv3jedi_fv3inc_variational

# Testing things
# --------------
test_reference_filename: {{ HOMEgfs }}/ci/cases/pr/test_references/C96C48_ufs_hybatmDA/3dvar-fv3inc.ref
test_output_filename: ./3dvar.out
test_float_relative_tolerance: 1.0e-3
test_float_absolute_tolerance: 1.0e-5
