# Algorithm
# ---------
algorithm: 3dvar

# Observation things
# ------------------
observations:
  - satwnd.abi_goes-16
  - ascatw.ascat_metop-b
  - conv_ps
  - gnssro
  - ompsnp_npp
  - ompstc_npp
  - omi_aura
