# Use observations for lgetkf
# ---------------------------
app_path_observations: {{PARMgfs}}/gdas/jcb-gdas/observations/atmosphere-lgetkf
app_path_observation_chronicle: {{PARMgfs}}/gdas/jcb-gdas/observation_chronicle/atmosphere

# Algorithm
# ---------
algorithm: local_ensemble_da_solver

# Model things
# ------------
atmosphere_background_ensemble_path: ./bkg/mem%mem%

# Observation things
# ------------------
observations:
#  - ADPSFC
#  - ADPUPA
#  - SFCSHP
  - aircraft
  - ascatw.ascat_metop-b
#  - ascatw.ascat_metop-c
  - atms_n20
#  - atms_npp
  - conventional_ps
  - gnssro
#  - gpsro
#  - iasi_metop-a
#  - iasi_metop-b
#  - ompsnp_n20
  - ompsnp_npp
#  - ompstc_n20
  - ompstc_npp
  - satwnd.abi_goes-16
#  - satwnd.abi_goes-18
#  - satwnd.leogeo_multi
#  - satwnd.viirs_n20
#  - satwnd.viirs_npp
#  - scatwind_ascat_metop-a
#  - snowcvr

# Naming conventions for observation files
atmosphere_obsdatain_path: "{{atm_obsdataout_path}}"
atmosphere_obsdatain_prefix: diag_lobs_
atmosphere_obsdatain_suffix: "_{{ current_cycle | to_YMDH }}.nc"
atmosphere_obsdataout_prefix: diag_solv_

# Distribution type
distribution_type: Halo

# Testing things
# --------------
test_reference_filename: {{ HOMEgfs }}/sorc/gdas.cd/test/testreference/C96C48_ufs_hybatmDA_lgetkf_solver.ref
test_output_filename: {{ HOMEgfs }}/sorc/gdas.cd/build/gdas/test/testoutput/C96C48_ufs_hybatmDA_lgetkf_solver.test.out
test_float_relative_tolerance: 1.0e-3
test_float_absolute_tolerance: 1.0e-5
