# Use observations for lgetkf
# ---------------------------
app_path_observations: {{PARMgfs}}/gdas/jcb-gdas/observations/atmosphere
app_path_observation_chronicle: {{PARMgfs}}/gdas/jcb-gdas/observation_chronicle/atmosphere

# Algorithm
# ---------
algorithm: local_ensemble_da_solver

# Model things
# ------------
atmosphere_background_ensemble_path: ./bkg/mem%mem%

# Naming conventions for observation files
atmosphere_obsdatain_path: "{{DATA}}/diags"
atmosphere_obsdatain_prefix: diag_lobs_
atmosphere_obsdatain_suffix: "_{{ current_cycle | to_YMDH }}.nc"
atmosphere_obsdataout_prefix: diag_solv_

# Observation distribution and localization
{% set distribution_type = "Halo" %}
{% include 'atm_ens_obs_dist_localizations.yaml.j2' %}

# Observation things
# ------------------
{% include OBS_LIST_YAML %}

# Testing things
# --------------
{% if DO_TEST_MODE %}
{% include SOL_JEDI_TEST_YAML %}
{% endif %}
