# Algorithm
# ---------
algorithm: 3dvar

# Observation things
# ------------------
observations:
  - satwind_abi_goes-16
  - scatwind_ascat_metop-b
  - conv_ps
  - gnssro
  - ompsnp_npp
  - ompstc_npp
  - omi_aura
  - seviri_m08
  - seviri_m11
