## Algorithm
## ---------
algorithm: local_ensemble_da
#
# Observation things
# ------------------
#? does obs list yaml get constructed from settings?
use_linear_observer: true
{% include OBS_LIST_YAML %}

# Observation distribution and localization
# TODO: 
distribution_type: "Halo"
localization_method: "Horizontal Gaspari-Cohn"
halo_size: 1250e3
loc_length_scale: 1250e3
max_nobs: 10000
