# Search path for model and obs for JCB
# -------------------------------------
algorithm_path: "{{PARMglobal}}/gdas/jcb-algorithms"
app_path_algorithm: "{{PARMglobal}}/gdas/jcb-gdas/algorithm/soil"
app_path_model: "{{PARMglobal}}/gdas/jcb-gdas/model/soil"
app_path_observations: "{{PARMglobal}}/gdas/jcb-gdas/observations/soil"
app_path_observation_chronicle: "{{PARMglobal}}/gdas/jcb-gdas/observation_chronicle/soil"


# Places where we deviate from the generic file name of a yaml
# ------------------------------------------------------------
model_file: model_pseudo
initial_condition_file: background  # Initial conditions for 4D apps is background
final_increment_file: soil_final_increment_csg
output_mean_prior_file: soil_output_mean_prior_csg
posterior_output_file: soil_posterior_output_csg
output_ensemble_increments_file: soil_ensemble_increments_csg
output_increment_file: soil_output_increment_csg
output_variance_prior_file: soil_output_variance_prior_csg
output_variance_posterior_file: soil_output_variance_posterior_csg
#jedi_increment_output: gaussian
final_increment_to_latlon_file: soil_final_increment_gaussian
#final_analysis_to_latlon_file: soil_final_analysis_latlon
#output_ensemble_increments_file: soil_ensemble_increments_gaussian
#output_increment_file: soil_output_increment_gaussian

# Assimilation window
# -------------------
window_begin: "{{ WINDOW_BEGIN | to_isotime }}"
window_length: "{{ WINDOW_LENGTH }}"
bound_to_include: begin

# Default background time is for 3D applications
{% set bkg_time_iso = current_cycle | to_isotime %}
{% set bkg_time_fv3 = current_cycle | to_fv3time %}
{% set bkg_time_julian = current_cycle | to_julian %}
soil_background_time_iso: "{{ bkg_time_iso }}"
soil_background_time_fv3: "{{ bkg_time_fv3 }}"
soil_background_time_julian: "{{ bkg_time_julian }}"
soil_increment_time_iso: "{{ bkg_time_iso }}"
soil_increment_time_fv3: "{{ bkg_time_fv3 }}"

# Analysis standard things
# ------------------------
minimizer: DRPCG
final_diagnostics_departures: anlmob
final_prints_frequency: PT3H
cost_type: 3D-Var
number_of_outer_loops: 1

# Analysis variables
analysis_variables: ['soill1', 'soilt1']

# Model things
# ------------
# State variables
soil_state_variables_csg: ['soill1', 'soill2', 'soilt1', 'soilt2', 'slmsk', 'sheleg', 'vtype', 'stype', 'vfrac']

# Increment variables
soil_increment_variables_csg: ['soill1', 'soilt1']
soil_increment_variables_final_csg: ['soill1', 'soill2', 'soilt1', 'soilt2', 'slmsk', 'sheleg', 'vtype', 'stype', 'vfrac']

# Variable IO names
soil_field_io_names_csg:
    slmsk: land
    sheleg: weasd
    stype: sotyp
    vfrac: veg

# Geometry
soil_layout_x: {{ layout_x | default(1, true) }}
soil_layout_y: {{ layout_y | default(1, true) }}
soil_npx_ges: {{ npx_ges | default(49, true) }}
soil_npy_ges: {{ npy_ges | default(49, true) }}
soil_npz_ges: {{ npz_ges | default(127, true) }}
soil_npx_his: {{ npx_his | default(49, true) }}
soil_npy_his: {{ npy_his | default(49, true) }}
soil_npz_his: {{ npz_his | default(127, true) }}
soil_npx_anl: {{ npx_anl | default(49, true) }}
soil_npy_anl: {{ npy_anl | default(49, true) }}
soil_npz_anl: {{ npz_anl | default(127, true) }}

soil_gaussian_latres: {{ GAUSSIAN_LATRES | default(0.9375, true) }}

soil_variational_history_prefix: "{{ GPREFIX }}"

soil_fv3jedi_files_path: ./fv3jedi  # Ideally this would be {{DATA}}/fv3jedi but FMS
soil_orog_files_path: "{{ DATA }}/bkg"
soil_orog_prefix: "{{ CASE }}.mx{{ OCNRES }}"

# Background
soil_background_path: ./bkg
background_file: soil_background_csg

# Background error
soil_bump_data_directory: "{{ DATA }}/berror"
#soil_background_error_file: "{{ BERROR_YAML }}"
background_error_file: "{{BERROR_YAML}}"

# Forecasting
soil_forecast_length: "{{ SOIL_FORECAST_LENGTH }}"
soil_forecast_timestep: "{{ BKG_TSTEP }}"

# Observation things
# ------------------
observations: all_observations

crtm_coefficient_path: "{{ DATA }}/crtm/"

# Naming conventions for observational files
soil_obsdataroot_path: "{{COMIN_OBS}}"
soil_obsdatain_path: "{{DATA}}/obs"
soil_obsdatain_prefix: "{{OPREFIX}}"
soil_obsdatain_suffix: ".nc"
soil_obsdatain_suffix_bufr: ".tm00.bufr_d"
soil_obsdataout_path: "{{DATA}}/diags"
soil_prepobs_path: "{{DATA}}/prep"
soil_obsdataout_prefix: diag_
soil_obsdataout_suffix: "_{{ current_cycle | to_YMDH }}.nc"

# Naming conventions for bias correction files
soil_obsbiasin_path: "{{DATA}}/obs/"
soil_obsbiasin_prefix: "{{GPREFIX}}"
soil_obsbiasin_suffix: ".satbias.nc"
soil_obstlapsein_prefix: "{{GPREFIX}}"
soil_obstlapsein_suffix: ".tlapse.txt"
soil_obsbiascovin_prefix: "{{GPREFIX}}"
soil_obsbiascovin_suffix: ".satbias_cov.nc"

soil_obsbiasout_path: "{{DATA}}/bc/"
soil_obsbiasout_prefix: "{{APREFIX}}"
soil_obsbiasout_suffix: ".satbias.nc"
soil_obsbiascovout_prefix: "{{APREFIX}}"
soil_obsbiascovout_suffix: ".satbias_cov.nc"

# Ensemble things
soil_number_ensemble_members: {{NMEM_ENS | default(1, true) }}
soil_background_ensemble_path: ./bkg/mem%mem%
background_ensemble_file: soil_background_ensemble_csg
soil_analysis_ensemble_path: ./anl/mem%mem%
soil_ensemble_history_prefix: "{{ GPREFIX_ENS }}"
soil_ensemble_analysis_prefix: "{{ APREFIX_ENS }}"

# Local Ensemble DA (LETKF)
# -------------------------
local_ensemble_da_solver: Deterministic LETKF  #GETKF
 
increment_variables: ['soill1', 'soill2', 'soilt1', 'soilt2']

# Veritcal localization for GETKF
vl_fraction_of_retained_variance: 0.750
vl_lengthscale: 2.1
vl_lengthscale_units: logp
inflation_rtps: 0.85
inflation_rtpp: 0.0
inflation_mult: 1.0

# Driver
driver_update_obs_config_with_geometry_info: true
driver_save_posterior_mean: false #true
driver_save_posterior_ensemble: false #true
driver_save_posterior_mean_increment: true
driver_save_posterior_ensemble_increments: true
driver_save_prior_variance: false #true
driver_save_posterior_variance: false #true
driver_save_prior_mean: false #true  #(default false)
driver_do_test_prints: false  #(default true)
#default driver_do_posterior_observer: true
#default driver_use_control_member: false

# Diagnostics
soil_increment_path: ./anl
soil_increment_ensemble_path: ./anl/mem%mem%
soil_increment_prefix: "{{ SOIL_INC_PREFIX }}"
soil_gaussian_increment_prefix: "{{ SOIL_GINC_PREFIX }}"
#posterior_output_gaussian: "./mem%{member}%/soilanl."
#
