jedi_config:
    soilanlvar:
        rundir: '{{ DATA }}'
        exe_src: '{{ EXECglobal }}/gdas.x'
        mpi_cmd: '{{ APRUN_SOILANL }}'
        jedi_args: ['fv3jedi', 'variational']
        jcb_base_yaml: '{{ PARMglobal }}/gdas/soil/jcb-base.yaml.j2'
        jcb_algo: '3dvar'
        obs_list_yaml: '{{ OBS_LIST_YAML }}'

data_in:
    mkdir:
    - '{{ DATA }}/bkg'
    - '{{ DATA }}/anl'
    - '{{ DATA }}/obs'
    - '{{ DATA }}/diags'
    - '{{ DATA }}/fv3jedi'
    - '{{ DATA }}/berror'

    copy_req:

    - ['{{ COMIN_ATMOS_HISTORY_PREV }}/{{ GPREFIX }}csg_atm.f006.nc', '{{ DATA }}/bkg/{{ GPREFIX }}csg_atm.f006.nc']
    - ['{{ COMIN_ATMOS_HISTORY_PREV }}/{{ GPREFIX }}csg_sfc.f006.nc', '{{ DATA }}/bkg/{{ GPREFIX }}csg_sfc.f006.nc']

{% filter indent(width=4) %}
{% include 'soil_stage_jedi_fix.yaml.j2' %}
{% include 'soil_stage_berror.yaml.j2' %}
{% endfilter %}

data_out:

    copy_req:
    # Configuration files
    - ['{{ DATA }}/soilanlvar.yaml', '{{ COMOUT_CONF }}/{{ APREFIX }}soilanlvar.yaml']

# Increments
    - ['{{ DATA }}/anl/soilinc_{{ GPREFIX }}nc',
       '{{ COMOUT_SOIL_ANALYSIS }}/{{ APREFIX }}jedi_increment.sfc.i006.nc']
    - ['{{ DATA }}/anl/sfcinc.{{ current_cycle | to_YMD }}T{{ current_cycle | strftime('%H') }}0000Z.gaussian.modelLevels.nc',
       '{{ COMOUT_SOIL_ANALYSIS }}/{{ APREFIX }}increment.sfc.i006.nc']

{% if DO_ADD_SOIL_INCR %}
# Copy soil analysis (for non-iau)  # Analysis = bkg + inc
    - ['{{ DATA }}/anl/{{ GPREFIX }}csg_sfc.f006.nc',
       '{{ COMOUT_SOIL_ANALYSIS }}/soilanl.{{ current_cycle | to_fv3time }}.csg_sfc.nc']
{% endif %}
