jedi_config:
    soilletkfanl:
        rundir: '{{ DATA }}'
        exe_src: '{{ EXECgfs }}/gdas.x'
        mpi_cmd: '{{ APRUN_SOILLETKFANL }}'
        jedi_args: ['fv3jedi', 'localensembleda']
        jcb_base_yaml: '{{ PARMgfs }}/gdas/soil/jcb-base.yaml.j2'
        jcb_algo_yaml: '{{ PARMgfs }}/gdas/soil/jcb-prototype_lgetkf.yaml.j2'
    soilletkfaddinc:
        rundir: '{{ DATA }}'
        exe_src: '{{ EXECgdas }}/fv3jedi_addincrement.x'
        mpi_cmd: '{{ APRUN_SOILLETKF_ADDINC }}'
        jcb_base_yaml: '{{ PARMgdas }}/soil/jcb-base.yaml.j2'
        jcb_algo: 'soil_lgetkf_increment'

#TODO: add observer mode
#    soilensanlobs:
#        rundir: '{{ DATA }}'
#        exe_src: '{{ EXECgfs }}/gdas.x'
#        mpi_cmd: '{{ APRUN_SOILENSANLOBS }}'
#        jedi_args: ['fv3jedi', 'localensembleda']
#        jcb_base_yaml: '{{ PARMgfs }}/gdas/soil/jcb-base.yaml.j2'
#        jcb_algo_yaml: '{{ PARMgfs }}/gdas/soil/jcb-prototype_lgetkf_observer.yaml.j2'
#        obs_list_yaml: '{{ OBS_LIST_YAML }}'
#    soilensanlsol:
#        rundir: '{{ DATA }}'
#        exe_src: '{{ EXECgfs }}/gdas.x'
#        mpi_cmd: '{{ APRUN_SOILENSANLSOL }}'
#        jedi_args: ['fv3jedi', 'localensembleda']
#        jcb_base_yaml: '{{ PARMgfs }}/gdas/soil/jcb-base.yaml.j2'
#        jcb_algo_yaml: '{{ PARMgfs }}/gdas/soil/jcb-prototype_lgetkf_solver.yaml.j2'
#        obs_list_yaml: '{{ OBS_LIST_YAML }}'

data_in:
    mkdir:
    - '{{ DATA }}/bkg'
    - '{{ DATA }}/anl'
    - '{{ DATA }}/bkg/ensmean'
    - '{{ DATA }}/anl/ensmean'
{% for mem in range(0, NMEM_ENS + 1) %}
    - '{{ DATA }}/bkg/mem{{ '%03d' % mem }}'
    - '{{ DATA }}/anl/mem{{ '%03d' % mem }}'
{% endfor %}
    - '{{ DATA }}/orog/ens'
    - '{{ DATA }}/fv3jedi'
    - '{{ DATA }}/berror'

    copy_req:
{% for mem in range(1, NMEM_ENS + 1) %}
    {% set gmem = mem+mem_offset %}
    {% if gmem > NMEM_ENS_MAX %}
        {% set gmem = gmem-NMEM_ENS_MAX %}
    {% endif %}
    # define variables
    # copy coupler file
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/mem{{ '%03d' % gmem }}/{{ current_cycle | to_fv3time }}.coupler.res', '{{ DATA }}/bkg/mem{{ '%03d' % mem }}/']
    # we need to copy them to two places, one serves as the basis for the analysis
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/mem{{ '%03d' % gmem }}/{{ current_cycle | to_fv3time }}.sfc_data.tile1.nc', '{{ DATA }}/bkg/mem{{ '%03d' % mem }}/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/mem{{ '%03d' % gmem }}/{{ current_cycle | to_fv3time }}.sfc_data.tile2.nc', '{{ DATA }}/bkg/mem{{ '%03d' % mem }}/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/mem{{ '%03d' % gmem }}/{{ current_cycle | to_fv3time }}.sfc_data.tile3.nc', '{{ DATA }}/bkg/mem{{ '%03d' % mem }}/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/mem{{ '%03d' % gmem }}/{{ current_cycle | to_fv3time }}.sfc_data.tile4.nc', '{{ DATA }}/bkg/mem{{ '%03d' % mem }}/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/mem{{ '%03d' % gmem }}/{{ current_cycle | to_fv3time }}.sfc_data.tile5.nc', '{{ DATA }}/bkg/mem{{ '%03d' % mem }}/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/mem{{ '%03d' % gmem }}/{{ current_cycle | to_fv3time }}.sfc_data.tile6.nc', '{{ DATA }}/bkg/mem{{ '%03d' % mem }}/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/mem{{ '%03d' % gmem }}/{{ current_cycle | to_fv3time }}.sfc_data.tile1.nc', '{{ DATA }}/anl/mem{{ '%03d' % mem }}/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/mem{{ '%03d' % gmem }}/{{ current_cycle | to_fv3time }}.sfc_data.tile2.nc', '{{ DATA }}/anl/mem{{ '%03d' % mem }}/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/mem{{ '%03d' % gmem }}/{{ current_cycle | to_fv3time }}.sfc_data.tile3.nc', '{{ DATA }}/anl/mem{{ '%03d' % mem }}/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/mem{{ '%03d' % gmem }}/{{ current_cycle | to_fv3time }}.sfc_data.tile4.nc', '{{ DATA }}/anl/mem{{ '%03d' % mem }}/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/mem{{ '%03d' % gmem }}/{{ current_cycle | to_fv3time }}.sfc_data.tile5.nc', '{{ DATA }}/anl/mem{{ '%03d' % mem }}/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/mem{{ '%03d' % gmem }}/{{ current_cycle | to_fv3time }}.sfc_data.tile6.nc', '{{ DATA }}/anl/mem{{ '%03d' % mem }}/']

    - ['{{ COMIN_ATMOS_RESTART_PREV }}/mem{{ '%03d' % gmem }}/{{ GPREFIX }}csg_sfc.f006.nc', '{{ DATA }}/bkg/mem{{ '%03d' % mem }}/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/mem{{ '%03d' % gmem }}/{{ GPREFIX }}csg_sfc.f006.nc', '{{ DATA }}/anl/mem{{ '%03d' % mem }}/']

    {% if DOIAU %}
        # if using IAU, also need backgrounds copied at the beginning of the window
##TODO: for soil IAU copy the actual restarts at the three time steps
        # we need to copy them to two places, one serves as the basis for the analysis
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/mem{{ '%03d' % gmem }}/{{ WINDOW_BEGIN | to_fv3time }}.sfc_data.tile1.nc', '{{ DATA }}/bkg/mem{{ '%03d' % mem }}/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/mem{{ '%03d' % gmem }}/{{ WINDOW_BEGIN | to_fv3time }}.sfc_data.tile2.nc', '{{ DATA }}/bkg/mem{{ '%03d' % mem }}/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/mem{{ '%03d' % gmem }}/{{ WINDOW_BEGIN | to_fv3time }}.sfc_data.tile3.nc', '{{ DATA }}/bkg/mem{{ '%03d' % mem }}/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/mem{{ '%03d' % gmem }}/{{ WINDOW_BEGIN | to_fv3time }}.sfc_data.tile4.nc', '{{ DATA }}/bkg/mem{{ '%03d' % mem }}/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/mem{{ '%03d' % gmem }}/{{ WINDOW_BEGIN | to_fv3time }}.sfc_data.tile5.nc', '{{ DATA }}/bkg/mem{{ '%03d' % mem }}/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/mem{{ '%03d' % gmem }}/{{ WINDOW_BEGIN | to_fv3time }}.sfc_data.tile6.nc', '{{ DATA }}/bkg/mem{{ '%03d' % mem }}/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/mem{{ '%03d' % gmem }}/{{ WINDOW_BEGIN | to_fv3time }}.sfc_data.tile1.nc', '{{ DATA }}/anl/mem{{ '%03d' % mem }}/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/mem{{ '%03d' % gmem }}/{{ WINDOW_BEGIN | to_fv3time }}.sfc_data.tile2.nc', '{{ DATA }}/anl/mem{{ '%03d' % mem }}/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/mem{{ '%03d' % gmem }}/{{ WINDOW_BEGIN | to_fv3time }}.sfc_data.tile3.nc', '{{ DATA }}/anl/mem{{ '%03d' % mem }}/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/mem{{ '%03d' % gmem }}/{{ WINDOW_BEGIN | to_fv3time }}.sfc_data.tile4.nc', '{{ DATA }}/anl/mem{{ '%03d' % mem }}/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/mem{{ '%03d' % gmem }}/{{ WINDOW_BEGIN | to_fv3time }}.sfc_data.tile5.nc', '{{ DATA }}/anl/mem{{ '%03d' % mem }}/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/mem{{ '%03d' % gmem }}/{{ WINDOW_BEGIN | to_fv3time }}.sfc_data.tile6.nc', '{{ DATA }}/anl/mem{{ '%03d' % mem }}/']
#TODO: add time info/prefix for iau in csg
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/mem{{ '%03d' % gmem }}/{{ GPREFIX }}csg_sfc.f006.nc', '{{ DATA }}/bkg/mem{{ '%03d' % mem }}/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/mem{{ '%03d' % gmem }}/{{ GPREFIX }}csg_sfc.f006.nc', '{{ DATA }}/anl/mem{{ '%03d' % mem }}/']

    {% endif %}
{% endfor %}

{% filter indent(width=4) %}
{% include 'soil_stage_jedi_fix.yaml.j2' %}
{% include 'soil_stage_berror.yaml.j2' %}
{% include 'soil_stage_bufr2ioda_mapping.yaml.j2' %}
{% endfilter %}

    - ['{{ FIXorog }}/{{ CASE_ENS }}/{{ CASE_ENS }}_mosaic.nc', '{{ DATA }}/orog/ens/']
    - ['{{ FIXorog }}/{{ CASE_ENS }}/{{ CASE_ENS }}_grid.tile1.nc', '{{ DATA }}/orog/ens/']
    - ['{{ FIXorog }}/{{ CASE_ENS }}/{{ CASE_ENS }}_grid.tile2.nc', '{{ DATA }}/orog/ens/']
    - ['{{ FIXorog }}/{{ CASE_ENS }}/{{ CASE_ENS }}_grid.tile3.nc', '{{ DATA }}/orog/ens/']
    - ['{{ FIXorog }}/{{ CASE_ENS }}/{{ CASE_ENS }}_grid.tile4.nc', '{{ DATA }}/orog/ens/']
    - ['{{ FIXorog }}/{{ CASE_ENS }}/{{ CASE_ENS }}_grid.tile5.nc', '{{ DATA }}/orog/ens/']
    - ['{{ FIXorog }}/{{ CASE_ENS }}/{{ CASE_ENS }}_grid.tile6.nc', '{{ DATA }}/orog/ens/']
    - ['{{ FIXorog }}/{{ CASE_ENS }}/{{ CASE_ENS }}.mx{{ OCNRES }}_oro_data.tile1.nc', '{{ DATA }}/orog/ens/' ]
    - ['{{ FIXorog }}/{{ CASE_ENS }}/{{ CASE_ENS }}.mx{{ OCNRES }}_oro_data.tile2.nc', '{{ DATA }}/orog/ens/' ]
    - ['{{ FIXorog }}/{{ CASE_ENS }}/{{ CASE_ENS }}.mx{{ OCNRES }}_oro_data.tile3.nc', '{{ DATA }}/orog/ens/' ]
    - ['{{ FIXorog }}/{{ CASE_ENS }}/{{ CASE_ENS }}.mx{{ OCNRES }}_oro_data.tile4.nc', '{{ DATA }}/orog/ens/' ]
    - ['{{ FIXorog }}/{{ CASE_ENS }}/{{ CASE_ENS }}.mx{{ OCNRES }}_oro_data.tile5.nc', '{{ DATA }}/orog/ens/' ]
    - ['{{ FIXorog }}/{{ CASE_ENS }}/{{ CASE_ENS }}.mx{{ OCNRES }}_oro_data.tile6.nc', '{{ DATA }}/orog/ens/' ]

    link_req:
{% for imem in range(1, NMEM_ENS+1) %}
     {% set memchar = 'mem%03d' | format(imem) %}
    - ['{{ DATA }}/orog/ens/{{ CASE_ENS }}_mosaic.nc', '{{ DATA }}/bkg/{{ memchar }}/']
    - ['{{ DATA }}/orog/ens/{{ CASE_ENS }}_grid.tile1.nc', '{{ DATA }}/bkg/{{ memchar }}/']
    - ['{{ DATA }}/orog/ens/{{ CASE_ENS }}_grid.tile2.nc', '{{ DATA }}/bkg/{{ memchar }}/']
    - ['{{ DATA }}/orog/ens/{{ CASE_ENS }}_grid.tile3.nc', '{{ DATA }}/bkg/{{ memchar }}/']
    - ['{{ DATA }}/orog/ens/{{ CASE_ENS }}_grid.tile4.nc', '{{ DATA }}/bkg/{{ memchar }}/']
    - ['{{ DATA }}/orog/ens/{{ CASE_ENS }}_grid.tile5.nc', '{{ DATA }}/bkg/{{ memchar }}/']
    - ['{{ DATA }}/orog/ens/{{ CASE_ENS }}_grid.tile6.nc', '{{ DATA }}/bkg/{{ memchar }}/']
    - ['{{ DATA }}/orog/ens/{{ CASE_ENS }}.mx{{ OCNRES }}_oro_data.tile1.nc', '{{ DATA }}/bkg/{{ memchar }}/']
    - ['{{ DATA }}/orog/ens/{{ CASE_ENS }}.mx{{ OCNRES }}_oro_data.tile2.nc', '{{ DATA }}/bkg/{{ memchar }}/']
    - ['{{ DATA }}/orog/ens/{{ CASE_ENS }}.mx{{ OCNRES }}_oro_data.tile3.nc', '{{ DATA }}/bkg/{{ memchar }}/']
    - ['{{ DATA }}/orog/ens/{{ CASE_ENS }}.mx{{ OCNRES }}_oro_data.tile4.nc', '{{ DATA }}/bkg/{{ memchar }}/']
    - ['{{ DATA }}/orog/ens/{{ CASE_ENS }}.mx{{ OCNRES }}_oro_data.tile5.nc', '{{ DATA }}/bkg/{{ memchar }}/']
    - ['{{ DATA }}/orog/ens/{{ CASE_ENS }}.mx{{ OCNRES }}_oro_data.tile6.nc', '{{ DATA }}/bkg/{{ memchar }}/']
{% endfor %}
    - ['{{ DATA }}/orog/ens/{{ CASE_ENS }}_mosaic.nc', '{{ DATA }}/bkg/ensmean/']
    - ['{{ DATA }}/orog/ens/{{ CASE_ENS }}_grid.tile1.nc', '{{ DATA }}/bkg/ensmean/']
    - ['{{ DATA }}/orog/ens/{{ CASE_ENS }}_grid.tile2.nc', '{{ DATA }}/bkg/ensmean/']
    - ['{{ DATA }}/orog/ens/{{ CASE_ENS }}_grid.tile3.nc', '{{ DATA }}/bkg/ensmean/']
    - ['{{ DATA }}/orog/ens/{{ CASE_ENS }}_grid.tile4.nc', '{{ DATA }}/bkg/ensmean/']
    - ['{{ DATA }}/orog/ens/{{ CASE_ENS }}_grid.tile5.nc', '{{ DATA }}/bkg/ensmean/']
    - ['{{ DATA }}/orog/ens/{{ CASE_ENS }}_grid.tile6.nc', '{{ DATA }}/bkg/ensmean/']
    - ['{{ DATA }}/orog/ens/{{ CASE_ENS }}.mx{{ OCNRES }}_oro_data.tile1.nc', '{{ DATA }}/bkg/ensmean/']
    - ['{{ DATA }}/orog/ens/{{ CASE_ENS }}.mx{{ OCNRES }}_oro_data.tile2.nc', '{{ DATA }}/bkg/ensmean/']
    - ['{{ DATA }}/orog/ens/{{ CASE_ENS }}.mx{{ OCNRES }}_oro_data.tile3.nc', '{{ DATA }}/bkg/ensmean/']
    - ['{{ DATA }}/orog/ens/{{ CASE_ENS }}.mx{{ OCNRES }}_oro_data.tile4.nc', '{{ DATA }}/bkg/ensmean/']
    - ['{{ DATA }}/orog/ens/{{ CASE_ENS }}.mx{{ OCNRES }}_oro_data.tile5.nc', '{{ DATA }}/bkg/ensmean/']
    - ['{{ DATA }}/orog/ens/{{ CASE_ENS }}.mx{{ OCNRES }}_oro_data.tile6.nc', '{{ DATA }}/bkg/ensmean/']

#        copy_opt:
#    {% filter indent(width=4) %}
#    {% include 'soil_stage_obs.yaml.j2' %}
#    {% endfilter %}


    copy_opt:
#    - ['{{ COMIN_ATMOS_HISTORY_PREV }}/{{ GPREFIX }}csg_atm.f006.nc', '{{ DATA }}/bkg/{{ GPREFIX }}csg_atm.f006.nc']
#    - ['{{ COMIN_ATMOS_HISTORY_PREV }}/{{ GPREFIX }}csg_sfc.f006.nc', '{{ DATA }}/bkg/{{ GPREFIX }}csg_sfc.f006.nc']

#    - ['{{ COMIN_OBS }}/{{ OPREFIX }}h-12.smap_soil.nc', '{{ DATA }}/obs']
#    - ['{{ COMIN_OBS }}/{{ OPREFIX }}h-6.smap_soil.nc', '{{ DATA }}/obs']
#    - ['{{ COMIN_OBS }}/{{ OPREFIX }}h0.smap_soil.nc', '{{ DATA }}/obs']
#    - ['{{ COMIN_OBS }}/{{ OPREFIX }}h6.smap_soil.nc', '{{ DATA }}/obs']
#    - ['{{ COMIN_OBS }}/{{ OPREFIX }}h12.smap_soil.nc', '{{ DATA }}/obs']


data_out:
    copy_req:
    # Configuration files
    - ['{{ DATA }}/soilletkfanl.yaml', '{{ COMOUT_CONF }}/{{ APREFIX_ENS }}soilletkfanl.yaml']
    - ['{{ DATA }}/soilletkfaddinc.yaml', '{{ COMOUT_CONF }}/{{ APREFIX }}soilanladdinc.yaml']
    - ['{{ DATA }}/soil_obs_list.yaml.j2', '{{ COMOUT_CONF }}/{{ APREFIX }}soil_obs_list.yaml.j2']

{% if DOIAU %}
    {% set bkgtimes = [ current_cycle, WINDOW_BEGIN ] %}
{% else %}
    {% set bkgtimes = [ current_cycle ] %}
{% endif %}
{% for bkgtime in bkgtimes %}
    {% for imem in range(1, NMEM_ENS+1) %}
        {% set memchar = 'mem%03d' | format(imem) %}
    # Analysis
    - ['{{ DATA }}/anl/{{ memchar }}/{{ bkgtime | to_fv3time }}.sfc_data.tile1.nc',
       '{{ COMOUT_SOIL_ANALYSIS }}/{{ memchar }}/soilanl.{{ bkgtime | to_fv3time }}.sfc_data.tile1.nc']
    - ['{{ DATA }}/anl/{{ memchar }}/{{ bkgtime | to_fv3time }}.sfc_data.tile2.nc',
       '{{ COMOUT_SOIL_ANALYSIS }}/{{ memchar }}/soilanl.{{ bkgtime | to_fv3time }}.sfc_data.tile2.nc']
    - ['{{ DATA }}/anl/{{ memchar }}/{{ bkgtime | to_fv3time }}.sfc_data.tile3.nc',
       '{{ COMOUT_SOIL_ANALYSIS }}/{{ memchar }}/soilanl.{{ bkgtime | to_fv3time }}.sfc_data.tile3.nc']
    - ['{{ DATA }}/anl/{{ memchar }}/{{ bkgtime | to_fv3time }}.sfc_data.tile4.nc',
       '{{ COMOUT_SOIL_ANALYSIS }}/{{ memchar }}/soilanl.{{ bkgtime | to_fv3time }}.sfc_data.tile4.nc']
    - ['{{ DATA }}/anl/{{ memchar }}/{{ bkgtime | to_fv3time }}.sfc_data.tile5.nc',
       '{{ COMOUT_SOIL_ANALYSIS }}/{{ memchar }}/soilanl.{{ bkgtime | to_fv3time }}.sfc_data.tile5.nc']
    - ['{{ DATA }}/anl/{{ memchar }}/{{ bkgtime | to_fv3time }}.sfc_data.tile6.nc',
       '{{ COMOUT_SOIL_ANALYSIS }}/{{ memchar }}/soilanl.{{ bkgtime | to_fv3time }}.sfc_data.tile6.nc']
    {% endfor %}
{% endfor %}

    copy_opt:
    # Increments  TODO: make this _req once options between csg and fv3 well handled
{% for bkgtime in bkgtimes %}
    {% for imem in range(1, NMEM_ENS+1) %}
        {% set memchar = 'mem%03d' | format(imem) %}
    # Increments
    - ['{{ DATA }}/anl/{{ memchar }}/soilinc.{{ bkgtime | to_fv3time }}.sfc_data.tile1.nc',
       '{{ COMOUT_SOIL_ANALYSIS }}/{{ memchar }}/{{ bkgtime | to_fv3time }}.soil_increment.sfc_data.tile1.nc']
    - ['{{ DATA }}/anl/{{ memchar }}/soilinc.{{ bkgtime | to_fv3time }}.sfc_data.tile2.nc',
       '{{ COMOUT_SOIL_ANALYSIS }}/{{ memchar }}/{{ bkgtime | to_fv3time }}.soil_increment.sfc_data.tile2.nc']
    - ['{{ DATA }}/anl/{{ memchar }}/soilinc.{{ bkgtime | to_fv3time }}.sfc_data.tile3.nc',
       '{{ COMOUT_SOIL_ANALYSIS }}/{{ memchar }}/{{ bkgtime | to_fv3time }}.soil_increment.sfc_data.tile3.nc']
    - ['{{ DATA }}/anl/{{ memchar }}/soilinc.{{ bkgtime | to_fv3time }}.sfc_data.tile4.nc',
       '{{ COMOUT_SOIL_ANALYSIS }}/{{ memchar }}/{{ bkgtime | to_fv3time }}.soil_increment.sfc_data.tile4.nc']
    - ['{{ DATA }}/anl/{{ memchar }}/soilinc.{{ bkgtime | to_fv3time }}.sfc_data.tile5.nc',
       '{{ COMOUT_SOIL_ANALYSIS }}/{{ memchar }}/{{ bkgtime | to_fv3time }}.soil_increment.sfc_data.tile5.nc']
    - ['{{ DATA }}/anl/{{ memchar }}/soilinc.{{ bkgtime | to_fv3time }}.sfc_data.tile6.nc',
       '{{ COMOUT_SOIL_ANALYSIS }}/{{ memchar }}/{{ bkgtime | to_fv3time }}.soil_increment.sfc_data.tile6.nc']
    
    - ['{{ DATA }}/anl/{{ memchar }}/soilinc_{{ GPREFIX }}csg_sfc.f006.nc',
       '{{ COMOUT_SOIL_ANALYSIS }}/{{ memchar }}/{{ current_cycle | to_fv3time }}.soil_increment.csg_sfc.nc']

    {% endfor %}
{% endfor %}
