- ['{{ FIXgdas }}/fv3files/akbk{{ npz }}.nc4', '{{ DATA }}/fv3jedi/akbk.nc4']
- ['{{ FIXgdas }}/fv3files/fmsmpp.nml', '{{ DATA }}/fv3jedi/fmsmpp.nml']
- ['{{ FIXgdas }}/fv3files/field_table_gfdl', '{{ DATA }}/fv3jedi/field_table']
