observers:
{% filter indent(width=2) %}
{% include 'snow/obs/config/sfcsno_snow.yaml.j2' %}
{% set cycle = current_cycle | strftime("t%Hz") %}
{% if cycle in ['t00z'] %}
{% include 'snow/obs/config/ims_snow.yaml.j2' %}
{% include 'snow/obs/config/ghcn_snow.yaml.j2' %}
{% endif %}
{% endfilter %}
