- obs space:
    name: viirs_n20_aod
    obsdatain:
      engine:
        type: H5File
        obsfile: "{{ DATA }}/obs/{{ OPREFIX }}viirs_n20_aod.tm00.nc"
    obsdataout:
      engine:
        type: H5File
        obsfile: "{{ DATA }}/diags/diag_viirs_n20_{{ current_cycle | to_YMDH }}.nc4"
    io pool:
      max pool size: 1
    simulated variables: [aerosolOpticalDepth]
    channels: 4
  get values:
    interpolation method: barycentric
    time interpolation: linear
  obs operator:
    name: AodCRTM
    Absorbers: [H2O,O3]
    obs options:
      Sensor_ID: v.viirs-m_j1
      EndianType: little_endian
      CoefficientPath: "{{ DATA }}/crtm/"
      AerosolOption: aerosols_gocart_default
  obs error:
    covariance model: diagonal
  obs filters:
    - filter: PreQC
      maxvalue: 1
    - filter: Domain Check
      where:
      - variable:
          name: latitude@MetaData
        minvalue: -60
        maxvalue: 60
    - filter: Bounds Check
      filter variables:
      - name: aerosolOpticalDepth
        channels: 4
      minvalue: 0
      maxvalue: 4.9
      action:
        name: reject
    - filter: Background Check
      channels: 4
      threshold: 3.0
      action:
        name: inflate error
        inflation factor: 3.0
