- obs space:
    name: ghcn_snow
    distribution:
      name: Halo
      halo size: 250e3
    obsdatain:
      engine:
        type: H5File
        obsfile: '{{ DATA }}/obs/{{ OPREFIX }}ghcn_snow.nc4'
    obsdataout:
      engine:
        type: H5File
        obsfile: '{{ DATA }}/diags/diag_ghcn_snow.nc4'
    simulated variables: [totalSnowDepth]
  obs operator:
    name: Identity
  obs error:
    covariance model: diagonal
  obs localizations:
    - localization method: Horizontal SOAR
      lengthscale: 250e3
      soar horizontal decay: 0.000021
      max nobs: 50
    - localization method: Vertical Brasnett
      vertical lengthscale: 700
  obs filters:
    - filter: Bounds Check
      filter variables:
      - name: totalSnowDepth
      minvalue: 0.0
    - filter: Domain Check
      where:
      - variable:
          name: MetaData/stationElevation
        minvalue: -999.0
    - filter: Domain Check # land only
      where:
      - variable:
          name: GeoVaLs/slmsk
        minvalue: 0.5
        maxvalue: 1.5
    - filter: RejectList  # no land-ice
      where:
      - variable:
          name: GeoVaLs/vtype
        minvalue: 14.5
        maxvalue: 15.5
    - filter: Background Check
      filter variables:
      - name: totalSnowDepth
      threshold: 6.25
      action:
        name: reject
