datapath: ./anl/mem%{member}%
prefix: snowinc
filetype: fms restart
filename_sfcd: '{{ snow_background_time_fv3 }}.sfc_data.nc'
filename_cplr: '{{ snow_background_time_fv3 }}.coupler.res'
state variables:
- totalSnowDepth
- vtype
- slmsk
field io names:
  totalSnowDepth: snodl
