geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ layout_x }}
  - {{ layout_y }}
  npx: {{ npx_ges }}
  npy: {{ npy_ges }}
  npz: {{ npz_ges }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_history.yaml
time window:
  begin: '{{ ATM_WINDOW_BEGIN | to_isotime }}'
  length: '{{ ATM_WINDOW_LENGTH }}'
increment variables: [ua,va,delz,delp,t,ps,sphum,ice_wat,liq_wat,o3mr]

background:
  datetime: '{{ current_cycle | to_isotime }}'
  members from template:
    template:
      datetime: '{{ current_cycle | to_isotime }}'
      filetype: cube sphere history
      provider: ufs
      datapath: bkg/mem%mem%
      filenames: [ {{ GPREFIX }}atmf006.nc, {{ GPREFIX }}sfcf006.nc ]
      ufs soil nlev: 4
      ufs fields split by level: [smc,stc]
      state variables: [ua,va,t,delz,delp,ps,sphum,ice_wat,liq_wat,o3mr,surface_geopotential_height,
                        slmsk,sheleg,tsea,vtype,stype,vfrac,stc,smc,snwdph,
                        u_srf,v_srf,f10m]
    pattern: '%mem%'
    nmembers: {{ NMEM_ENS }}
    zero padding: 3

observations:
{% filter indent(width=2) %}
{% set atm_obs_list = 'OBS_LIST' | getenv('atm/obs/lists/lgetkf_prototype.yaml.j2') %}
{% include atm_obs_list %}
{% endfilter %}

driver:
  update obs config with geometry info: true
  save posterior mean: false
  save posterior ensemble: false
  save prior mean: false
  save posterior mean increment: false
  save posterior ensemble increments: true
  do posterior observer: false

local ensemble DA:
  solver: GETKF
  vertical localization:
#   fraction of retained variance: 0.975  # use for scientific tests
    fraction of retained variance: 0.750  # use for ctest
    lengthscale: 2.1
    lengthscale units: logp
  inflation:
    rtps: 0.85
    rtpp: 0.0
    mult: 1.0

#output:
#  filetype: auxgrid
#  gridtype: gaussian
#  filename: ./mem%{member}%/atmanl.

output ensemble increments:
  filetype: auxgrid
  gridtype: gaussian
  filename: ./anl/mem%{member}%/atminc.
