- obs space:
    name: sfc
    obsdatain:
      engine:
        type: H5File
        obsfile: '{{ DATA }}/obs/{{ OPREFIX }}sfc.{{ current_cycle | to_YMDH }}.nc'
    obsdataout:
      engine:
        type: H5File
        obsfile: '{{ DATA }}/diags/diag_sfc_{{ current_cycle | to_YMDH }}.nc'
    io pool:
      max pool size: 1
    simulated variables: [stationPressure]
  obs operator:
    name: SfcPCorrected
    da_psfc_scheme: GSI
    geovar_sfc_geomz: surface_geometric_height
    geovar_geomz: geopotential_height
  linear obs operator:
    name: Identity
