geometry:
  mom6_input_nml: mom_input.nml
  fields metadata: ./fields_metadata.yaml

date: '{{ MARINE_WINDOW_END  | to_isotime }}'

background:
  date: '{{ MARINE_WINDOW_END  | to_isotime }}'
  basename: ./
  ocn_filename: 'ocn.bkg.nc'
  ice_filename: 'ice.bkg.nc'
  read_from_file: 1

background error:
  datadir: ./diagb/
  date: '{{ MARINE_WINDOW_MIDDLE | to_isotime }}'
  exp: bkgerr_stddev
  type: incr

variables:
  name: [tocn, socn, uocn, vocn, hocn, ssh, cicen, hicen, hsnon, mom6_mld]

rescale: 2.0    # rescales the filtered std. dev. by "rescale"
min sst: 0.0    # Added to sst bkg. err.
max ssh: 0.0    # Limits the amplitude of the unbalanced bkg err
min depth: 500.0 # zero out the bkg. error. at less than min depth
number of halo points: 4
number of neighbors: 16
simple smoothing:
  horizontal iterations: 10
  vertical iterations: 1

# TODO(G): Start using when the normalization is optional
#diffusion:
#   saber block name: EXPLICIT_DIFFUSION
#   active variables: [tocn, socn, ssh, cicen, hicen, hsnon]
#   geometry:
#     mom6_input_nml: mom_input.nml
#     fields metadata: ./fields_metadata.yaml
#   group mapping:
#   - name: ocean
#     variables:
#     - tocn
#     - socn
#     - ssh
#   - name: ice
#     variables:
#     - cicen
#     - hicen
#     - hsnon
#   read:
#     groups:
#     - name: ocean
#       horizontal:
#         filename: hz_ocean.nc
#       vertical:
#         filename: vt_ocean.nc
#     - name: ice
#       horizontal:
#         filename: hz_ice.nc
