geometry:
  mom6_input_nml: mom_input.nml
  fields metadata: ./fields_metadata.yaml

date: '{{ MARINE_WINDOW_END  | to_isotime }}'

background:
  date: '{{ MARINE_WINDOW_END  | to_isotime }}'
  basename: ./bkg/
  ocn_filename: 'ocean.bkg.f009.nc'
  ice_filename: 'ice.bkg.f009.nc'
  read_from_file: 1

background error:
  datadir: ./staticb/
  date: '{{ MARINE_WINDOW_MIDDLE | to_isotime }}'
  exp: bkgerr_stddev
  type: incr

variables:
  name: [tocn, socn, uocn, vocn, hocn, ssh, cicen, hicen, hsnon, mom6_mld]

rescale: 2.0    # rescales the filtered std. dev. by "rescale"
min sst: 0.0    # Added to sst bkg. err.
max ssh: 0.0    # Limits the amplitude of the unbalanced bkg err
min depth: 500.0 # zero out the bkg. error. at less than min depth
number of halo points: 4
number of neighbors: 16

simple smoothing:
  horizontal iterations: 10
  vertical iterations: 1

# TODO(G): Too slow for the below scale
#diffusion:
#  horizontal: 500.0e3
#  vertical: 3.0
