gridspec_filename: soca_gridspec.nc
restart_filename: ./INPUT/MOM.res.nc
mld_filename: './staticb/ocn.bkgerr_stddev.incr.{{ MARINE_WINDOW_END | to_isotime }}.nc'
output_filename: ./vt_scales.nc
output_variable_vt: vt
output_variable_hz: hz

VT_MIN: 5
VT_MAX: 15

HZ_ROSSBY_MULT: 1.0
HZ_MAX: 200e3
HZ_MIN_GRID_MULT: 2.0
