geometry: &geom
  mom6_input_nml: mom_input.nml
  fields metadata: ./fields_metadata.yaml

background:
  read_from_file: 1
  basename: ./INPUT/
  ocn_filename: MOM.res.nc
  ice_filename: cice.res.nc
  date: '{{ MARINE_WINDOW_MIDDLE | to_isotime }}'
  state variables: [tocn]

background error:
  covariance model: SABER
  saber central block:
    saber block name: diffusion
    geometry: *geom
    calibration:
      normalization:
        # NOTE, not actually used here, since the normalization spec is only used for hz
        method: randomization  #< other option is "brute force"
        iterations: 1000       #< in the real world you'll want to use 1e4 or so

      groups:
      - vertical:
          as gaussian: true
          model file:
            date: '{{ MARINE_WINDOW_MIDDLE | to_isotime }}'
            basename: ./
            ocn_filename: vt_scales.nc
          model variable: tocn
        write:
          filepath: ./staticb/vt_ocean
