geometry:
  mom6_input_nml: mom_input.nml
  fields metadata: ./fields_metadata.yaml

date: '{{ MARINE_WINDOW_MIDDLE | to_isotime }}'

variables:
  ice: [cicen, hicen, hsnon]
  ocean: [tocn, socn, uocn, vocn, ssh]

background:
  date: '{{ MARINE_WINDOW_BEGIN | to_isotime }}'
  basename: ./INPUT/
  ocn_filename: MOM.res.nc
  ice_filename: cice.res.nc
  read_from_file: 1

weights:
  # Need to provide weights^2 when reading from file
  ice: 0.0025   #  5% of original variance
  ocean: 0.0625   # 25%      "       "
  # Apply localized weights to the ocean ens. B
  ocean local weights:
  - lon: -172.0
    lat: 11.0
    amplitude: -1.0
    length scale: 700.0
  - lon: -160.0
    lat: 12.0
    amplitude: -1.0
    length scale: 700.0

output:
  datadir: ./
  date: '{{ MARINE_WINDOW_MIDDLE | to_isotime }}'
  exp: ens_weights
  type: incr
