-

  # Observation Space (I/O)
  # -----------------------
  obs space:
    name: omi_aura
    obsdatain:
      engine:
        type: H5File
        obsfile: "{{atmosphere_obsdatain_path}}/{{atmosphere_obsdatain_prefix}}{{observation_from_jcb}}{{atmosphere_obsdatain_suffix}}"
    obsdataout:
      engine:
        type: H5File
        obsfile: "{{atmosphere_obsdataout_path}}/{{atmosphere_obsdataout_prefix}}{{observation_from_jcb}}{{atmosphere_obsdataout_suffix}}"
    io pool:
      max pool size: 1
    simulated variables: [ozoneTotal]

  #obs operator:
  #  name: AtmVertInterpLay
  #  geovals: [mole_fraction_of_ozone_in_air]
  #  coefficients: [0.007886131] # convert from ppmv to DU
  #  nlevels: [1]

  # Observation Operator
  # --------------------
  obs operator:
    name: ColumnRetrieval
    nlayers_retrieval: 1
    tracer variables: [mole_fraction_of_ozone_in_air]
    isApriori: false
    isAveragingKernel: false
    totalNoVertice: true
    stretchVertices: topbottom #options: top, bottom, topbottom, none
    model units coeff: 2.241398632746E-3

  # Observation Pre Filters (QC)
  # ----------------------------
  obs pre filters:
  - filter: Perform Action
    filter variables:
    - name: ozoneTotal
    action:
      name: assign error
      error parameter: 6.0

  - filter: Create Diagnostic Flags
    filter variables:
    - name: ozoneTotal
    flags:
    - name: ObsValueSanityCheck
      initial value: false
      force reinitialization: false
    - name: RowAnomaly
      initial value: false
      force reinitialization: false
    - name: BadScan
      initial value: false
      force reinitialization: false
    - name: Thinning
      initial value: false
      force reinitialization: false
    - name: RetrievalQualityCodeFlag
      initial value: false
      force reinitialization: false
    - name: RetrievalQualityAlgorithmFlag
      initial value: false
      force reinitialization: false
    - name: GrossCheck
      initial value: false
      force reinitialization: false

  # Observation Prior Filters (QC)
  # ------------------------------
  obs prior filters:
  # GSI read routine QC
  # range sanity check
  - filter: Bounds Check
    filter variables:
    - name: ozoneTotal
    minvalue: 0
    maxvalue: 10000
    actions:
    - name: set
      flag: ObsValueSanityCheck
    - name: reject

  # Do not use the data if row anomaly (bit 10)is 1
  - filter: RejectList
    filter variables:
    - name: ozoneTotal
    where:
    - variable:
        name: MetaData/totalOzoneQualityFlag
      any_bit_set_of: 9
    actions:
    - name: set
      flag: RowAnomaly
    - name: reject

  # Scan position check: reject scan position >= 25
  - filter: RejectList
    filter variables:
    - name: ozoneTotal
    where:
    - variable:
        name: MetaData/sensorScanPosition
      minvalue: 25
    actions:
    - name: set
      flag: BadScan
    - name: reject

  # Accept total_ozone_error_flag values of 0 and 1, but not any others.
  - filter: RejectList
    filter variables:
    - name: ozoneTotal
    where:
    - variable:
        name: MetaData/totalOzoneQualityCode
      is_not_in: 0, 1
    actions:
    - name: set
      flag: RetrievalQualityCodeFlag
    - name: reject

  # Use data with best ozone algorighm
  - filter: RejectList
    filter variables:
    - name: ozoneTotal
    where:
    - variable:
        name: MetaData/bestOzoneAlgorithmFlag
      is_in: 3, 13
    actions:
    - name: set
      flag: RetrievalQualityAlgorithmFlag
    - name: reject

  # Data Thinning
  - filter: Gaussian Thinning
    horizontal_mesh: 150
    use_reduced_horizontal_grid: true
    distance_norm: geodesic
    actions:
    - name: set
      flag: Thinning
    - name: reject

  # Observation Post Filters (QC)
  # -----------------------------
  obs post filters:
  # GSI setup routine QC
  # Gross check
  - filter: Background Check
    filter variables:
    - name: ozoneTotal
    threshold: 10.0
    absolute threshold: 300.0
    actions:
    - name: set
      flag: GrossCheck
    - name: reject

  # End of Filters


  # GeoVaLs for Driving Observation Operators (testing mode)
  # --------------------------------------------------------
  geovals:
    filename: "{{atmosphere_obsdatain_path}}/{{atmosphere_obsdatain_prefix}}{{observation_from_jcb}}_geoval{{atmosphere_obsdatain_suffix}}"

  # Passed benchmark for UFO testing
  # --------------------------------
  passedBenchmark: 0
