-

  # Observation Space (I/O)
  # -----------------------
  obs space:
    name: {{observation_from_jcb}}
    obsdatain:
      engine:
        type: H5File
        obsfile: "{{atmosphere_obsdatain_path}}/{{atmosphere_obsdatain_prefix}}{{observation_from_jcb}}{{atmosphere_obsdatain_suffix}}"
        missing file action: warn
    obsdataout:
      engine:
        type: H5File
        obsfile: "{{atmosphere_obsdataout_path}}/{{atmosphere_obsdataout_prefix}}{{observation_from_jcb}}{{atmosphere_obsdataout_suffix}}"
    io pool:
      max pool size: 1
    observed variables: [airTemperature]
    simulated variables: [airTemperature]

  # Observation Operator
  # -------------------
  # Identity = horizontal interp
  #obs operator:
  #  name: Identity
  #  variables:
  #  - name: airTemperature

  # Linear Observation Operator
  # ---------------------------
  #linear obs operator:
  #  name: Identity
  #  variables:
  #  - name: airTemperature

  obs operator:
      name: VertInterp
      vertical coordinate: air_pressure
      observation vertical coordinate: pressure
      observation vertical coordinate group: MetaData
      interpolation method: log-linear
      variables:
      - name: airTemperature

  linear obs operator:
    name: VertInterp

  obs filters:
    # Reject all obs not in type
    - filter: Perform Action
      udescriptor: "obs_type_check"
      where:
      - variable: ObsValue/airTemperature
        value: is_not_valid
      action:
        name: reduce obs space

    # Reject all obs not in kx
    - filter: Perform Action
      udescriptor: "obs_kx_check"
      where:
      - variable: ObsType/airTemperature
        is_not_in: 181
      action:
        name: reduce obs space
    - filter: RejectList
      filter variables:
      - name: airTemperature
      where:
      - variable:
          name: MetaData/stationIdentification
        is_in: {{ get_conventional_rejected_stations(observation_from_jcb) }}
      action:
        name: reject
