-

  # Observation Space (I/O)
  # -----------------------
  obs space:
    name: SSMIS F17
    obsdatain:
      engine:
        type: H5File
        obsfile: "{{atm_obsdatain_path}}/{{atm_obsdatain_prefix}}{{observation_from_jcb}}{{atm_obsdatain_suffix}}"
    obsdataout:
      engine:
        type: H5File
        obsfile: "{{atm_obsdataout_path}}/{{atm_obsdataout_prefix}}{{observation_from_jcb}}{{atm_obsdataout_suffix}}"
    simulated variables: [brightness_temperature]
    channels: {{ get_satellite_variable(observation_from_jcb, "simulated") }}

  # Observation Operator
  # --------------------
  obs operator:
    name: CRTM
    Absorbers: [H2O, O3, CO2]
    obs options:
      Sensor_ID: &{{observation_from_jcb}}_sensor_id ssmis_f17
      EndianType: little_endian
      CoefficientPath: "{{crtm_coefficient_path}}"

  # Observation Bias Correction (VarBC)
  # -----------------------------------
  obs bias:
    input file: "{{atm_obsbiasin_path}}/{{atm_obsbiasin_prefix}}{{observation_from_jcb}}{{atm_obsbiasin_suffix}}"
    output file: "{{atm_obsbiasout_path}}/{{atm_obsbiasout_prefix}}{{observation_from_jcb}}{{atm_obsbiasout_suffix}}"
    variational bc:
      predictors:
      - name: constant
      - name: cloud_liquid_water
        sensor: SSMIS
        ch19h: 12
        ch19v: 13
        ch22v: 14
        ch37h: 15
        ch37v: 16
        ch91v: 17
        ch91h: 18
      - name: cosine_of_latitude_times_orbit_node
      - name: sine_of_latitude
      - name: lapse_rate
        order: 2
        tlapse: &{{observation_from_jcb}}_tlapse "{{atm_obsbiasin_path}}/{{atm_obstlapsein_prefix}}{{observation_from_jcb}}{{atm_obstlapsein_suffix}}"
      - name: lapse_rate
        tlapse: *{{observation_from_jcb}}_tlapse
      - name: emissivity
      - name: scan_angle
        var_name: scan_position
        order: 4
      - name: scan_angle
        var_name: scan_position
        order: 3
      - name: scan_angle
        var_name: scan_position
        order: 2
      - name: scan_angle
        var_name: scan_position

  # Observation Prior Filters (QC)
  # ------------------------------
  obs prior filters:
  - filter: Perform Action
    filter variables:
    - name: brightness_temperature
      channels: 1-24
    action:
      name: assign error
      error parameter vector: [1.5, 0.5, 0.5, 0.5, 0.5, 1, 1, 3, 3, 3, 3, 2.4, 1.27,
        1.44, 3, 1.34, 1.74, 3.75, 3, 3, 2, 6.4, 1, 1]

  # Observation Post Filters (QC)
  # -----------------------------
  obs post filters:
  #step1: Gross check (setuprad)
  - filter: Background Check
    filter variables:
    - name: brightness_temperature
      channels: 1-24
    threshold: 1.5
    action:
      name: reject
  #step1: Gross check(qcmod)
  - filter: Background Check
    filter variables:
    - name: brightness_temperature
      channels: 1-24
    absolute threshold: 3.5
    remove bias correction: true
    action:
      name: reject

  - filter: Difference Check
    filter variables:
    - name: brightness_temperature
      channels: 1-2,12-16
    reference: brightness_temperature_2@ObsValue
    value: brightness_temperature_2@HofX
    minvalue: -1.5
    maxvalue: 1.5
    where:
    - variable:
        name: water_area_fraction@GeoVaLs
      maxvalue: 0.99
  #QC_terrain: If seviri and terrain height > 2km. do not use
  - filter: Domain Check
    filter variables:
    - name: brightness_temperature
      channels: 1-24
    where:
    - variable:
        name: height_above_mean_sea_level@MetaData
      maxvalue: 2000.0
  #do not use over mixed surface
  - filter: BlackList
    filter variables:
    - name: brightness_temperature
      channels: 1-3,8-18
    where:
    - variable:
        name: land_area_fraction@GeoVaLs
      maxvalue: 0.99
    - variable:
        name: water_area_fraction@GeoVaLs
      maxvalue: 0.99
    - variable:
        name: ice_area_fraction@GeoVaLs
      maxvalue: 0.99
    - variable:
        name: surface_snow_area_fraction@GeoVaLs
      maxvalue: 0.99
  #step4: Generate q.c. bounds and modified variances
  - filter: BlackList
    filter variables:
    - name: brightness_temperature
      channels: 1-24
    action:
      name: inflate error
      inflation variable:
  #  Surface Jacobian check
        name: ObsErrorFactorSurfJacobianRad@ObsFunction
        channels: 1-24
        options:
          channels: 1-24
          sensor: *{{observation_from_jcb}}_sensor_id
          obserr_demisf: [0.010, 0.010, 0.010, 0.010, 0.010]
          obserr_dtempf: [0.500, 0.500, 0.500, 0.500, 0.500]
  #  Useflag Check
  - filter: Bounds Check
    filter variables:
    - name: brightness_temperature
      channels: 1-24
    test variables:
    - name: ChannelUseflagCheckRad@ObsFunction
      channels: 1-24
      options:
        channels: 1-24
        use_flag: [1, -1, -1, -1, 1, 1, 1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
          -1, -1, -1, -1, -1, -1, 1]
    minvalue: 1.0e-12
    action:
      name: reject


  # GeoVaLs for Driving Observation Operators (testing mode)
  # --------------------------------------------------------
  geovals:
    filename: "{{atm_obsdatain_path}}/{{atm_obsdatain_prefix}}{{observation_from_jcb}}_geoval{{atm_obsdatain_suffix}}"

  # Passed benchmark for UFO testing
  # --------------------------------
  passedBenchmark: 0
