{% if RUN == 'gdas' and current_cycle | to_YMDH == '2024022400' and machine != 'WCOSS2' %}
do_testing: true
test_reference_filename: {{ HOMEglobal }}/sorc/gdas.cd/test/testreference/{{ CASE }}{{ CASE_ENS }}_ufs_hybatmDA_3dvar.ref
test_output_filename: {{ HOMEglobal }}/sorc/gdas.cd/build/gdas/test/testoutput/{{ CASE }}{{ CASE_ENS }}_ufs_hybatmDA_3dvar.test.out
test_float_relative_tolerance: 1.0e-3
test_float_absolute_tolerance: 1.0e-5
{% endif %}
