{% set offset_td = "+6H" | to_timedelta %}
{% set background_time = current_cycle | add_to_datetime(offset_td) %}
geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ layout_x }}
  - {{ layout_y }}
  npx: {{ npx_anl }}
  npy: {{ npy_anl }}
  npz: {{ npz_anl }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_restart.yaml
date: '{{ background_time | to_isotime }}'
background:
  datetime: '{{ background_time | to_isotime }}'
  filetype: fms restart
  state variables: [mass_fraction_of_sulfate_in_air,
                    mass_fraction_of_hydrophobic_black_carbon_in_air,
                    mass_fraction_of_hydrophilic_black_carbon_in_air,
                    mass_fraction_of_hydrophobic_organic_carbon_in_air,
                    mass_fraction_of_hydrophilic_organic_carbon_in_air,
                    mass_fraction_of_dust001_in_air, mass_fraction_of_dust002_in_air,
                    mass_fraction_of_dust003_in_air, mass_fraction_of_dust004_in_air,
                    mass_fraction_of_dust005_in_air, mass_fraction_of_sea_salt001_in_air,
                    mass_fraction_of_sea_salt002_in_air, mass_fraction_of_sea_salt003_in_air,
                    mass_fraction_of_sea_salt004_in_air]
  datapath: ./bkg
  filename_core: '{{ background_time | to_fv3time }}.anlres.fv_core.res.nc'
  filename_trcr: '{{ background_time | to_fv3time }}.anlres.fv_tracer.res.nc'
  filename_cplr: '{{ background_time | to_fv3time }}.anlres.coupler.res'

background error:
  filetype: fms restart
  datapath: ./stddev
  filename_trcr: stddev.fv_tracer.res.nc
  filename_cplr: stddev.coupler.res

climate background error:
  geometry:
    fms initialization:
      namelist filename: ./fv3jedi/fmsmpp.nml
      field table filename: ./fv3jedi/field_table
    akbk: ./fv3jedi/akbk.nc4
    layout:
    - {{ layout_x }}
    - {{ layout_y }}
    npx: {{ npx_clim_b }}
    npy: {{ npy_clim_b }}
    npz: {{ npz_ges }}
    field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_restart.yaml
  climate background error stddev:
    filetype: fms restart
    skip coupler file: true
    datapath: ./clm_stddev
    filename_trcr: stddev.fv_tracer.res.nc
    filename_cplr: stddev.coupler.res
  diagb weight: {{ aero_diagb_weight }}
  staticb rescaling factor: {{ aero_staticb_rescaling_factor }}

variables:
  name:
  - mass_fraction_of_sulfate_in_air
  - mass_fraction_of_hydrophobic_black_carbon_in_air
  - mass_fraction_of_hydrophilic_black_carbon_in_air
  - mass_fraction_of_hydrophobic_organic_carbon_in_air
  - mass_fraction_of_hydrophilic_organic_carbon_in_air
  - mass_fraction_of_dust001_in_air
  - mass_fraction_of_dust002_in_air
  - mass_fraction_of_dust003_in_air
  - mass_fraction_of_dust004_in_air
  - mass_fraction_of_dust005_in_air
  - mass_fraction_of_sea_salt001_in_air
  - mass_fraction_of_sea_salt002_in_air
  - mass_fraction_of_sea_salt003_in_air
  - mass_fraction_of_sea_salt004_in_air

global rescale:
  geometry:
    fms initialization:
      namelist filename: ./fv3jedi/fmsmpp.nml
      field table filename: ./fv3jedi/field_table
    akbk: ./fv3jedi/akbk.nc4
    layout:
    - {{ layout_x }}
    - {{ layout_y }}
    npx: {{ npx_rescale }}
    npy: {{ npy_rescale }}
    npz: {{ npz_ges }}
    field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_restart.yaml
  rescale stddev:
    filetype: fms restart
    skip coupler file: true
    dateapath: ./stddev
    filename_trcr: rescale.fv_tracer.res.nc
    filename_cplr: rescale.coupler.res

number of halo points: {{ aero_diagb_n_halo }}
number of neighbors: {{ aero_diagb_n_neighbors }}
simple smoothing:
  horizontal iterations: {{ aero_diagb_smooth_horiz_iter }}
  vertical iterations: {{ aero_diagb_smooth_vert_iter }}
