{% set offset_td = "+6H" | to_timedelta %}
{% set background_time = current_cycle | add_to_datetime(offset_td) %}
geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ layout_x }}
  - {{ layout_y }}
  npx: {{ npx_anl }}
  npy: {{ npy_anl }}
  npz: {{ npz_anl }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_aerosol_restart.yaml
date: '{{ background_time | to_isotime }}' 
background:
  datetime: '{{ background_time | to_isotime }}' 
  filetype: fms restart
  datapath: ./bkg
  filename_core: '{{ background_time | to_fv3time }}.anlres.fv_core.res.nc'
  filename_trcr: '{{ background_time | to_fv3time }}.anlres.fv_tracer.res.nc'
  filename_cplr: '{{ background_time | to_fv3time }}.anlres.coupler.res'
  state variables: [mass_fraction_of_sulfate_in_air,
                    mass_fraction_of_hydrophobic_black_carbon_in_air,
                    mass_fraction_of_hydrophilic_black_carbon_in_air,
                    mass_fraction_of_hydrophobic_organic_carbon_in_air,
                    mass_fraction_of_hydrophilic_organic_carbon_in_air,
                    mass_fraction_of_dust001_in_air, mass_fraction_of_dust002_in_air,
                    mass_fraction_of_dust003_in_air, mass_fraction_of_dust004_in_air,
                    mass_fraction_of_dust005_in_air, mass_fraction_of_sea_salt001_in_air,
                    mass_fraction_of_sea_salt002_in_air, mass_fraction_of_sea_salt003_in_air,
                    mass_fraction_of_sea_salt004_in_air]

background error:
  covariance model: SABER
  saber central block: 
    saber block name: diffusion
    calibration:
      normalization:
        iterations: {{ aero_diffusion_iter }}    
      groups:
      - horizontal:
          fixed value: {{ aero_diffusion_horiz_len }} 
        write:
          filepath: "{{ DATA }}/diffusion/diffusion_hz" 
      - vertical:
          levels: {{ npz_ges }} 
          fixed value: {{ aero_diffusion_fixed_val }} 
          as gaussian: true
        write:
          filepath: "{{ DATA }}/diffusion/diffusion_vt" 

