variable change:
  variable change name: Model2GeoVaLs
  input variables: {{ atmosphere_jedi2fv3inc_state_variables }}
  output variables: {{ atmosphere_fv3_increment_variables }}
jedi increment variables: {{ atmosphere_det_increment_variables }}
fv3 increment variables: {{ atmosphere_fv3_increment_variables }}
background geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ atmosphere_layout_x }}
  - {{ atmosphere_layout_y }}
  npx: {{ atmosphere_npx_ges }}
  npy: {{ atmosphere_npy_ges }}
  npz: {{ atmosphere_npz_ges }}
jedi increment geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ atmosphere_layout_x }}
  - {{ atmosphere_layout_y }}
  npx: {{ atmosphere_npx_ges }}
  npy: {{ atmosphere_npy_ges }}
  npz: {{ atmosphere_npz_ges }}
fv3 increment geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ atmosphere_layout_x }}
  - {{ atmosphere_layout_y }}
  npx: {{ atmosphere_npx_ges }}
  npy: {{ atmosphere_npy_ges }}
  npz: {{ atmosphere_npz_ges }}
members from template:
  template:
    background input:
      datapath: ./bkg/mem%mem%
      filetype: cube sphere history
      provider: ufs
      filenames:
      - {{ atmosphere_ensemble_history_prefix }}cubed_sphere_grid_atmf006.nc
      - {{ atmosphere_ensemble_history_prefix }}cubed_sphere_grid_sfcf006.nc
      max allowable geometry difference: 1e-4      
      datetime: '{{ atmosphere_background_time_iso }}'
      state variables: {{ atmosphere_jedi2fv3inc_state_variables }}
      field io names: {{ atmosphere_background_field_io_names }}
    jedi increment input:
      filetype: cube sphere history
      provider: ufs
      field io names: {{ atmosphere_increment_field_io_names }}
      datapath: ./anl/mem%mem%
      filename: cubed_sphere_grid_atminc.jedi.nc
    fv3 increment output:
{% if atm_enkfonly | default(false) %}
      filetype: fms restart
      is restart: false
      filename_nonrestart: {{ atmosphere_ensemble_analysis_prefix }}cubed_sphere_grid_atminc.nc
{% else %}
      filetype: cube sphere history
      provider: ufs
      filename: {{ atmosphere_ensemble_analysis_prefix }}cubed_sphere_grid_atminc.nc
{% endif %}
      datapath: ./anl/mem%mem%
      field io names: {{ atmosphere_increment_field_io_names }}
  pattern: '%mem%'
  nmembers: {{ atmosphere_number_ensemble_members }}
  zero padding: 3

# Optionally test the application
{% if do_testing | default(false) %}
test:
  reference filename: {{test_reference_filename}}
{% if test_output_filename is defined %}
  test output filename: {{test_output_filename}}
{% endif %}
{% if log_output_filename is defined %}
  log output filename: {{log_output_filename}}
{% endif %}
{% if mpi_pattern is defined %}
  mpi pattern: {{mpi_pattern}}
{% endif %}
  float relative tolerance: {{test_float_relative_tolerance | default(1.0e-6, true)}}
  float absolute tolerance: {{test_float_absolute_tolerance | default(0.0, true) }}
  integer tolerance: {{test_integer_tolerance | default(0, true) }}
{% endif %}
