members:
{% for imember in range(atmosphere_number_ensemble_members) %}
{% for ihour in range( atmosphere_iau_hours | length ) %}
- state geometry:
    fms initialization:
      namelist filename: ./fv3jedi/fmsmpp.nml
      field table filename: ./fv3jedi/field_table
    akbk: ./fv3jedi/akbk.nc4
    layout:
    - {{ atmosphere_layout_x }}
    - {{ atmosphere_layout_y }}
    npx: {{ atmosphere_npx_anl }}
    npy: {{ atmosphere_npy_anl }}
    npz: {{ atmosphere_npz_anl }}
  increment geometry:
    fms initialization:
      namelist filename: ./fv3jedi/fmsmpp.nml
      field table filename: ./fv3jedi/field_table
    akbk: ./fv3jedi/akbk.nc4
    layout:
    - {{ atmosphere_layout_x }}
    - {{ atmosphere_layout_y }}
    npx: {{ atmosphere_npx_anl }}
    npy: {{ atmosphere_npy_anl }}
    npz: {{ atmosphere_npz_anl }}
  state:
    datetime: '{{ atmosphere_iau_times_iso[ihour] }}'
    state variables:
    - eastward_wind
    - northward_wind
    - air_temperature
    - water_vapor_mixing_ratio_wrt_moist_air
    - cloud_liquid_ice
    - cloud_liquid_water
    - ozone_mass_mixing_ratio
    - air_pressure_thickness
    - layer_thickness
    field io names:
      eastward_wind: u_inc
      northward_wind: v_inc
      air_temperature: T_inc
      water_vapor_mixing_ratio_wrt_moist_air: sphum_inc
      cloud_liquid_ice: icmr_inc
      cloud_liquid_water: liq_wat_inc
      ozone_mass_mixing_ratio: o3mr_inc
      air_pressure_thickness: delp_inc
      layer_thickness: delz_inc
    filetype: cube sphere history
    provider: ufs
    datapath: ./
    filename: {{ atmosphere_ensemble_analysis_prefix }}cubed_sphere_grid_catmi{{ '%03d' % atmosphere_iau_hours[ihour] }}.nc
    max allowable geometry difference: 1e-4
  increment:
    added variables:
    - eastward_wind
    - northward_wind
    - air_temperature
    - water_vapor_mixing_ratio_wrt_moist_air
    - cloud_liquid_ice
    - cloud_liquid_water
    - ozone_mass_mixing_ratio
    - air_pressure_thickness
    - layer_thickness
    field io names:
      eastward_wind: u_inc
      northward_wind: v_inc
      air_temperature: T_inc
      water_vapor_mixing_ratio_wrt_moist_air: sphum_inc
      cloud_liquid_ice: icmr_inc
      cloud_liquid_water: liq_wat_inc
      ozone_mass_mixing_ratio: o3mr_inc
      air_pressure_thickness: delp_inc
      layer_thickness: delz_inc
    filetype: cube sphere history
    provider: ufs
    datapath: ./mem{{ '%0{}d'.format(3)|format(imember+1) }}
    filename: {{ atmosphere_ensemble_analysis_prefix }}cubed_sphere_grid_atmi{{ '%03d' % atmosphere_iau_hours[ihour] }}.nc
  output:
    filetype: fms restart
    is restart: false
    datapath: ./mem{{ '%0{}d'.format(3)|format(imember+1) }}
    filename_nonrestart: {{ atmosphere_ensemble_analysis_prefix }}cubed_sphere_grid_ratmi{{ '%03d' % atmosphere_iau_hours[ihour] }}.nc
    field io names:
      eastward_wind: u_inc
      northward_wind: v_inc
      air_temperature: T_inc
      water_vapor_mixing_ratio_wrt_moist_air: sphum_inc
      cloud_liquid_ice: icmr_inc
      cloud_liquid_water: liq_wat_inc
      ozone_mass_mixing_ratio: o3mr_inc
      air_pressure_thickness: delp_inc
      layer_thickness: delz_inc
{% endfor %}
{% endfor %}
