observations:
# SSS
- obs space:
    name: sss_smap
    dmpdir subdir: ocean/sss
    provider: SMAP
    type: nc
    dmpdir regex: 'SMAP_L2B_SSS_NRT_*.h5'
    ocean basin: RECCAP2_region_masks_all_v20221025.nc

- obs space:
    name: sss_smos
    provider: SMOS
    dmpdir subdir: ocean/sss
    type: nc
    dmpdir regex: 'SM_OPER_MIR_OSUDP2_*.nc'
    ocean basin: RECCAP2_region_masks_all_v20221025.nc

# ADT
- obs space:
    name: adt_rads_all
    dmpdir subdir: ocean/adt
    provider: RADS
    type: nc
    dmpdir regex: 'rads_adt_*.nc'
    window:
       back: 0
       forward: 0
    error ratio: 0.4  # meters per day
    ocean basin: RECCAP2_region_masks_all_v20221025.nc

# Ice concentration
- obs space:
    name: icec_amsr2_north
    provider: AMSR2
    dmpdir subdir: ocean/icec
    type: nc
    dmpdir regex: 'AMSR2-SEAICE-NH_v2r2_GW1_s*.nc'
    ocean basin: RECCAP2_region_masks_all_v20221025.nc

- obs space:
    name: icec_amsr2_south
    provider: AMSR2
    dmpdir subdir: ocean/icec
    type: nc
    dmpdir regex: 'AMSR2-SEAICE-SH_v2r2_GW1_s*.nc'
    ocean basin: RECCAP2_region_masks_all_v20221025.nc

- obs space:
    name: icec_viirs_n20_l2_north
    provider: JPSSRR
    dmpdir subdir: ocean/icec/NH
    type: nc
    dmpdir regex: 'JRR-IceConcentration_v2r3_j01_s*.nc'
    ocean basin: RECCAP2_region_masks_all_v20221025.nc

- obs space:
    name: icec_viirs_n20_l2_south
    provider: JPSSRR
    dmpdir subdir: ocean/icec/SH
    type: nc
    dmpdir regex: 'JRR-IceConcentration_v2r3_j01_s*.nc'
    ocean basin: RECCAP2_region_masks_all_v20221025.nc

- obs space:
    name: icec_amsu_mb_l2
    provider: MIRS
    dmpdir subdir: ocean/icec
    type: nc
    dmpdir regex: 'NPR-MIRS-IMG_v11r9_ma1_s*.nc'
    ocean basin: RECCAP2_region_masks_all_v20221025.nc

- obs space:
    name: icec_atms_n20_l2
    provider: MIRS
    dmpdir subdir: ocean/icec
    type: nc
    dmpdir regex: 'NPR-MIRS-IMG_v11r9_n20_s*.nc'
    ocean basin: RECCAP2_region_masks_all_v20221025.nc

- obs space:
    name: icec_atms_n21_l2
    provider: MIRS
    dmpdir subdir: ocean/icec
    type: nc
    dmpdir regex: 'NPR-MIRS-IMG_v11r9_n21_s*.nc'
    ocean basin: RECCAP2_region_masks_all_v20221025.nc

- obs space:
    name: icec_atms_npp_l2
    provider: MIRS
    dmpdir subdir: ocean/icec
    type: nc
    dmpdir regex: 'NPR-MIRS-IMG_v11r4_npp_s*.nc'
    ocean basin: RECCAP2_region_masks_all_v20221025.nc

- obs space:
    name: icec_gmi_gpm_l2
    provider: MIRS
    dmpdir subdir: ocean/icec
    type: nc
    dmpdir regex: 'NPR-MIRS-IMG_v11r9_gpm_s*.nc'
    ocean basin: RECCAP2_region_masks_all_v20221025.nc

- obs space:
    name: icec_ssmis_f17_l2
    provider: MIRS
    dmpdir subdir: ocean/icec
    type: nc
    dmpdir regex: 'NPR-MIRS-IMG_v11r4_f17_s*.nc'
    ocean basin: RECCAP2_region_masks_all_v20221025.nc

# SST
- obs space:
    name: sst_avhrr_ma_l3u
    provider: GHRSST
    dmpdir subdir: ocean/sst
    type: nc
    dmpdir regex: '*-L3U_GHRSST-SSTsubskin-AVHRRF_MA-ACSPO_V*.nc'
    bounds:
      units: C
      min: -3.0
      max: 50.0
    binning:
      stride: 15
      min number of obs: 10
    ocean basin: RECCAP2_region_masks_all_v20221025.nc

- obs space:
    name: sst_avhrr_mb_l3u
    provider: GHRSST
    dmpdir subdir: ocean/sst
    type: nc
    dmpdir regex: '*-L3U_GHRSST-SSTsubskin-AVHRRF_MB-ACSPO_V*.nc'
    bounds:
      units: C
      min: -3.0
      max: 50.0
    binning:
      stride: 15
      min number of obs: 10
    ocean basin: RECCAP2_region_masks_all_v20221025.nc

- obs space:
    name: sst_avhrr_mc_l3u
    provider: GHRSST
    dmpdir subdir: ocean/sst
    type: nc
    dmpdir regex: '*-L3U_GHRSST-SSTsubskin-AVHRRF_MC-ACSPO_V*.nc'
    bounds:
      units: C
      min: -3.0
      max: 50.0
    binning:
      stride: 15
      min number of obs: 10
    ocean basin: RECCAP2_region_masks_all_v20221025.nc

- obs space:
    name: sst_viirs_npp_l3u
    provider: GHRSST
    dmpdir subdir: ocean/sst
    type: nc
    dmpdir regex: '*-L3U_GHRSST-SSTsubskin-VIIRS_NPP-ACSPO_V*.nc'
    bounds:
      units: C
      min: -3.0
      max: 50.0
    binning:
      stride: 15
      min number of obs: 10
    ocean basin: RECCAP2_region_masks_all_v20221025.nc

- obs space:
    name: sst_viirs_n20_l3u
    provider: GHRSST
    dmpdir subdir: ocean/sst
    type: nc
    dmpdir regex: '*-L3U_GHRSST-SSTsubskin-VIIRS_N20-ACSPO_V*.nc'
    bounds:
      units: C
      min: -3.0
      max: 50.0
    binning:
      stride: 15
      min number of obs: 10
    ocean basin: RECCAP2_region_masks_all_v20221025.nc

- obs space:
    name: sst_abi_g16_l3c
    provider: GHRSST
    dmpdir subdir: ocean/sst
    type: nc
    dmpdir regex: '*-L3C_GHRSST-SSTsubskin-ABI_G16-ACSPO_V*.nc'
    bounds:
      units: C
      min: -3.0
      max: 50.0
    binning:
      stride: 15
      min number of obs: 10
    ocean basin: RECCAP2_region_masks_all_v20221025.nc

- obs space:
    name: sst_abi_g17_l3c
    provider: GHRSST
    dmpdir subdir: ocean/sst
    type: nc
    dmpdir regex: '*-L3C_GHRSST-SSTsubskin-ABI_G17-ACSPO_V*.nc'
    bounds:
      units: C
      min: -3.0
      max: 50.0
    binning:
      stride: 15
      min number of obs: 10
    ocean basin: RECCAP2_region_masks_all_v20221025.nc

- obs space:
    name: sst_ahi_h08_l3c
    provider: GHRSST
    dmpdir subdir: ocean/sst
    type: nc
    dmpdir regex: '*-L3C_GHRSST-SSTsubskin-AHI_H08-ACSPO_V*.nc'
    bounds:
      units: C
      min: -3.0
      max: 50.0
    binning:
      stride: 15
      min number of obs: 10
    ocean basin: RECCAP2_region_masks_all_v20221025.nc

# in situ: monthly
- obs space:
    name: insitu_profile_bathy
    provider: GTS
    dmpdir subdir: atmos
    type: bufr
    dmpdir regex: 'gdas.*.bathy.*.bufr_d'

- obs space:
    name: insitu_profile_argo
    provider: GTS
    dmpdir subdir: atmos
    type: bufr
    dmpdir regex: 'gdas.*.subpfl.*.bufr_d'

- obs space:
    name: insitu_profile_glider
    provider: GTS
    dmpdir subdir: atmos
    type: bufr
    dmpdir regex: 'gdas.*.subpfl.*.bufr_d'

- obs space:
    name: insitu_profile_tesac
    provider: GTS
    dmpdir subdir: atmos
    type: bufr
    dmpdir regex: 'gdas.*.tesac.*.bufr_d'

- obs space:
    name: insitu_profile_marinemammal
    provider: GTS
    dmpdir subdir: atmos
    type: bufr
    dmpdir regex: 'gdas.*.tesac.*.bufr_d'

- obs space:
    name: insitu_profile_xbtctd
    provider: GTS
    dmpdir subdir: atmos
    type: bufr
    dmpdir regex: 'gdas.*.xbtctd.*.bufr_d'

- obs space:
    name: insitu_surface_altkob
    provider: GTS
    dmpdir subdir: atmos
    type: bufr
    dmpdir regex: 'gdas.*.altkob.*.bufr_d'

- obs space:
    name: insitu_surface_trkob
    provider: GTS
    dmpdir subdir: atmos
    type: bufr
    dmpdir regex: 'gdas.*.trkob.*.bufr_d'

# in situ: daily
- obs space:
    name: insitu_profile_dbuoy
    provider: GTS
    dmpdir subdir: atmos
    type: bufr
    dmpdir regex: 'gdas.*.dbuoy.*.bufr_d'

- obs space:
    name: insitu_profile_dbuoyb
    provider: GTS
    dmpdir subdir: atmos
    type: bufr
    dmpdir regex: 'gdas.*.dbuoyb.*.bufr_d'

- obs space:
    name: insitu_profile_mbuoy
    provider: GTS
    dmpdir subdir: atmos
    type: bufr
    dmpdir regex: 'gdas.*.mbuoy.*.bufr_d'

- obs space:
    name: insitu_profile_mbuoyb
    provider: GTS
    dmpdir subdir: atmos
    type: bufr
    dmpdir regex: 'gdas.*.mbuoyb.*.bufr_d'
