# Search path for model and obs for JCB
# -------------------------------------
algorithm_path: '{{PARMglobal}}/gdas/jcb-algorithms'
app_path_algorithm: '{{PARMglobal}}/gdas/jcb-gdas/algorithm/marine'
app_path_model: '{{PARMglobal}}/gdas/jcb-gdas/model/marine'
app_path_observations: '{{PARMglobal}}/gdas/jcb-gdas/observations/marine'
app_path_observation_chronicle: '{{PARMglobal}}/gdas/jcb-gdas/observation_chronicle/marine'


# Places where we deviate from the generic file name of a yaml
# ------------------------------------------------------------
model_file: marine_model_pseudo
initial_condition_file: marine_background  # Initial conditions for 4D apps is background
output_file: marine_output
final_increment_file: marine_final_increment


# Assimilation standard things (not prepended with model choice)
# ----------------------------
pslot: '{{ PSLOT }}'
window_begin: '{{ WINDOW_BEGIN | to_isotime }}'
window_length: '{{ WINDOW_LENGTH }}'
bound_to_include: begin
minimizer: RPCG
final_diagnostics_departures: oman
final_prints_frequency: PT3H
number_of_outer_loops: 1

# Analysis variables
{% set _analysis_vars = ['sea_ice_area_fraction',
                         'sea_ice_thickness',
                         'sea_ice_snow_thickness',
                         'sea_water_salinity',
                         'sea_water_potential_temperature',
                         'sea_surface_height_above_geoid'] %}

analysis_variables: {{ _analysis_vars }}

# Model things
# ------------

# State variables
marine_det_state_variables: {{ _analysis_vars + ['air_temperature',
                                                 'bulk_ice_salinity',
                                                 'sea_water_cell_thickness',
                                                 'sea_water_depth',
                                                 'ocean_mixed_layer_thickness',
                                                 'snow_ice_surface_temperature'] }}

marine_saber_central_block_variables: {{ ['sea_ice_area_fraction',
                                          'sea_water_salinity',
                                          'sea_water_potential_temperature',                               
                                          'sea_surface_height_above_geoid'] }}

# Increment variables
marine_det_increment_variables: {{ _analysis_vars }}

marine_window_begin: '{{ WINDOW_BEGIN }}'
marine_window_middle: '{{ WINDOW_MIDDLE }}'
marine_window_begin_iso: '{{ WINDOW_BEGIN | to_isotime }}'
marine_window_middle_iso: '{{ WINDOW_MIDDLE | to_isotime }}'
marine_window_end_iso: '{{ WINDOW_END | to_isotime }}'
marine_enspert_relpath: '{{ ENSPERT_RELPATH }}'
{% if DOIAU %}
marine_cice_date_fms: '{{ WINDOW_BEGIN | to_fv3time }}'
marine_cice_date_iso: '{{ WINDOW_BEGIN | to_isotime }}'
{% else %}
marine_cice_date_fms: '{{ WINDOW_MIDDLE | to_fv3time }}'
marine_cice_date_iso: '{{ WINDOW_MIDDLE | to_isotime }}'
{% endif %}

# Geometry
marine_soca_files_path: .
marine_vt_levels: '{{MOM6_LEVS}}'

# Initial conditions
marine_background_path: ./INPUT/
marine_background_time: '{{ WINDOW_BEGIN | to_isotime }}'

# Pseudo model
marine_forecast_timestep: PT3H

# Background error model
background_error_file: '{{berror_model}}'
marine_number_ensemble_members: '{{NMEM_ENS}}'
marine_number_ensemble_members_per_mpi: '{{NMEM_ENS_PER_MPI}}'
marine_stddev_time: '{{ WINDOW_MIDDLE  | to_isotime }}'

# Observations
observations: all_observations

marine_obsdataroot_path: '{{COMIN_OBS}}'
marine_obsdatastats_path: '{{COMOUT_OCEAN_ANALYSIS}}/diags'

marine_obsdatain_path: '{{DATA}}/obs'
marine_obsdatain_prefix: '{{OPREFIX}}'
marine_obsdatain_suffix: '.nc'
marine_obsdataout_path: '{{DATA}}/diags'
marine_obsdataout_prefix: ''
marine_obsdataout_suffix: '.nc'

# Outer loops
marine_ninner_1: '{{NINNER}}'
marine_grad_red_1: 1e-7

# Output
marine_output_dir: Data
marine_output_exp: 3dvarfgat_pseudo
marine_output_freq: PT3H   # can only writes out the analysis at the middle of the window
                           # when using 3D-FGAT as cost function

# Final increment
marine_final_increment_dir: Data
marine_final_increment_exp: 3dvarfgat_pseudo

# Background list
marine_pseudo_model_states: {{ marine_pseudo_model_states | default([]) }}

# These parameters are a bit of a hack that will be removed in the future when the anlstat
# job fully replaces the SOCA obs_diag_stats application
cleaned_observations: {{ cleaned_observations | default([]) }}
obs_variables: {{ obs_variables | default({}) }}

# COM path for configuration files
marine_config_path: '{{COMOUT_CONF}}'

# Local Ensemble DA (LETKF)
# -------------------------

# Solver
local_ensemble_da_solver: Deterministic LETKF
use_linear_observer: true

# Increment variables
{% if letkf_app | default(false) %}
{% set _increment_vars = ['sea_ice_area_fraction',
                          'sea_water_salinity',
                          'sea_water_potential_temperature',
                          'sea_surface_height_above_geoid',
                          'sea_water_cell_thickness',
                          'eastward_sea_water_velocity',
                          'northward_sea_water_velocity',
                          'sea_ice_thickness',
                          'sea_ice_snow_thickness'] %}
increment_variables: {{ _increment_vars }}
{% else %}
{% set _increment_vars = ['sea_ice_area_fraction',
                          'sea_water_salinity',
                          'sea_water_potential_temperature',
                          'sea_surface_height_above_geoid',
                          'sea_water_cell_thickness',
                          'eastward_sea_water_velocity',
                          'northward_sea_water_velocity'] %}
increment_variables: {{ _increment_vars }}
{% endif %}

# State variables
marine_ens_state_variables: {{ _increment_vars }}

# Driver
driver_save_posterior_mean: true
driver_save_prior_mean: true
driver_save_posterior_mean_increment: true
driver_save_posterior_ensemble_increments: true
driver_save_posterior_ensemble: false
driver_save_prior_variance: true
driver_save_posterior_variance: true
driver_do_posterior_observer: true

# Inflation
inflation_rtps: 0.0
inflation_rtpp: 0.0
inflation_mult: 1.0

# Using LETKF app? (used in obs YAMLs)
marine_letkf_app: {{ letkf_app | default(false) }}
marine_letkf_dist_halo_size: '{{ DIST_HALO_SIZE }}'
