{% if DOIAU %}
{% set cice_rst_date = MARINE_WINDOW_BEGIN | to_fv3time %}
{% else %}
{% set cice_rst_date = current_cycle | to_fv3time %}
{% endif %}

mkdir:
- '{{ COMOUT_OCEAN_ANALYSIS }}/diags'
- '{{ COMOUT_OCEAN_ANALYSIS }}/bump'

copy:
# Ocean IAU increment (intended for MOM6)
- ['{{ DATA }}/ocn.inc.nc', '{{ COMOUT_OCEAN_ANALYSIS }}/{{ APREFIX }}increment.ocean.nc']  # TODO: change name to increment.iau.nc or increment.mom6.nc later

# Ocean increment and analysis from JEDI
- ['{{ DATA }}/Data/ocn.3dvarfgat_pseudo.incr.{{ MARINE_WINDOW_MIDDLE_ISO }}.nc', '{{ COMOUT_OCEAN_ANALYSIS }}/{{ APREFIX }}increment.jedi.nc']
- ['{{ DATA }}/Data/ocn.3dvarfgat_pseudo.an.{{ MARINE_WINDOW_MIDDLE_ISO }}.nc', '{{ COMOUT_OCEAN_ANALYSIS }}/{{ APREFIX }}analysis.jedi.nc']

# SeaIce increment and analysis from JEDI
- ['{{ DATA }}/Data/ice.3dvarfgat_pseudo.incr.{{ MARINE_WINDOW_MIDDLE_ISO }}.nc', '{{ COMOUT_ICE_ANALYSIS }}/{{ APREFIX }}increment.jedi.nc']
- ['{{ DATA }}/Data/ice.3dvarfgat_pseudo.an.{{ MARINE_WINDOW_MIDDLE_ISO }}.nc', '{{ COMOUT_ICE_ANALYSIS }}/{{ APREFIX }}analysis.jedi.nc']

# Postprocessed ice increment
- ['{{ DATA }}/ice.inc.nc', '{{ COMOUT_ICE_ANALYSIS }}/{{ APREFIX }}increment.pp.nc']

# ssh diagnostics
{% if NMEM_ENS > 2 %}
- ['{{ DATA }}/staticb/ocn.ssh_steric_stddev.incr.{{ MARINE_WINDOW_BEGIN_ISO }}.nc', '{{ COMOUT_OCEAN_ANALYSIS }}/{{ APREFIX }}ssh_steric_stddev.nc']
- ['{{ DATA }}/staticb/ocn.ssh_unbal_stddev.incr.{{ MARINE_WINDOW_BEGIN_ISO }}.nc', '{{ COMOUT_OCEAN_ANALYSIS }}/{{ APREFIX }}ssh_unbal_stddev.nc']
- ['{{ DATA }}/staticb/ocn.ssh_total_stddev.incr.{{ MARINE_WINDOW_BEGIN_ISO }}.nc', '{{ COMOUT_OCEAN_ANALYSIS }}/{{ APREFIX }}ssh_total_stddev.nc']
- ['{{ DATA }}/staticb/ocn.steric_explained_variance.incr.{{ MARINE_WINDOW_BEGIN_ISO }}.nc', '{{ COMOUT_OCEAN_ANALYSIS }}/{{ APREFIX }}steric_explained_variance.nc']
{% endif %}

# DA grid (computed for the start of the window)
- ['{{ DATA }}/soca_gridspec.nc', '{{ COMOUT_OCEAN_ANALYSIS }}/{{ APREFIX }}gridspec.jedi_ocean.tm03.nc']

# CICE analysis restart
- ['{{ DATA }}/Data/{{ cice_rst_date }}.cice_model.res.nc', '{{ COMOUT_ICE_ANALYSIS }}/{{ cice_rst_date }}.cice_model_anl.res.nc']

# YAML files
- ['{{ DATA }}/fields_metadata.yaml', '{{ COMOUT_CONF }}']
- ['{{ DATA }}/obsop_name_map.yaml', '{{ COMOUT_CONF }}/']
- ['{{ DATA }}/soca_incpostproc.yaml', '{{ COMOUT_CONF }}/']
- ['{{ DATA }}/var.yaml', '{{ COMOUT_CONF }}/']

copy_opt:
# Ocean background and recentering error files
- ['{{ DATA }}/ocn.bkgerr_stddev.incr.{{ MARINE_WINDOW_MIDDLE_ISO }}.nc', '{{ COMOUT_OCEAN_ANALYSIS }}/{{ APREFIX }}bkgerr_stddev.jedi.nc']
- ['{{ DATA }}/static_ens/ocn.ssh_recentering_error.incr.{{ MARINE_WINDOW_BEGIN_ISO }}.nc', '{{ COMOUT_OCEAN_ANALYSIS }}/{{ APREFIX }}recentering_error.jedi.nc']

# Seaice background and recentering error files
- ['{{ DATA }}/ice.bkgerr_stddev.incr.{{ MARINE_WINDOW_MIDDLE_ISO }}.nc', '{{ COMOUT_ICE_ANALYSIS }}/{{ APREFIX }}bkgerr_stddev.jedi.nc']
- ['{{ DATA }}/static_ens/ice.ssh_recentering_error.incr.{{ MARINE_WINDOW_BEGIN_ISO }}.nc', '{{ COMOUT_ICE_ANALYSIS }}/{{ APREFIX }}recentering_error.jedi.nc']
