{% set ghead = GDUMP_ENS + ".t" + previous_cycle | strftime("%H") + "z." %}
mkdir:
- "{{ DATA }}/letkf_output"
- "{{ DATA }}/obs"
- "{{ DATA }}/diags"
copy:
- ["{{ PARMgfs }}/gdas/marine/fms/input.nml", "{{ DATA }}/mom_input.nml.tmpl"]
- ["{{ PARMgfs }}/gdas/marine/fields_metadata.yaml", "{{ DATA }}/fields_metadata.yaml"]
# TODO: What ensemble information is being staged in marine_ens_stage.yaml.j2?
- ["{{ COMIN_OCEAN_HISTORY_PREV }}/{{ ghead }}inst.f009.nc", "{{ DATA }}/INPUT/MOM.res.nc"]
- ["{{ COMIN_ICE_HISTORY_PREV }}/{{ ghead }}inst.f009.nc", "{{ DATA }}/INPUT/cice.res.nc"]
