jedi_config:
    gridgen:
        rundir: '{{ DATA }}'
        exe_src: '{{ EXECgfs }}/gdas_soca_gridgen.x'
        mpi_cmd: '{{ APRUN_MARINEBMAT }}'
        jcb_base_yaml: '{{ PARMgfs }}/gdas/marine/jcb-base.yaml.j2'
        jcb_algo: soca_gridgen
    soca_diagb:
        rundir: '{{ DATA }}'
        exe_src: '{{ EXECgfs }}/gdas_soca_diagb.x'
        mpi_cmd: '{{ APRUN_MARINEBMAT }}'
        jcb_base_yaml: '{{ PARMgfs }}/gdas/marine/jcb-base.yaml.j2'
        jcb_algo: soca_diagb
    soca_chgres:
        rundir: '{{ DATA }}'
        exe_src: '{{ EXECgfs }}/gdas.x'
        mpi_cmd: '{{ APRUN_MARINEBMAT }}'
        jedi_args: ['soca', 'convertstate']
        jcb_base_yaml: '{{ PARMgfs }}/gdas/marine/jcb-base.yaml.j2'
        jcb_algo: soca_chgres
    soca_parameters_diffusion_vt:
        rundir: '{{ DATA }}'
        exe_src: '{{ EXECgfs }}/gdas_soca_error_covariance_toolbox.x'
        mpi_cmd: '{{ APRUN_MARINEBMAT }}'
        jcb_base_yaml: '{{ PARMgfs }}/gdas/marine/jcb-base.yaml.j2'
        jcb_algo: soca_parameters_diffusion_vt
    soca_setcorscales:
        rundir: '{{ DATA }}'
        exe_src: '{{ EXECgfs }}/gdas_soca_setcorscales.x'
        mpi_cmd: '{{ APRUN_MARINEBMAT }}'
        jcb_base_yaml: '{{ PARMgfs }}/gdas/marine/jcb-base.yaml.j2'
        jcb_algo: soca_setcorscales
    soca_parameters_diffusion_hz:
        rundir: '{{ DATA }}'
        exe_src: '{{ EXECgfs }}/gdas_soca_error_covariance_toolbox.x'
        mpi_cmd: '{{ APRUN_MARINEBMAT }}'
        jcb_base_yaml: '{{ PARMgfs }}/gdas/marine/jcb-base.yaml.j2'
        jcb_algo: soca_parameters_diffusion_hz
    soca_ensb:
        rundir: '{{ DATA }}'
        exe_src: '{{ EXECgfs }}/gdas_soca_ens_handler.x'
        mpi_cmd: '{{ APRUN_MARINEBMAT }}'
        jcb_base_yaml: '{{ PARMgfs }}/gdas/marine/jcb-base.yaml.j2'
        jcb_algo: soca_ensb
    soca_ensweights:
        rundir: '{{ DATA }}'
        exe_src: '{{ EXECgfs }}/gdas_soca_hybridweights.x'
        mpi_cmd: '{{ APRUN_MARINEBMAT }}'
        jcb_base_yaml: '{{ PARMgfs }}/gdas/marine/jcb-base.yaml.j2'
        jcb_algo: soca_ensweights

data_in:
    mkdir:
    - '{{ DATA }}/bkg'
    - '{{ DATA }}/INPUT'
    - '{{ DATA }}/anl_geom'
    - '{{ DATAens }}/ens'

    copy_req:
{% filter indent(width=4) %}
{% include 'marine_det_stage_bkg.yaml.j2' %}
{% include 'marine_stage_fix_' ~ '%03d'|format(OCNRES|int) ~ '.yaml.j2' %}
{% include 'marine_stage_utilities.yaml.j2' %}
{% if DOHYBVAR_OCN == "YES" or NMEM_ENS >= 2 %}
{% include 'marine_ens_stage_bkg.yaml.j2' %}
{% endif %}
{% endfilter %}

    link_req:
    - [ "{{ DATA }}/../staticb", "{{ DATA }}/staticb" ]

data_out:
    copy_req:
    # soca grid
    - ['{{ DATA }}/soca_gridspec.nc', '{{ COMOUT_OCEAN_BMATRIX }}']

    # Copy the diffusion coefficient files to the ROTDIR
    - ['{{ DATAstaticb }}/hz_ocean.nc', '{{ COMOUT_OCEAN_BMATRIX }}/{{ APREFIX }}hz.nc']
    - ['{{ DATAstaticb }}/vt_ocean.nc', '{{ COMOUT_OCEAN_BMATRIX }}/{{ APREFIX }}vt.nc']

    # diag B rename (do we really need this?)
    - ['{{ DATAstaticb }}/ocn.bkgerr_parametric_stddev.incr.{{ WINDOW_END | to_isotime }}.nc', '{{ DATAstaticb }}/ocn.bkgerr_parametric_stddev.nc']
    - ['{{ DATAstaticb }}/ice.bkgerr_parametric_stddev.incr.{{ WINDOW_END | to_isotime }}.nc', '{{ DATAstaticb }}/ice.bkgerr_parametric_stddev.nc']
{% if DOHYBVAR_OCN == "YES" or NMEM_ENS >= 2 %}
    - ['{{ DATAstaticb }}/ocn.bkgerr_ens_stddev.incr.{{ WINDOW_BEGIN | to_isotime }}.nc','{{ DATAstaticb }}/ocn.bkgerr_ens_stddev.nc']
    - ['{{ DATAstaticb }}/ice.bkgerr_ens_stddev.incr.{{ WINDOW_BEGIN | to_isotime }}.nc','{{ DATAstaticb }}/ice.bkgerr_ens_stddev.nc']
{% endif %}

    # diag B
    - ['{{ DATAstaticb }}/ocn.bkgerr_parametric_stddev.nc', '{{ COMOUT_OCEAN_BMATRIX }}/{{ APREFIX }}bkgerr_parametric_stddev.nc']
    - ['{{ DATAstaticb }}/ice.bkgerr_parametric_stddev.nc', '{{ COMOUT_ICE_BMATRIX }}/{{ APREFIX }}bkgerr_parametric_stddev.nc']
{% if DOHYBVAR_OCN == "YES" or NMEM_ENS >= 2 %}
    - ['{{ DATAstaticb }}/ocn.bkgerr_ens_stddev.nc', '{{ COMOUT_OCEAN_BMATRIX }}/{{ APREFIX }}bkgerr_ens_stddev.nc']
    - ['{{ DATAstaticb }}/ice.bkgerr_ens_stddev.nc', '{{ COMOUT_ICE_BMATRIX }}/{{ APREFIX }}bkgerr_ens_stddev.nc']
    - ['{{ DATAstaticb }}/ocn.ssh_recentering_error.incr.{{ WINDOW_BEGIN | to_isotime }}.nc', '{{ COMOUT_OCEAN_BMATRIX }}/{{ APREFIX }}recentering_error.nc']
    - ['{{ DATAstaticb }}/ice.ssh_recentering_error.incr.{{ WINDOW_BEGIN | to_isotime }}.nc', '{{ COMOUT_ICE_BMATRIX }}/{{ APREFIX }}recentering_error.nc']
{% endif %}

{% if DOHYBVAR_OCN == "YES" or NMEM_ENS >= 2 %}
    # ensemble perturbation diagnostics
    - ['{{ DATA }}/ocn.ens_weights.incr.{{ WINDOW_MIDDLE | to_isotime }}.nc', '{{ COMOUT_OCEAN_BMATRIX }}/{{ APREFIX }}ens_weights.nc']
    - ['{{ DATA }}/ice.ens_weights.incr.{{ WINDOW_MIDDLE | to_isotime }}.nc', '{{ COMOUT_ICE_BMATRIX }}/{{ APREFIX }}ens_weights.nc']

    # ssh diagnostics
    - ['{{ DATA }}/staticb/ocn.ssh_steric_stddev.incr.{{ WINDOW_BEGIN | to_isotime }}.nc', '{{ COMOUT_OCEAN_BMATRIX }}/{{ APREFIX }}ssh_steric_stddev.nc']
    - ['{{ DATA }}/staticb/ocn.ssh_unbal_stddev.incr.{{ WINDOW_BEGIN | to_isotime }}.nc', '{{ COMOUT_OCEAN_BMATRIX }}/{{ APREFIX }}ssh_unbal_stddev.nc']
    - ['{{ DATA }}/staticb/ocn.ssh_total_stddev.incr.{{ WINDOW_BEGIN | to_isotime }}.nc', '{{ COMOUT_OCEAN_BMATRIX }}/{{ APREFIX }}ssh_total_stddev.nc']
    - ['{{ DATA }}/staticb/ocn.steric_explained_variance.incr.{{ WINDOW_BEGIN | to_isotime }}.nc', '{{ COMOUT_OCEAN_BMATRIX }}/{{ APREFIX }}steric_explained_variance.nc']
{% endif %}

    # yaml files
    - ['{{ DATA }}/fields_metadata.yaml', '{{ COMOUT_CONF }}/{{ APREFIX }}bmat_fields_metadata.yaml']
    - ['{{ DATA }}/gridgen.yaml', '{{ COMOUT_CONF }}/{{ APREFIX }}gridgen.yaml']
    - ['{{ DATA }}/obsop_name_map.yaml', '{{ COMOUT_CONF }}/{{ APREFIX }}obsop_name_map.yaml']
    - ['{{ DATA }}/soca_chgres.yaml', '{{ COMOUT_CONF }}/{{ APREFIX }}soca_chgres.yaml']
    - ['{{ DATA }}/soca_diagb.yaml', '{{ COMOUT_CONF }}/{{ APREFIX }}soca_diagb.yaml']
    - ['{{ DATA }}/soca_parameters_diffusion_hz.yaml', '{{ COMOUT_CONF }}/{{ APREFIX }}soca_parameters_diffusion_hz.yaml']
    - ['{{ DATA }}/soca_parameters_diffusion_vt.yaml', '{{ COMOUT_CONF }}/{{ APREFIX }}soca_parameters_diffusion_vt.yaml']
    - ['{{ DATA }}/soca_setcorscales.yaml', '{{ COMOUT_CONF }}/{{ APREFIX }}soca_setcorscales.yaml']
    - ['{{ DATA }}/soca_vtscales.yaml', '{{ COMOUT_CONF }}/{{ APREFIX }}soca_vtscales.yaml']
{% if DOHYBVAR_OCN == "YES" or NMEM_ENS >= 2 %}
    - ['{{ DATA }}/soca_ensb.yaml', '{{ COMOUT_CONF }}/{{ APREFIX }}soca_ensb.yaml']
    - ['{{ DATA }}/soca_ensweights.yaml', '{{ COMOUT_CONF }}/{{ APREFIX }}soca_ensweights.yaml']
{% endif %}
