jedi_config:
    var:
        rundir: '{{ DATA }}'
        exe_src: '{{ EXECgfs }}/gdas.x'
        mpi_cmd: '{{ APRUN_MARINEANLVAR }}'
        jedi_args: ['soca', 'variational']
        jcb_base_yaml: '{{ PARMgfs }}/gdas/marine/jcb-base.yaml.j2'
        jcb_algo_yaml: '{{ JCB_ALGO_YAML_VAR }}'
    soca_incpostproc:
        rundir: '{{ DATA }}'
        exe_src: '{{ EXECgfs }}/gdas_soca_incr_handler.x'
        mpi_cmd: '{{ APRUN_MARINEANLCHKPT }}'
        jcb_base_yaml: '{{ PARMgfs }}/gdas/marine/jcb-base.yaml.j2'
        jcb_algo: soca_incpostproc
    soca_diag_stats:
        rundir: '{{ DATA }}'
        exe_src: '{{ EXECgfs }}/gdas_soca_obsstats.x'
        mpi_cmd: '{{ APRUN_MARINEANLOBSSTATS }}'
        jcb_base_yaml: '{{ PARMgfs }}/gdas/marine/jcb-base.yaml.j2'
        jcb_algo: soca_diag_stats

data_in:
    mkdir:
    - '{{ DATA }}/bkg'
    - '{{ DATA }}/INPUT'
    - '{{ DATA }}/anl_geom'
    - '{{ DATA }}/Data'
    - '{{ DATA }}/obs'
    - '{{ DATA }}/diags'

    copy:
    # stage soca grid
    - ["{{ COMIN_OCEAN_BMATRIX }}/soca_gridspec.nc", "{{ DATA }}"]

    # stage ensemble weights
{% if DOHYBVAR_OCN == "YES" or NMEM_ENS >= 2 %}
    - ["{{ COMIN_OCEAN_BMATRIX }}/{{ APREFIX }}ocean.ens_weights.nc", "{{ DATA }}/ocean.ens_weights.nc"]
    - ["{{ COMIN_ICE_BMATRIX }}/{{ APREFIX }}ice.ens_weights.nc", "{{ DATA }}/ice.ens_weights.nc"]
{% endif %}

    # stage CICE6 restart
    - ["{{ COMIN_ICE_RESTART_PREV }}/{{ rst_date }}.cice_model.res.nc", "{{ DATA }}/Data"]  

{% filter indent(width=4) %}
{% include 'marine_det_stage_bkg.yaml.j2' %}
{% include 'marine_stage_fix_' ~ OCNRES ~ '.yaml.j2' %}
{% include 'marine_stage_utilities.yaml.j2' %}
{% endfilter %}

    copy_opt:
{% for ob_name in observations %}
    - ['{{ COMIN_OBS }}/{{ OPREFIX }}{{ ob_name }}.nc', '{{ DATA }}/obs']
{% endfor %}

    link:
    - [ "{{ DATA }}/../staticb", "{{ DATA }}/staticb" ]

data_out:
    mkdir:
    - '{{ COMOUT_OCEAN_ANALYSIS }}/diags'
    - '{{ COMOUT_OCEAN_ANALYSIS }}/bump'

    copy:
    # IAU increment
    - ['{{ DATA }}/ocn.inc.nc', '{{ COMOUT_OCEAN_ANALYSIS }}/{{ APREFIX }}ocninc.nc']

{% for domain in ['ocn','ice'] %}
    # Increments
    - ['{{ DATA }}/Data/{{ domain }}.3dvarfgat_pseudo.incr.{{ WINDOW_MIDDLE | to_isotime }}.nc', '{{ COMOUT_OCEAN_ANALYSIS }}/{{ APREFIX }}{{ domain }}.incr.nc']

    # Analysis at the start of the window
    - ['{{ DATA }}/Data/{{ domain }}.3dvarfgat_pseudo.an.{{ WINDOW_MIDDLE | to_isotime }}.nc', '{{ COMOUT_OCEAN_ANALYSIS }}/{{ APREFIX }}{{ domain }}.ana.nc']

    # Diagonal of the background error for the cycle
    #- ['{{ DATA }}/{{ domain }}.bkgerr_stddev.incr.{{ WINDOW_MIDDLE | to_isotime }}.nc', '{{ COMOUT_OCEAN_ANALYSIS }}/{{ APREFIX }}{{ domain }}.bkgerr_stddev.nc']

    # Recentering error
    #- ['{{ DATA }}/static_ens/{{ domain }}.ssh_recentering_error.incr.{{ WINDOW_BEGIN | to_isotime }}.nc', '{{ COMOUT_OCEAN_ANALYSIS }}/{{ APREFIX }}{{ domain }}.recentering_error.nc']
{% endfor %}

    # Postprocessed ice increment
    - ['{{ DATA }}/ice.inc.nc', '{{ COMOUT_OCEAN_ANALYSIS }}/{{ APREFIX }}ice.incr.postproc.nc']

    # ssh diagnostics
{% if NMEM_ENS > 2 %}
    {% for string in ['ssh_steric_stddev', 'ssh_unbal_stddev', 'ssh_total_stddev', 'steric_explained_variance'] %}
    - ['{{ DATA }}/staticb/ocn.{{ string }}.incr.{{ WINDOW_BEGIN | to_isotime }}.nc', '{{ COMOUT_OCEAN_ANALYSIS }}/{{ APREFIX }}ocn.{{ string }}.nc']
    {% endfor %}
{% endif %}

    # DA grid (computed for the start of the window)
    - ['{{ DATA }}/soca_gridspec.nc', '{{ COMOUT_OCEAN_ANALYSIS }}/{{ RUN }}.t{{ WINDOW_BEGIN | strftime('%H') }}z.ocngrid.nc']

    # CICE analysis restart
    - ['{{ DATA }}/Data/{{ cice_rst_date }}.cice_model.res.nc', '{{ COMOUT_ICE_ANALYSIS }}/{{ cice_rst_date }}.cice_model_anl.res.nc']

    # YAML files
    - ['{{ DATA }}/fields_metadata.yaml', '{{ COMOUT_CONF }}']
    - ['{{ DATA }}/obsop_name_map.yaml', '{{ COMOUT_CONF }}/']
    - ['{{ DATA }}/soca_incpostproc.yaml', '{{ COMOUT_CONF }}/']
    - ['{{ DATA }}/var.yaml', '{{ COMOUT_CONF }}/']
