{% if DOIAU %}
{% set cice_rst_date = MARINE_WINDOW_BEGIN | to_fv3time %}
{% else %}
{% set cice_rst_date = current_cycle | to_fv3time %}
{% endif %}

mkdir:
- '{{ COMOUT_OCEAN_ANALYSIS }}/diags'
- '{{ COMOUT_OCEAN_ANALYSIS }}/bump'

copy:
# IAU increment
- ['{{ DATA }}/ocn.inc.nc', '{{ COMOUT_OCEAN_ANALYSIS }}/{{ APREFIX }}increment.ocean.nc']

# Increments
{% for domain, component in ['ocn','ice'] | zip(['ocean','ice']) %}
- ['{{ DATA }}/Data/{{ domain }}.3dvarfgat_pseudo.incr.{{ MARINE_WINDOW_MIDDLE_ISO }}.nc', '{{ COMOUT_OCEAN_ANALYSIS }}/{{ APREFIX }}increment.jedi_{{ component }}.nc']

# Analysis at the start of the window
- ['{{ DATA }}/Data/{{ domain }}.3dvarfgat_pseudo.an.{{ MARINE_WINDOW_MIDDLE_ISO }}.nc', '{{ COMOUT_OCEAN_ANALYSIS }}/{{ APREFIX }}analysis.jedi_{{ component }}.nc']
{% endfor %}

# Postprocessed ice increment
- ['{{ DATA }}/ice.inc.nc', '{{ COMOUT_OCEAN_ANALYSIS }}/{{ APREFIX }}increment.ice_pp.nc']

# ssh diagnostics
{% if NMEM_ENS > 2 %}
- ['{{ DATA }}/staticb/ocn.ssh_steric_stddev.incr.{{ MARINE_WINDOW_BEGIN_ISO }}.nc', '{{ COMOUT_OCEAN_ANALYSIS }}/{{ APREFIX }}ssh_steric_stddev.nc']
- ['{{ DATA }}/staticb/ocn.ssh_unbal_stddev.incr.{{ MARINE_WINDOW_BEGIN_ISO }}.nc', '{{ COMOUT_OCEAN_ANALYSIS }}/{{ APREFIX }}ssh_unbal_stddev.nc']
- ['{{ DATA }}/staticb/ocn.ssh_total_stddev.incr.{{ MARINE_WINDOW_BEGIN_ISO }}.nc', '{{ COMOUT_OCEAN_ANALYSIS }}/{{ APREFIX }}ssh_total_stddev.nc']
- ['{{ DATA }}/staticb/ocn.steric_explained_variance.incr.{{ MARINE_WINDOW_BEGIN_ISO }}.nc', '{{ COMOUT_OCEAN_ANALYSIS }}/{{ APREFIX }}steric_explained_variance.nc']
{% endif %}

# DA grid (computed for the start of the window)
- ['{{ DATA }}/soca_gridspec.nc', '{{ COMOUT_OCEAN_ANALYSIS }}/{{ APREFIX }}gridspec.jedi_ocean.tm03.nc']

# CICE analysis restart
- ['{{ DATA }}/Data/{{ cice_rst_date }}.cice_model.res.nc', '{{ COMOUT_ICE_ANALYSIS }}/{{ cice_rst_date }}.cice_model_anl.res.nc']

# YAML files
- ['{{ DATA }}/fields_metadata.yaml', '{{ COMOUT_CONF }}']
- ['{{ DATA }}/obsop_name_map.yaml', '{{ COMOUT_CONF }}/']
- ['{{ DATA }}/soca_incpostproc.yaml', '{{ COMOUT_CONF }}/']
- ['{{ DATA }}/var.yaml', '{{ COMOUT_CONF }}/']

copy_opt:
# Increments
{% for domain, component in ['ocn','ice'] | zip(['ocean','ice']) %}
# Diagonal of the background error for the cycle
- ['{{ DATA }}/{{ domain }}.bkgerr_stddev.incr.{{ MARINE_WINDOW_MIDDLE_ISO }}.nc', '{{ COMOUT_OCEAN_ANALYSIS }}/{{ APREFIX }}bkgerr_stddev.jedi_{{ component }}.nc']

# Recentering error
- ['{{ DATA }}/static_ens/{{ domain }}.ssh_recentering_error.incr.{{ MARINE_WINDOW_BEGIN_ISO }}.nc', '{{ COMOUT_OCEAN_ANALYSIS }}/{{ APREFIX }}recentering_error.jedi_{{ component }}.nc']
{% endfor %}