jedi_config:
    gridgen:
        rundir: '{{ DATA }}'
        exe_src: '{{ EXECglobal }}/gdas_soca_gridgen.x'
        mpi_cmd: '{{ APRUN_MARINEANLECEN }}'
        jcb_base_yaml: '{{ PARMglobal }}/gdas/marine/jcb-base.yaml.j2'
        jcb_algo: soca_gridgen
    ens_handler:
        rundir: '{{ DATA }}'
        exe_src: '{{ EXECglobal }}/gdas_soca_anpproc.x'
        mpi_cmd: '{{ APRUN_MARINEANLECEN }}'
        jcb_base_yaml: '{{ PARMglobal }}/gdas/marine/jcb-base.yaml.j2'
        jcb_algo: soca_ens_handler

data_in:
    mkdir:
    - '{{ DATA }}/bkg'
    - '{{ DATA }}/INPUT'
    - '{{ DATA }}/anl_geom'
    - '{{ DATA }}/ens'
    - '{{ DATA }}/inc'

    link_req:
{% for imem in range(1,NMEM_ENS+1) %}
    - [ "{{ DATA }}/../ensdata/ens/ocean.{{ imem | string }}.nc", '{{ DATA }}/ens/' ]
    - [ "{{ DATA }}/../ensdata/ens/ice.{{ imem | string }}.nc", '{{ DATA }}/ens/' ]
    {% if DOLETKF_OCN %}
    - ['{{ DATA }}/../marineanlletkf/letkf_output/ocn.letkf.inc.ens.{{ imem }}.{{ WINDOW_BEGIN | to_isotime }}.PT3H.nc', '{{ DATA }}/inc/ocean.inc.{{ imem | string }}.nc' ]
    - ['{{ DATA }}/../marineanlletkf/letkf_output/ice.letkf.inc.ens.{{ imem }}.{{ WINDOW_BEGIN | to_isotime }}.PT3H.nc', '{{ DATA }}/inc/ice.inc.{{ imem | string }}.nc' ]
    {% endif %}
    
{% endfor %}

    copy_req:
{% for imem in range(1,NMEM_ENS+1) %}
    {% set memchar = 'mem%03d' | format(imem) %}
    {% set tmpl_dict = ({ '${ROTDIR}': ROTDIR,
                          '${RUN}': 'enkfgdas',
                          '${YMD}': previous_cycle | to_YMD,
                          '${HH}': previous_cycle | strftime('%H'),
                          '${MEMDIR}': memchar }) %}
    - ['{{ COM_ICE_RESTART_TMPL | replace_tmpl(tmpl_dict) }}/{{ cice_rst_date }}.cice_model.res.nc', '{{ DATA }}/ens/cice_model.res.{{ imem | string }}.nc']
{% endfor %}

{% filter indent(width=4) %}
{% include 'marine_det_stage_bkg.yaml.j2' %}
{% include 'marine_stage_fix_' ~ '%03d'|format(OCNRES|int) ~ '.yaml.j2' %}
{% include 'marine_stage_utilities.yaml.j2' %}
{% endfilter %}

data_out:
    mkdir:
{% set tmpl_dict = ({ '${ROTDIR}': ROTDIR,
                      '${RUN}': RUN,
                      '${YMD}': current_cycle | to_YMD,
                      '${HH}': current_cycle | strftime('%H'),
                      '${MEMDIR}': 'ensstat' }) %}
    - '{{ COM_OCEAN_ANALYSIS_TMPL | replace_tmpl(tmpl_dict) }}'
    - '{{ COM_ICE_ANALYSIS_TMPL | replace_tmpl(tmpl_dict) }}'

{% for imem in range(1,NMEM_ENS+1) %}
    {% set tmpl_dict = ({ '${ROTDIR}': ROTDIR,
                          '${RUN}': RUN,
                          '${YMD}': current_cycle | to_YMD,
                          '${HH}': current_cycle | strftime('%H'),
                          '${MEMDIR}': 'mem%03d' | format(imem) }) %}
    - '{{ COM_OCEAN_ANALYSIS_TMPL | replace_tmpl(tmpl_dict) }}'
    - '{{ COM_ICE_ANALYSIS_TMPL | replace_tmpl(tmpl_dict) }}'
{% endfor %}

    copy_req:

{% for imem in range(1,NMEM_ENS+1) %}
    {% set tmpl_dict = ({ '${ROTDIR}': ROTDIR,
                          '${RUN}': RUN,
                          '${YMD}': current_cycle | to_YMD,
                          '${HH}': current_cycle | strftime('%H'),
                          '${MEMDIR}': 'mem%03d' | format(imem) }) %}

    # ocean increments are saved as 1..n
    - ['{{ DATA }}/ocn.recenter.ens.{{ (imem) | string }}.{{ WINDOW_END | to_isotime }}.PT0S.nc', '{{ COM_OCEAN_ANALYSIS_TMPL | replace_tmpl(tmpl_dict) }}/{{ APREFIX_ENS }}mom6_increment.i006.nc']
    # ice restarts are saved as 1..n
    - ['{{ DATA }}/ens/cice_model.res.{{ imem | string }}.nc', '{{ COM_ICE_ANALYSIS_TMPL | replace_tmpl(tmpl_dict) }}/{{ cice_rst_date }}.analysis.cice_model.res.nc']
{% endfor %}

{% set tmpl_dict = ({ '${ROTDIR}': ROTDIR,
                      '${RUN}': RUN,
                      '${YMD}': current_cycle | to_YMD,
                      '${HH}': current_cycle | strftime('%H'),
                      '${MEMDIR}': 'ensstat' }) %}
    - ['{{ DATA }}/ocn.ensvar.incr.{{ WINDOW_END | to_isotime }}.nc', '{{ COM_OCEAN_ANALYSIS_TMPL | replace_tmpl(tmpl_dict) }}/{{ APREFIX_ENS }}bg_ensvar.nc']
    - ['{{ DATA }}/ice.ensvar.incr.{{ WINDOW_END | to_isotime }}.nc', '{{ COM_ICE_ANALYSIS_TMPL | replace_tmpl(tmpl_dict) }}/{{ APREFIX_ENS }}bg_ensvar.nc']
