jedi_config:
    ens_handler:
        rundir: '{{ DATA }}'
        exe_src: '{{ EXECglobal }}/gdas_soca_anpproc.x'
        mpi_cmd: '{{ APRUN_MARINEANLECEN }}'
        jcb_base_yaml: '{{ PARMglobal }}/gdas/marine/jcb-base.yaml.j2'
        jcb_algo: soca_ens_handler

data_in:
    mkdir:
    - '{{ DATA }}/bkg'
    - '{{ DATA }}/INPUT'
    - '{{ DATA }}/anl_geom'
    - '{{ DATA }}/ens'

    link:
{% for imem in range(1,NMEM_ENS+1) %}
    - [ "{{ DATA }}/../ensdata/ens/ocean.{{ imem | string }}.nc", '{{ DATA }}/ens/' ]
    - [ "{{ DATA }}/../ensdata/ens/ice.{{ imem | string }}.nc", '{{ DATA }}/ens/' ]
{% endfor %}

    copy_req:
{% for imem in range(1,NMEM_ENS+1) %}
    {% set memchar = 'mem%03d' | format(imem) %}
    {% set COMIN_ICE_RESTART_MEM_PREV = ROTDIR ~ '/enkfgdas.' ~ (previous_cycle | to_YMD) ~ '/' ~ (previous_cycle | strftime('%H')) ~ '/' ~ memchar ~ '/model/ice/restart' %}
    - ['{{ COMIN_ICE_RESTART_MEM_PREV }}/{{ cice_rst_date }}.cice_model.res.nc', '{{ DATA }}/ens/cice_model.res.{{ imem | string }}.nc']
{% endfor %}

{% filter indent(width=4) %}
{% include 'marine_det_stage_bkg.yaml.j2' %}
{% include 'marine_stage_fix_' ~ OCNRES ~ '.yaml.j2' %}
{% include 'marine_stage_utilities.yaml.j2' %}
{% endfilter %}

data_out:
    mkdir:
    {% set COMOUT_OCEAN_ENSTAT_ANALYSIS = ROTDIR ~ '/' ~ RUN ~ '.' ~ (current_cycle | to_YMD) ~ '/' ~ (current_cycle | strftime('%H')) ~ '/ensstat/analysis/ocean' %}
    {% set COMOUT_ICE_ENSTAT_ANALYSIS = ROTDIR ~ '/' ~ RUN ~ '.' ~ (current_cycle | to_YMD) ~ '/' ~ (current_cycle | strftime('%H')) ~ '/ensstat/analysis/ice' %}
    - '{{ COMOUT_OCEAN_ENSTAT_ANALYSIS }}'
    - '{{ COMOUT_ICE_ENSTAT_ANALYSIS }}'

{% for imem in range(1,NMEM_ENS+1) %}
    {% set COMOUT_OCEAN_ANALYSIS_MEM = ROTDIR ~ '/' ~ RUN ~ '.' ~ (current_cycle | to_YMD) ~ '/' ~ (current_cycle | strftime('%H')) ~ '/' ~ ('mem%03d' | format(imem)) ~ '/analysis/ocean' %}
    {% set COMOUT_ICE_ANALYSIS_MEM = ROTDIR ~ '/' ~ RUN ~ '.' ~ (current_cycle | to_YMD) ~ '/' ~ (current_cycle | strftime('%H')) ~ '/' ~ ('mem%03d' | format(imem)) ~ '/analysis/ice' %}
    - '{{ COMOUT_OCEAN_ANALYSIS_MEM }}'
    - '{{ COMOUT_ICE_ANALYSIS_MEM }}'
{% endfor %}

    copy_req:

{% for imem in range(1,NMEM_ENS+1) %}
    {% set COMOUT_OCEAN_ANALYSIS_MEM = ROTDIR ~ '/' ~ RUN ~ '.' ~ (current_cycle | to_YMD) ~ '/' ~ (current_cycle | strftime('%H')) ~ '/' ~ ('mem%03d' | format(imem)) ~ '/analysis/ocean' %}
    {% set COMOUT_ICE_ANALYSIS_MEM = ROTDIR ~ '/' ~ RUN ~ '.' ~ (current_cycle | to_YMD) ~ '/' ~ (current_cycle | strftime('%H')) ~ '/' ~ ('mem%03d' | format(imem)) ~ '/analysis/ice' %}

    # ocean increments are saved as 0..n-1
    - ['{{ DATA }}/ocn.recenter.ens.{{ (imem-1) | string }}.{{ WINDOW_END | to_isotime }}.PT0S.nc', '{{ COMOUT_OCEAN_ANALYSIS_MEM }}/{{ APREFIX_ENS }}mom6_increment.i006.nc']

    # ice restarts are saved as 1..n
    - ['{{ DATA }}/ens/cice_model.res.{{ imem | string }}.nc', '{{ COMOUT_ICE_ANALYSIS_MEM }}/{{ cice_rst_date }}.analysis.cice_model.res.nc']
{% endfor %}

    {% set COMOUT_OCEAN_ENSTAT_ANALYSIS_MEM = ROTDIR ~ '/' ~ RUN ~ '.' ~ (current_cycle | to_YMD) ~ '/' ~ (current_cycle | strftime('%H')) ~ '/ensstat/analysis/ocean' %}
    {% set COMOUT_ICE_ENSTAT_ANALYSIS_MEM = ROTDIR ~ '/' ~ RUN ~ '.' ~ (current_cycle | to_YMD) ~ '/' ~ (current_cycle | strftime('%H')) ~ '/ensstat/analysis/ice' %}
    - ['{{ DATA }}/ocn.ensvar.incr.{{ WINDOW_END | to_isotime }}.nc', '{{ COMOUT_OCEAN_ENSTAT_ANALYSIS_MEM }}/{{ APREFIX_ENS }}bg_ensvar.nc']
    - ['{{ DATA }}/ice.ensvar.incr.{{ WINDOW_END | to_isotime }}.nc', '{{ COMOUT_ICE_ENSTAT_ANALYSIS_MEM }}/{{ APREFIX_ENS }}bg_ensvar.nc']
    - ['{{ DATA }}/ocn.ensmean.an.{{ WINDOW_END | to_isotime }}.nc', '{{ COMOUT_OCEAN_ENSTAT_ANALYSIS_MEM }}/{{ APREFIX_ENS }}bg_ensmean.nc']
    - ['{{ DATA }}/ice.ensmean.an.{{ WINDOW_END | to_isotime }}.nc', '{{ COMOUT_ICE_ENSTAT_ANALYSIS_MEM }}/{{ APREFIX_ENS }}bg_ensmean.nc']
