######################################
# Utility yaml files to copy
######################################
- ["{{ HOMEglobal }}/parm/gdas/marine/fields_metadata.yaml", "{{ DATA }}/fields_metadata.yaml"]
- ["{{ HOMEglobal }}/parm/gdas/marine/obsop_name_map.yaml", "{{ DATA }}/obsop_name_map.yaml"]
