######################################
# fix files to copy
######################################

# Deterministic resource files
- ["{{ INPUT_FIX_DIR }}/rossrad.nc", "{{ DATA }}/rossrad.nc"]
- ["{{ INPUT_FIX_DIR }}/field_table", "{{ DATA }}/field_table"]
- ["{{ INPUT_FIX_DIR }}/diag_table", "{{ DATA }}/diag_table"]
- ["{{ INPUT_FIX_DIR }}/MOM_input", "{{ DATA }}/MOM_input"]
- ["{{ INPUT_FIX_DIR }}/obsop_name_map.yaml", "{{ DATA }}/obsop_name_map.yaml"]
- ["{{ INPUT_FIX_DIR }}/INPUT/grid_spec.nc", "{{ DATA }}/INPUT/grid_spec.nc"]
- ["{{ INPUT_FIX_DIR }}/INPUT/hycom1_75_800m.nc", "{{ DATA }}/INPUT/hycom1_75_800m.nc"]
- ["{{ INPUT_FIX_DIR }}/INPUT/layer_coord.nc", "{{ DATA }}/INPUT/layer_coord.nc"]
- ["{{ INPUT_FIX_DIR }}/INPUT/ocean_hgrid.nc", "{{ DATA }}/INPUT/ocean_hgrid.nc"]
- ["{{ INPUT_FIX_DIR }}/INPUT/ocean_mosaic.nc", "{{ DATA }}/INPUT/ocean_mosaic.nc"]
- ["{{ INPUT_FIX_DIR }}/INPUT/ocean_topog.nc", "{{ DATA }}/INPUT/ocean_topog.nc"]
- ["{{ INPUT_FIX_DIR }}/INPUT/tidal_amplitude.v20140616.nc", "{{ DATA }}/INPUT/tidal_amplitude.v20140616.nc"]
- ["{{ INPUT_FIX_DIR }}/INPUT/interpolate_zgrid_40L.nc", "{{ DATA }}/INPUT/interpolate_zgrid_40L.nc"]
- ["{{ INPUT_FIX_DIR }}/INPUT/All_edits.nc", "{{ DATA }}/INPUT/All_edits.nc"]
- ["{{ INPUT_FIX_DIR }}/INPUT/MOM_channels_global_025", "{{ DATA }}/INPUT/MOM_channels_global_025"]
- ["{{ INPUT_FIX_DIR }}/INPUT/seawifs-clim-1997-2010.1440x1080.v20180328.nc", "{{ DATA }}/INPUT/seawifs-clim-1997-2010.1440x1080.v20180328.nc"]
- ["{{ INPUT_FIX_DIR }}/INPUT/geothermal_davies2013_v1.nc", "{{ DATA }}/INPUT/geothermal_davies2013_v1.nc"]
- ["{{ INPUT_FIX_DIR }}/INPUT/interpolate_zgrid_46L.nc", "{{ DATA }}/INPUT/interpolate_zgrid_46L.nc"]
- ["{{ INPUT_FIX_DIR }}/INPUT/C384_mosaic.nc", "{{ DATA }}/INPUT/C384_mosaic.nc"]

# Analysis resource files
- ["{{ ANL_GEOM }}/soca_gridspec.nc", "{{ DATA }}/anl_geom/soca_gridspec.nc"]
- ["{{ ANL_GEOM }}/MOM_input", "{{ DATA }}/anl_geom/MOM_input"]
