######################################
# copy ensemble background files
######################################

# stage initial conditions
- ["{{ COMIN_OCEAN_HISTORY_PREV }}/gdas.ocean.t{{ previous_cycle | strftime("%H") }}z.inst.f003.nc", "{{ DATA }}/INPUT/MOM.res.nc"]
- ["{{ COMIN_ICE_HISTORY_PREV }}/gdas.ice.t{{ previous_cycle | strftime("%H") }}z.inst.f003.nc", "{{ DATA }}/INPUT/cice.res.nc"]

# stage f006 and f009 backgrounds
{% for fcsth in ['f006', 'f009'] %}
- ["{{ COMIN_OCEAN_HISTORY_PREV }}/gdas.ocean.t{{ previous_cycle | strftime("%H") }}z.inst.{{ fcsth }}.nc", "{{ DATA }}/bkg/ocean.bkg.{{ fcsth }}.nc"]
- ["{{ COMIN_ICE_HISTORY_PREV }}/gdas.ice.t{{ previous_cycle | strftime("%H") }}z.inst.{{ fcsth }}.nc", "{{ DATA }}/bkg/ice.bkg.{{ fcsth }}.nc"]
{% endfor %}
