# Algorithm
# ---------
algorithm: fv3jedi_fv3inc_variational

# Testing things
# --------------
test_reference_filename: {{ HOMEgfs }}/sorc/gdas.cd/test/testreference/atm_jjob_3dvar-fv3inc.ref
test_output_filename: {{ HOMEgfs }}/sorc/gdas.cd/build/gdas/test/testoutput/atm_jjob_3dvar-fv3inc.test.out
test_float_relative_tolerance: 1.0e-3
test_float_absolute_tolerance: 1.0e-5
