# Use observations for lgetkf
# ---------------------------
app_path_observations: {{PARMgfs}}/gdas/jcb-gdas/observations/atmosphere-lgetkf
app_path_observation_chronicle: {{PARMgfs}}/gdas/jcb-gdas/observation_chronicle/atmosphere-lgetkf

# Algorithm
# ---------
algorithm: local_ensemble_da

# Observation things
# ------------------
observations:
  - amsua_n19
  - sondes

# The observation files in the testing are appended using the yyymmddhh similar to JEDI tests
atm_obsdatain_suffix: ".{{ current_cycle | to_YMDH }}.nc"
