# Search path for model and obs for JCB
# -------------------------------------
app_path_model: {{PARMgfs}}/gdas/jcb-gdas/model/atmosphere
app_path_observations: {{PARMgfs}}/gdas/jcb-gdas/observations/atmosphere-lgetkf
app_path_observation_chronicle: {{PARMgfs}}/gdas/jcb-gdas/observation_chronicle/atmosphere-lgetkf

# Algorithm
# ---------
algorithm: 3dvar

# Observation things
# ------------------
observations:
  - amsua_n19
  - sondes
