# Algorithm
# ---------
algorithm: 3dvar

# Model things
# ------------
atmosphere_background_ensemble_path: ./bkg/mem%mem%

# Observation things
# ------------------
observations:
  - amsua_n19
  - sondes

# The observation files in the testing are appended using the yyymmddhh similar to JEDI tests
atmosphere_obsdatain_suffix: ".{{ current_cycle | to_YMDH }}.nc"

# Testing things
# --------------
{% if DO_TEST_MODE and RUN == 'gdas'  %}
do_testing: true
test_reference_filename: {{ HOMEgfs }}/sorc/gdas.cd/test/testreference/atm_jjob_3dvar.ref
test_output_filename: {{ HOMEgfs }}/sorc/gdas.cd/build/gdas/test/testoutput/atm_jjob_3dvar.test.out
test_float_relative_tolerance: 1.0e-3
test_float_absolute_tolerance: 1.0e-5
{% endif %}
