cost function:
  cost type: 3D-FGAT
  time window:
    begin: '{{ AERO_WINDOW_BEGIN | to_isotime }}'
    length: {{ AERO_WINDOW_LENGTH }}
  analysis variables: &3dvars
                      [mass_fraction_of_sulfate_in_air,
                       mass_fraction_of_hydrophobic_black_carbon_in_air,
                       mass_fraction_of_hydrophilic_black_carbon_in_air,
                       mass_fraction_of_hydrophobic_organic_carbon_in_air,
                       mass_fraction_of_hydrophilic_organic_carbon_in_air,
                       mass_fraction_of_dust001_in_air, mass_fraction_of_dust002_in_air,
                       mass_fraction_of_dust003_in_air, mass_fraction_of_dust004_in_air,
                       mass_fraction_of_dust005_in_air, mass_fraction_of_sea_salt001_in_air,
                       mass_fraction_of_sea_salt002_in_air, mass_fraction_of_sea_salt003_in_air,
                       mass_fraction_of_sea_salt004_in_air]
  geometry:
    fms initialization:
      namelist filename: ./fv3jedi/fmsmpp.nml
      field table filename: ./fv3jedi/field_table
    akbk: ./fv3jedi/akbk.nc4
    layout:
    - {{ layout_x }}
    - {{ layout_y }}
    npx: {{ npx_ges }}
    npy: {{ npy_ges }}
    npz: {{ npz_ges }}
    field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_restart.yaml
  model:
    name: PSEUDO
    datapath: ./bkg
    filetype: fms restart
    filename is datetime templated: true
    tstep: PT3H
    filename_core: '%yyyy%mm%dd.%hh%MM%ss.fv_core.res.nc'
    filename_trcr: '%yyyy%mm%dd.%hh%MM%ss.fv_tracer.res.nc'
    filename_cplr: '%yyyy%mm%dd.%hh%MM%ss.coupler.res'
  background:
    datapath: ./bkg
    filetype: fms restart
    datetime: '{{ AERO_WINDOW_BEGIN | to_isotime }}'
    filename_core: '{{ AERO_WINDOW_BEGIN | to_fv3time }}.fv_core.res.nc'
    filename_trcr: '{{ AERO_WINDOW_BEGIN | to_fv3time }}.fv_tracer.res.nc'
    filename_cplr: '{{ AERO_WINDOW_BEGIN | to_fv3time }}.coupler.res'
    state variables: [t,delp,sphum,so4,bc1,bc2,oc1,oc2,
                      dust1,dust2,dust3,dust4,dust5,
                      seas1,seas2,seas3,seas4]
  background error:
{% filter indent(width=4) %}
{% set berror_list = 'BERROR_YAML' | getenv('aero/berror/staticb_identity.yaml.j2') %}
{% include berror_list %}
{% endfilter %}
  observations:
{% filter indent(width=4) %}
{% set aero_obs_list = 'OBS_LIST' | getenv('aero/obs/lists/gdas_aero.yaml.j2') %}
{% include aero_obs_list %}
{% endfilter %}
variational:
  minimizer:
    algorithm: DRPCG
  iterations:
  - ninner: 35
    gradient norm reduction: 1e-10
    test: on
    geometry:
      fms initialization:
        namelist filename: ./fv3jedi/fmsmpp.nml
        field table filename: ./fv3jedi/field_table
      akbk: ./fv3jedi/akbk.nc4
      layout:
      - {{ layout_x }}
      - {{ layout_y }}
      npx: {{ npx_anl }}
      npy: {{ npy_anl }}
      npz: {{ npz_anl }}
      field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_restart.yaml
    diagnostics:
      departures: bkgmob
  - ninner: 35
    gradient norm reduction: 1e-10
    test: on
    geometry:
      fms initialization:
        namelist filename: ./fv3jedi/fmsmpp.nml
        field table filename: ./fv3jedi/field_table
      akbk: ./fv3jedi/akbk.nc4
      layout:
      - {{ layout_x }}
      - {{ layout_y }}
      npx: {{ npx_anl }}
      npy: {{ npy_anl }}
      npz: {{ npz_anl }}
      field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_restart.yaml
    diagnostics:
      departures: bkgmob1
final:
  diagnostics:
    departures: anlmob
  prints:
    frequency: PT3H
  increment:
    geometry:
      fms initialization:
        namelist filename: ./fv3jedi/fmsmpp.nml
        field table filename: ./fv3jedi/field_table
      akbk: ./fv3jedi/akbk.nc4
      layout:
      - {{ layout_x }}
      - {{ layout_y }}
      npx: {{ npx_ges }}
      npy: {{ npy_ges }}
      npz: {{ npz_ges }}
      field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_restart.yaml
    output:
      state component:
        datapath: ./anl
        prefix: aeroinc
        filetype: fms restart
        filename_core: '{{ current_cycle | to_fv3time }}.fv_core.res.nc'
        filename_trcr: '{{ current_cycle | to_fv3time }}.fv_tracer.res.nc'
        filename_cplr: '{{ current_cycle | to_fv3time }}.coupler.res'
        state variables: [t,delp,sphum,so4,bc1,bc2,oc1,oc2,
                          dust1,dust2,dust3,dust4,dust5,
                          seas1,seas2,seas3,seas4]
  increment to structured grid:
    grid type: regular gaussian 
    local interpolator type: atlas interpolator
    interpolation method:
      type: finite-element
    number of latitude gridpoints: {{ npy_ges - 1 }}
    variables to output: *3dvars
    all model levels: true
    datapath: ./anl
    prefix: aeroinc_gauss
