observations:

# ADT
#- rads_adt_3a
#- rads_adt_3b
#- rads_adt_6a
#- rads_adt_c2
#- rads_adt_j2
#- rads_adt_j3
#- rads_adt_sa
#- rads_adt_sw

# SSS
#- sss_smap_l2
#- sss_smos_l2

# SST
- sst_viirs_n21_l3u
- sst_viirs_n20_l3u
- sst_viirs_npp_l3u
- sst_avhrrf_ma_l3u
- sst_avhrrf_mb_l3u
- sst_avhrrf_mc_l3u

# Sea Ice
- icec_amsr2_north
- icec_amsr2_south

# In situ
- insitu_temp_profile_argo
- insitu_salt_profile_argo
- insitu_temp_surface_drifter
#- insitu_salt_profile_rama
#- insitu_salt_profile_taotriton
#- insitu_salt_profile_pirata
#- insitu_salt_profile_glider
#- insitu_salt_profile_tesac
#- insitu_temp_profile_rama
#- insitu_temp_profile_taotriton
#- insitu_temp_profile_pirata
#- insitu_temp_profile_glider
#- insitu_temp_profile_tesac
#- insitu_temp_surface_ndbc
