- ['{{ FIXglobal }}/gdas/crtm_aod/AerosolCoeff.bin', '{{ DATA }}/crtm/']
- ['{{ FIXglobal }}/gdas/crtm_aod/CloudCoeff.bin', '{{ DATA }}/crtm/']
- ['{{ FIXglobal }}/gdas/crtm_aod/v.viirs-m_npp.SpcCoeff.bin', '{{ DATA }}/crtm/']
- ['{{ FIXglobal }}/gdas/crtm_aod/v.viirs-m_npp.TauCoeff.bin', '{{ DATA }}/crtm/']
- ['{{ FIXglobal }}/gdas/crtm_aod/v.viirs-m_j1.SpcCoeff.bin', '{{ DATA }}/crtm/']
- ['{{ FIXglobal }}/gdas/crtm_aod/v.viirs-m_j1.TauCoeff.bin', '{{ DATA }}/crtm/']
- ['{{ FIXglobal }}/gdas/crtm_aod/v.viirs-m_j2.SpcCoeff.bin', '{{ DATA }}/crtm/']
- ['{{ FIXglobal }}/gdas/crtm_aod/v.viirs-m_j2.TauCoeff.bin', '{{ DATA }}/crtm/']
- ['{{ FIXglobal }}/gdas/crtm_aod/NPOESS.VISice.EmisCoeff.bin', '{{ DATA }}/crtm/']
- ['{{ FIXglobal }}/gdas/crtm_aod/NPOESS.VISland.EmisCoeff.bin', '{{ DATA }}/crtm/']
- ['{{ FIXglobal }}/gdas/crtm_aod/NPOESS.VISsnow.EmisCoeff.bin', '{{ DATA }}/crtm/']
- ['{{ FIXglobal }}/gdas/crtm_aod/NPOESS.VISwater.EmisCoeff.bin', '{{ DATA }}/crtm/']
