jedi_config:
    aeroanlvar:
        rundir: '{{ DATA }}'
        exe_src: '{{ EXECgfs }}/gdas.x'
        mpi_cmd: '{{ APRUN_AEROANL }}'
        jedi_args: ['fv3jedi', 'variational']
        jcb_base_yaml: '{{ PARMgfs }}/gdas/aero/jcb-base.yaml.j2'
        jcb_algo_yaml: '{{ PARMgfs }}/gdas/aero/jcb-prototype_3dvar.yaml.j2'

data_in:
    mkdir:
    - '{{ DATA }}/anl'
    - '{{ DATA }}/diags'
    - '{{ DATA }}/berror'
    - '{{ DATA }}/bkg'
    - '{{ DATA }}/obs'
    - '{{ DATA }}/crtm'
    - '{{ DATA }}/fv3jedi'
    - '{{ DATA }}/upp'

    copy:
{% for bkg_time in bkg_times %}
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.coupler.res', '{{ DATA }}/bkg/']

    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_core.res.tile1.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_core.res.tile2.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_core.res.tile3.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_core.res.tile4.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_core.res.tile5.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_core.res.tile6.nc', '{{ DATA }}/bkg/']

    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_tracer.res.tile1.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_tracer.res.tile2.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_tracer.res.tile3.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_tracer.res.tile4.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_tracer.res.tile5.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_tracer.res.tile6.nc', '{{ DATA }}/bkg/']

    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.sfc_data.tile1.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.sfc_data.tile2.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.sfc_data.tile3.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.sfc_data.tile4.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.sfc_data.tile5.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.sfc_data.tile6.nc', '{{ DATA }}/bkg/']

    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_srf_wnd.res.tile1.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_srf_wnd.res.tile2.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_srf_wnd.res.tile3.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_srf_wnd.res.tile4.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_srf_wnd.res.tile5.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_srf_wnd.res.tile6.nc', '{{ DATA }}/bkg/']
{% endfor %}

## copy backgrounds again for fv_tracer to create analysis files later
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ anl_time | to_fv3time }}.fv_tracer.res.tile1.nc', '{{ DATA }}/anl/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ anl_time | to_fv3time }}.fv_tracer.res.tile2.nc', '{{ DATA }}/anl/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ anl_time | to_fv3time }}.fv_tracer.res.tile3.nc', '{{ DATA }}/anl/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ anl_time | to_fv3time }}.fv_tracer.res.tile4.nc', '{{ DATA }}/anl/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ anl_time | to_fv3time }}.fv_tracer.res.tile5.nc', '{{ DATA }}/anl/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ anl_time | to_fv3time }}.fv_tracer.res.tile6.nc', '{{ DATA }}/anl/']


######################################
## copy berror files from COMIN_CHEM_BMAT_PREV
## stddev files
    - ['{{ COMIN_CHEM_BMAT_PREV }}/{{ current_cycle | to_fv3time }}.stddev.fv_tracer.res.tile1.nc', '{{ DATA }}/berror/']
    - ['{{ COMIN_CHEM_BMAT_PREV }}/{{ current_cycle | to_fv3time }}.stddev.fv_tracer.res.tile2.nc', '{{ DATA }}/berror/']
    - ['{{ COMIN_CHEM_BMAT_PREV }}/{{ current_cycle | to_fv3time }}.stddev.fv_tracer.res.tile3.nc', '{{ DATA }}/berror/']
    - ['{{ COMIN_CHEM_BMAT_PREV }}/{{ current_cycle | to_fv3time }}.stddev.fv_tracer.res.tile4.nc', '{{ DATA }}/berror/']
    - ['{{ COMIN_CHEM_BMAT_PREV }}/{{ current_cycle | to_fv3time }}.stddev.fv_tracer.res.tile5.nc', '{{ DATA }}/berror/']
    - ['{{ COMIN_CHEM_BMAT_PREV }}/{{ current_cycle | to_fv3time }}.stddev.fv_tracer.res.tile6.nc', '{{ DATA }}/berror/']
### copy coupler file
    - ['{{ COMIN_CHEM_BMAT_PREV }}/{{ current_cycle | to_fv3time }}.stddev.coupler.res', '{{ DATA }}/berror/']
### copy diffusion files
    - ['{{ COMIN_CHEM_BMAT_PREV }}/{{ GPREFIX }}aero_diffusion_hz.nc', '{{ DATA }}/berror/diffusion_hz.nc']
    - ['{{ COMIN_CHEM_BMAT_PREV }}/{{ GPREFIX }}aero_diffusion_vt.nc', '{{ DATA }}/berror/diffusion_vt.nc']

####################################
# copy atmos background and increment from UPP generating analysis grib2 file
### copy gaussian sfc file from COMIN_ATMOS_HISTORY_PREV
###    - ["{{ COMIN_ATMOS_HISTORY_PREV }}/{{ GPREFIX }}sfc.f006.nc", "{{ DATA }}/upp/sfc_{{ current_cycle | to_YMDH }}0000.nc"]
### copy gaussian atmos analysis from COMIN_ATMOS_ANALYSIS
###    - ["{{ COMIN_ATMOS_ANALYSIS }}/{{ APREFIX }}analysis.atm.a006.nc", "{{ DATA }}/upp/atm_{{ current_cycle | to_YMDH }}0000.nc"]

## copy gaussian background files from COMIN_ATMOS_HISTORY_PREV
    - ['{{ COMIN_ATMOS_HISTORY_PREV }}/{{ GPREFIX }}atm.f006.nc', '{{ DATA }}/upp/{{ GPREFIX }}atm.f006.nc']
    - ['{{ COMIN_ATMOS_HISTORY_PREV }}/{{ GPREFIX }}atm.f006.nc', '{{ DATA }}/upp/atm_{{ current_cycle | to_YMDH }}0000.nc']
    - ['{{ COMIN_ATMOS_HISTORY_PREV }}/{{ GPREFIX }}sfc.f006.nc', '{{ DATA }}/upp/sfc_{{ current_cycle | to_YMDH }}0000.nc']
### copy atmos increment from COMIN_ATMOS_ANALYSIS
    - ['{{ COMIN_ATMOS_ANALYSIS }}/{{ APREFIX }}increment.atm.i006.nc", "{{ DATA }}/upp/{{ APREFIX }}increment.atm.i006.nc']

{% filter indent(width=4) %}
{% include 'aero_stage_crtm_coeff.yaml.j2' %}
{% include 'aero_stage_jedi_fix.yaml.j2' %}
{% endfilter %}

    copy_opt:
{% filter indent(width=4) %}
{% include 'aero_stage_obs.yaml.j2' %}
{% endfilter %}

data_out:
#    mkdir:
#    - "{{ COMOUT_CHEM_GRIB }}"

    copy:
## copy variational YAML to ROTDIR
    - ['{{ DATA }}/aeroanlvar.yaml', '{{ COMOUT_CONF }}/{{ APREFIX }}aerovar.yaml']
## copy increments
    - ['{{ DATA }}/anl/aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile1.nc', '{{ COMOUT_CHEM_ANALYSIS }}/aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile1.nc']
    - ['{{ DATA }}/anl/aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile2.nc', '{{ COMOUT_CHEM_ANALYSIS }}/aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile2.nc']
    - ['{{ DATA }}/anl/aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile3.nc', '{{ COMOUT_CHEM_ANALYSIS }}/aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile3.nc']
    - ['{{ DATA }}/anl/aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile4.nc', '{{ COMOUT_CHEM_ANALYSIS }}/aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile4.nc']
    - ['{{ DATA }}/anl/aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile5.nc', '{{ COMOUT_CHEM_ANALYSIS }}/aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile5.nc']
    - ['{{ DATA }}/anl/aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile6.nc', '{{ COMOUT_CHEM_ANALYSIS }}/aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile6.nc']

    - ['{{ DATA }}/anl/aeroinc_gauss.{{ current_cycle | to_isotime }}.gaussian.modelLevels.nc', '{{ COMOUT_CHEM_ANALYSIS }}/{{ APREFIX }}aeroinc.nc']

## copy analysis
    - ['{{ DATA }}/anl/{{ anl_time | to_fv3time }}.fv_tracer.res.tile1.nc', '{{ COMOUT_ATMOS_RESTART }}/{{ anl_time | to_fv3time }}.aeroanl_fv_tracer.res.tile1.nc']
    - ['{{ DATA }}/anl/{{ anl_time | to_fv3time }}.fv_tracer.res.tile2.nc', '{{ COMOUT_ATMOS_RESTART }}/{{ anl_time | to_fv3time }}.aeroanl_fv_tracer.res.tile2.nc']
    - ['{{ DATA }}/anl/{{ anl_time | to_fv3time }}.fv_tracer.res.tile3.nc', '{{ COMOUT_ATMOS_RESTART }}/{{ anl_time | to_fv3time }}.aeroanl_fv_tracer.res.tile3.nc']
    - ['{{ DATA }}/anl/{{ anl_time | to_fv3time }}.fv_tracer.res.tile4.nc', '{{ COMOUT_ATMOS_RESTART }}/{{ anl_time | to_fv3time }}.aeroanl_fv_tracer.res.tile4.nc']
    - ['{{ DATA }}/anl/{{ anl_time | to_fv3time }}.fv_tracer.res.tile5.nc', '{{ COMOUT_ATMOS_RESTART }}/{{ anl_time | to_fv3time }}.aeroanl_fv_tracer.res.tile5.nc']
    - ['{{ DATA }}/anl/{{ anl_time | to_fv3time }}.fv_tracer.res.tile6.nc', '{{ COMOUT_ATMOS_RESTART }}/{{ anl_time | to_fv3time }}.aeroanl_fv_tracer.res.tile6.nc']
    - ['{{ DATA }}/upp/atm_{{ current_cycle | to_YMDH }}0000.nc', '{{ COMOUT_CHEM_ANALYSIS }}/{{ APREFIX }}analysis.aero.nc']
    - ['{{ DATA }}/upp/GFSPRS.GrbF00', '{{ COMOUT_CHEM_GRIB }}/{{ APREFIX }}aeroanl.grib2']
    - ['{{ DATA }}/upp/GFSPRS.GrbF00.idx', '{{ COMOUT_CHEM_GRIB }}/{{ APREFIX }}aeroanl.grib2.idx']
