jedi_config:
    aeroanlvar:
        rundir: '{{ DATA }}'
        exe_src: '{{ EXECglobal }}/gdas.x'
        mpi_cmd: '{{ APRUN_AEROANL }}'
        jedi_args: ['fv3jedi', 'variational']
        jcb_algo: '3dfgat'
        jcb_base_yaml: '{{ PARMglobal }}/gdas/aero/jcb-base.yaml.j2'
        obs_list_yaml: '{{ OBS_LIST_YAML }}'

data_in:
    mkdir:
    - '{{ DATA }}/anl'
    - '{{ DATA }}/berror'
    - '{{ DATA }}/bkg'
    - '{{ DATA }}/crtm'
    - '{{ DATA }}/fv3jedi'

    copy_req:
{% for bkg_time in bkg_times %}
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.coupler.res', '{{ DATA }}/bkg/']

    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_core.res.tile1.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_core.res.tile2.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_core.res.tile3.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_core.res.tile4.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_core.res.tile5.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_core.res.tile6.nc', '{{ DATA }}/bkg/']

    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_tracer.res.tile1.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_tracer.res.tile2.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_tracer.res.tile3.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_tracer.res.tile4.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_tracer.res.tile5.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_tracer.res.tile6.nc', '{{ DATA }}/bkg/']

    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.sfc_data.tile1.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.sfc_data.tile2.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.sfc_data.tile3.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.sfc_data.tile4.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.sfc_data.tile5.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.sfc_data.tile6.nc', '{{ DATA }}/bkg/']

    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_srf_wnd.res.tile1.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_srf_wnd.res.tile2.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_srf_wnd.res.tile3.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_srf_wnd.res.tile4.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_srf_wnd.res.tile5.nc', '{{ DATA }}/bkg/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ bkg_time | to_fv3time }}.fv_srf_wnd.res.tile6.nc', '{{ DATA }}/bkg/']
{% endfor %}

## copy backgrounds again for fv_tracer to create analysis files later
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ anl_time | to_fv3time }}.fv_tracer.res.tile1.nc', '{{ DATA }}/anl/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ anl_time | to_fv3time }}.fv_tracer.res.tile2.nc', '{{ DATA }}/anl/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ anl_time | to_fv3time }}.fv_tracer.res.tile3.nc', '{{ DATA }}/anl/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ anl_time | to_fv3time }}.fv_tracer.res.tile4.nc', '{{ DATA }}/anl/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ anl_time | to_fv3time }}.fv_tracer.res.tile5.nc', '{{ DATA }}/anl/']
    - ['{{ COMIN_ATMOS_RESTART_PREV }}/{{ anl_time | to_fv3time }}.fv_tracer.res.tile6.nc', '{{ DATA }}/anl/']


######################################

## copy berror files, source depends on coldstart
{% if coldstart %}
    ## stddev files from HOMEglobal/fix/coldstart/berror/ with explicit destination filenames
    - ['{{ HOMEglobal }}/fix/coldstart/berror/stddev.fv_tracer.res.tile1.nc', '{{ DATA }}/berror/{{ current_cycle | to_fv3time }}.stddev.fv_tracer.res.tile1.nc']
    - ['{{ HOMEglobal }}/fix/coldstart/berror/stddev.fv_tracer.res.tile2.nc', '{{ DATA }}/berror/{{ current_cycle | to_fv3time }}.stddev.fv_tracer.res.tile2.nc']
    - ['{{ HOMEglobal }}/fix/coldstart/berror/stddev.fv_tracer.res.tile3.nc', '{{ DATA }}/berror/{{ current_cycle | to_fv3time }}.stddev.fv_tracer.res.tile3.nc']
    - ['{{ HOMEglobal }}/fix/coldstart/berror/stddev.fv_tracer.res.tile4.nc', '{{ DATA }}/berror/{{ current_cycle | to_fv3time }}.stddev.fv_tracer.res.tile4.nc']
    - ['{{ HOMEglobal }}/fix/coldstart/berror/stddev.fv_tracer.res.tile5.nc', '{{ DATA }}/berror/{{ current_cycle | to_fv3time }}.stddev.fv_tracer.res.tile5.nc']
    - ['{{ HOMEglobal }}/fix/coldstart/berror/stddev.fv_tracer.res.tile6.nc', '{{ DATA }}/berror/{{ current_cycle | to_fv3time }}.stddev.fv_tracer.res.tile6.nc']
    ### copy coupler file
    - ['{{ HOMEglobal }}/fix/coldstart/berror/stddev.coupler.res', '{{ DATA }}/berror/{{ current_cycle | to_fv3time }}.stddev.coupler.res']
    ### copy diffusion files
    - ['{{ HOMEglobal }}/fix/coldstart/berror/aero_diffusion_hz.nc', '{{ DATA }}/berror/{{ GPREFIX }}aero_diffusion_hz.nc']
    - ['{{ HOMEglobal }}/fix/coldstart/berror/aero_diffusion_vt.nc', '{{ DATA }}/berror/{{ GPREFIX }}aero_diffusion_vt.nc']
{% else %}
    ## stddev files from COMIN_CHEM_BMAT_PREV
    - ['{{ COMIN_CHEM_BMAT_PREV }}/{{ current_cycle | to_fv3time }}.stddev.fv_tracer.res.tile1.nc', '{{ DATA }}/berror/']
    - ['{{ COMIN_CHEM_BMAT_PREV }}/{{ current_cycle | to_fv3time }}.stddev.fv_tracer.res.tile2.nc', '{{ DATA }}/berror/']
    - ['{{ COMIN_CHEM_BMAT_PREV }}/{{ current_cycle | to_fv3time }}.stddev.fv_tracer.res.tile3.nc', '{{ DATA }}/berror/']
    - ['{{ COMIN_CHEM_BMAT_PREV }}/{{ current_cycle | to_fv3time }}.stddev.fv_tracer.res.tile4.nc', '{{ DATA }}/berror/']
    - ['{{ COMIN_CHEM_BMAT_PREV }}/{{ current_cycle | to_fv3time }}.stddev.fv_tracer.res.tile5.nc', '{{ DATA }}/berror/']
    - ['{{ COMIN_CHEM_BMAT_PREV }}/{{ current_cycle | to_fv3time }}.stddev.fv_tracer.res.tile6.nc', '{{ DATA }}/berror/']
    ### copy coupler file
    - ['{{ COMIN_CHEM_BMAT_PREV }}/{{ current_cycle | to_fv3time }}.stddev.coupler.res', '{{ DATA }}/berror/']
    ### copy diffusion files
    - ['{{ COMIN_CHEM_BMAT_PREV }}/{{ GPREFIX }}aero_diffusion_hz.nc', '{{ DATA }}/berror/diffusion_hz.nc']
    - ['{{ COMIN_CHEM_BMAT_PREV }}/{{ GPREFIX }}aero_diffusion_vt.nc', '{{ DATA }}/berror/diffusion_vt.nc']
{% endif %}

{% filter indent(width=4) %}
{% include 'aero_stage_crtm_coeff.yaml.j2' %}
{% include 'aero_stage_jedi_fix.yaml.j2' %}
{% endfilter %}

data_out:
    copy_req:
## copy variational YAML to ROTDIR
    - ['{{ DATA }}/aeroanlvar.yaml', '{{ COMOUT_CONF }}/{{ APREFIX }}aerovar.yaml']
## copy increments
    - ['{{ DATA }}/anl/aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile1.nc', '{{ COMOUT_CHEM_ANALYSIS }}/aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile1.nc']
    - ['{{ DATA }}/anl/aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile2.nc', '{{ COMOUT_CHEM_ANALYSIS }}/aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile2.nc']
    - ['{{ DATA }}/anl/aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile3.nc', '{{ COMOUT_CHEM_ANALYSIS }}/aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile3.nc']
    - ['{{ DATA }}/anl/aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile4.nc', '{{ COMOUT_CHEM_ANALYSIS }}/aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile4.nc']
    - ['{{ DATA }}/anl/aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile5.nc', '{{ COMOUT_CHEM_ANALYSIS }}/aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile5.nc']
    - ['{{ DATA }}/anl/aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile6.nc', '{{ COMOUT_CHEM_ANALYSIS }}/aeroinc.{{ current_cycle | to_fv3time }}.fv_tracer.res.tile6.nc']

    - ['{{ DATA }}/anl/aeroinc_gauss.{{ current_cycle | to_isotime }}.gaussian.modelLevels.nc', '{{ COMOUT_CHEM_ANALYSIS }}/{{ APREFIX }}aeroinc.nc']
## copy analysis
    - ['{{ DATA }}/anl/{{ anl_time | to_fv3time }}.fv_tracer.res.tile1.nc', '{{ COMOUT_ATMOS_RESTART }}/{{ anl_time | to_fv3time }}.aeroanl_fv_tracer.res.tile1.nc']
    - ['{{ DATA }}/anl/{{ anl_time | to_fv3time }}.fv_tracer.res.tile2.nc', '{{ COMOUT_ATMOS_RESTART }}/{{ anl_time | to_fv3time }}.aeroanl_fv_tracer.res.tile2.nc']
    - ['{{ DATA }}/anl/{{ anl_time | to_fv3time }}.fv_tracer.res.tile3.nc', '{{ COMOUT_ATMOS_RESTART }}/{{ anl_time | to_fv3time }}.aeroanl_fv_tracer.res.tile3.nc']
    - ['{{ DATA }}/anl/{{ anl_time | to_fv3time }}.fv_tracer.res.tile4.nc', '{{ COMOUT_ATMOS_RESTART }}/{{ anl_time | to_fv3time }}.aeroanl_fv_tracer.res.tile4.nc']
    - ['{{ DATA }}/anl/{{ anl_time | to_fv3time }}.fv_tracer.res.tile5.nc', '{{ COMOUT_ATMOS_RESTART }}/{{ anl_time | to_fv3time }}.aeroanl_fv_tracer.res.tile5.nc']
    - ['{{ DATA }}/anl/{{ anl_time | to_fv3time }}.fv_tracer.res.tile6.nc', '{{ COMOUT_ATMOS_RESTART }}/{{ anl_time | to_fv3time }}.aeroanl_fv_tracer.res.tile6.nc']
