variable change:
  variable change name: Model2GeoVaLs
  input variables: &bkgvars [ua,va,t,ps,sphum,ice_wat,liq_wat,o3mr,hgtsfc]
  output variables: &fv3incrvars [ua,va,t,sphum,ice_wat,liq_wat,o3mr,delp,delz]
jedi increment variables: [ua,va,t,ps,sphum,ice_wat,liq_wat,o3mr]
fv3 increment variables: *fv3incrvars
background geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ atmosphere_layout_x }}
  - {{ atmosphere_layout_y }}
  npx: {{ atmosphere_npx_ges }}
  npy: {{ atmosphere_npy_ges }}
  npz: {{ atmosphere_npz_ges }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_history.yaml
jedi increment geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ atmosphere_layout_x }}
  - {{ atmosphere_layout_y }}
  npx: {{ atmosphere_npx_ges }}
  npy: {{ atmosphere_npy_ges }}
  npz: {{ atmosphere_npz_ges }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_history.yaml
fv3 increment geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ atmosphere_layout_x }}
  - {{ atmosphere_layout_y }}
  npx: {{ atmosphere_npx_ges }}
  npy: {{ atmosphere_npy_ges }}
  npz: {{ atmosphere_npz_ges }}
  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_fv3inc.yaml
members:
- background input:
    datapath: ./bkg
    filetype: cube sphere history
    provider: ufs
    ufs soil nlev: 4
    ufs fields split by level: [smc,stc]
    datetime: "{{ atmosphere_background_time_iso }}"
    filenames:
    - {{ atmosphere_variational_history_prefix }}cubed_sphere_grid_atmf006.nc
    - {{ atmosphere_variational_history_prefix }}cubed_sphere_grid_sfcf006.nc
    state variables: *bkgvars
  jedi increment input:
    filetype: cube sphere history
    provider: ufs
    datapath: ./anl
    filename: cubed_sphere_grid_atminc.jedi.nc
  fv3 increment output:
    filetype: fms restart
    is restart: false
    datapath: ./anl
    filename_nonrestart: {{ atmosphere_variational_analysis_prefix }}cubed_sphere_grid_atminc.nc

# Optionally test the application
{% if do_testing | default(false) %}
test:
  reference filename: {{test_reference_filename}}
{% if test_output_filename is defined %}
  test output filename: {{test_output_filename}}
{% endif %}
{% if log_output_filename is defined %}
  log output filename: {{log_output_filename}}
{% endif %}
{% if mpi_pattern is defined %}
  mpi pattern: {{mpi_pattern}}
{% endif %}
  float relative tolerance: {{test_float_relative_tolerance | default(1.0e-6, true)}}
  float absolute tolerance: {{test_float_absolute_tolerance | default(0.0, true) }}
  integer tolerance: {{test_integer_tolerance | default(0, true) }}
{% endif %}
