geometry:
  fms initialization:
    namelist filename: "{{aero_fv3jedi_files_path}}/fmsmpp.nml"
    field table filename: "{{aero_fv3jedi_files_path}}/field_table"
  akbk: "{{aero_fv3jedi_files_path}}/akbk.nc4"
  layout:
  - {{ aero_layout_x }}
  - {{ aero_layout_y }}
  npx: {{ aero_npx_anl }}
  npy: {{ aero_npy_anl }}
  npz: {{ aero_npz_anl }}
  time invariant fields:
    state fields:
      datetime: '{{ aero_background_error_time_iso }}'
      filetype: fms restart
      skip coupler file: true
      state variables:
      - slmsk
      field io names: {{ aero_field_io_names }}
      datapath: {{ aero_background_path }}/
      filename_orog: {{ aero_orog_prefix }}_oro_data.nc
      filename_sfcd: {{ aero_background_error_time_fv3 }}.sfc_data.nc
date: '{{ aero_background_error_time_iso }}'
background:
  datetime: '{{ aero_background_error_time_iso }}'
  filetype: fms restart
  state variables: {{ aero_bmat_state_variables }}
  field io names: {{ aero_field_io_names }}
  datapath: {{ aero_background_path }}
  filename_core: '{{ aero_background_error_time_fv3 }}.anlres.fv_core.res.nc'
  filename_trcr: '{{ aero_background_error_time_fv3 }}.anlres.fv_tracer.res.nc'
  filename_cplr: '{{ aero_background_error_time_fv3 }}.anlres.coupler.res'
background error:
  filetype: fms restart
  datapath: {{ aero_standard_deviation_path }}
  filename_trcr: stddev.fv_tracer.res.nc
  filename_cplr: stddev.coupler.res
  field io names: {{ aero_field_io_names }}
climate background error:
  geometry:
    fms initialization:
        namelist filename: "{{aero_fv3jedi_files_path}}/fmsmpp.nml"
        field table filename: "{{aero_fv3jedi_files_path}}/field_table"
    akbk: "{{aero_fv3jedi_files_path}}/akbk.nc4"
    layout:
    - {{ aero_layout_x }}
    - {{ aero_layout_y }}
    npx: {{ aero_npx_clim_b }}
    npy: {{ aero_npy_clim_b }}
    npz: {{ aero_npz_clim_b }}
  climate background error stddev:
    filetype: fms restart
    skip coupler file: true
    datapath: {{ aero_climatological_b_path }}
    filename_trcr: stddev.fv_tracer.res.nc
    filename_cplr: stddev.coupler.res
    field io names: {{ aero_field_io_names }}
  diagb weight: {{ aero_diagb_weight }}
  staticb rescaling factor: {{ aero_diagb_static_rescale_factor }}
variables:
  name: {{ aero_bmat_state_variables }}

{% set rescaling_factor_file = aero_rescaling_factor_file|default(aero_gen_bmatrix_rescale_default) %}
{% include rescaling_factor_file %}

number of halo points: {{ aero_diagb_n_halo }}
number of neighbors: {{ aero_diagb_n_neighbors }}
simple smoothing:
  horizontal iterations: {{ aero_diagb_smooth_horiz_iter }}
  vertical iterations: {{ aero_diagb_smooth_vert_iter }}
