rescaling factors:
  mass_fraction_of_sulfate_in_air:
    rescaling factor: 1.0
  mass_fraction_of_hydrophobic_black_carbon_in_air:
    ocean rescaling factor: 1.0
    land rescaling factor: 1.0
  mass_fraction_of_hydrophilic_black_carbon_in_air:
    ocean rescaling factor: 1.0
    land rescaling factor: 1.0
  mass_fraction_of_hydrophobic_organic_carbon_in_air:
    ocean rescaling factor: 1.0
    land rescaling factor: 1.0
  mass_fraction_of_hydrophilic_organic_carbon_in_air:
    ocean rescaling factor: 1.0
    land rescaling factor: 1.0
  mass_fraction_of_sea_salt001_in_air:
    ocean rescaling factor: 1.0
    land rescaling factor: 1.0
  mass_fraction_of_sea_salt002_in_air:
    ocean rescaling factor: 1.0
    land rescaling factor: 1.0
  mass_fraction_of_sea_salt003_in_air:
    ocean rescaling factor: 1.0
    land rescaling factor: 1.0
  mass_fraction_of_sea_salt004_in_air:
    ocean rescaling factor: 1.0
    land rescaling factor: 1.0
  mass_fraction_of_dust001_in_air:
    rescaling factor: 1.0
  mass_fraction_of_dust002_in_air:
    rescaling factor: 1.0
  mass_fraction_of_dust003_in_air:
    rescaling factor: 1.0
  mass_fraction_of_dust004_in_air:
    rescaling factor: 1.0
  mass_fraction_of_dust005_in_air:
    rescaling factor: 1.0
