# Search path for model and obs for JCB
# -------------------------------------
algorithm_path: "{{ PARMgfs }}/gdas/jcb-algorithms"
app_path_algorithm: "{{ PARMgfs }}/gdas/jcb-gdas/algorithm/observation_statistics"
app_path_observations: "{{ PARMgfs }}/gdas/jcb-gdas/observation_statistics/atmosphere_gsi"

# Assimilation window
# -------------------
window_begin: "{{ WINDOW_BEGIN | to_isotime }}"
window_YMDH: "{{ WINDOW_BEGIN | to_YMDH }}"
window_length: "{{ WINDOW_LENGTH }}"
bound_to_include: begin

current_cycle_iso: "{{ current_cycle | to_isotime }}"

# Obspace variable things
# -----------------------
atmosphere_gsi_obsdatain_path: "{{ DATA }}/atmos_gsi/diag"
atmosphere_gsi_obsdatain_prefix: "diag_"
atmosphere_gsi_obsdatain_suffix: "_{{ current_cycle | to_YMDH }}.nc"

atmosphere_gsi_obsdataout_path: "{{ DATA }}/atmos_gsi/stat"
atmosphere_gsi_obsdataout_prefix: ""
atmosphere_gsi_obsdataout_suffix: "_{{ current_cycle | to_YMDH }}_output_atmos_gsi.nc"
