datapath: {{ snow_background_path }}
filetype: fms restart
skip coupler file: true
datetime: '{{ snow_background_time_iso }}'
state variables: [snodl,vtype,slmsk,sheleg,orog_filt,fice]
filename_sfcd: '{{ snow_background_time_fv3 }}.sfc_data.nc'
filename_cplr: '{{ snow_background_time_fv3 }}.coupler.res'
filename_orog: '{{ snow_orog_prefix }}_oro_data.nc'
