fms initialization:
  namelist filename: "{{snow_fv3jedi_files_path}}/fmsmpp.nml"
  field table filename: "{{snow_fv3jedi_files_path}}/field_table"
akbk: "{{snow_fv3jedi_files_path}}/akbk.nc4"
layout:
- {{snow_layout_x}}
- {{snow_layout_y}}
npx: {{snow_npx_ges}}
npy: {{snow_npy_ges}}
npz: {{snow_npz_ges}}
field metadata override: "{{snow_fv3jedi_files_path}}/fv3jedi_fieldmetadata_restart.yaml"
