{% set coupled_loop_ninner = coupled_ninner_1 %}
{% set coupled_loop_grad_red = coupled_grad_red_1 %}
{% set coupled_loop_departures = coupled_outer_loop_departures_1 | default('bkgmob', true) %}
{% include 'coupled_3dvar_outer_loop.yaml.j2' %}
