filetype: fms restart
is restart: false
filename_nonrestart: ./anl/cubed_sphere_grid_atminc.jedi.nc
fields to write: {{ atmosphere_det_increment_variables }}
field io names: {{ atmosphere_increment_field_io_names }}
