covariance model: SABER
full inverse: true
saber central block:
  saber block name: gsi static covariance
  read:
    gsi akbk: {{atmosphere_fv3jedi_files_path}}/akbk.nc4
    gsi error covariance file: {{atmosphere_gsibec_path}}/gsi-coeffs-gfs-global.nc
    gsi berror namelist file: {{atmosphere_gsibec_path}}/gfs_gsi_global.nml
    processor layout x direction: {{atmosphere_layout_gsib_x}}
    processor layout y direction: {{atmosphere_layout_gsib_y}}
    debugging mode: false
saber outer blocks:
- saber block name: interpolation
  inner geometry:
    function space: StructuredColumns
    custom grid matching gsi:
      type: gaussian
      {% set atmosphere_lats = ((atmosphere_npy_anl - 1) * 2) + 2 %}
      lats: {{ atmosphere_lats }}
      {% set atmosphere_lons = (atmosphere_npx_anl - 1) * 4 %}
      lons: {{ atmosphere_lons }}
    custom partitioner matching gsi:
      bands: {{ atmosphere_layout_gsib_y }}
    halo: 1
  forward interpolator:
    local interpolator type: oops unstructured grid interpolator
  inverse interpolator:
    local interpolator type: oops unstructured grid interpolator
  state variables to inverse: {{ atmosphere_det_increment_variables_noprecip }}
linear variable change:
  linear variable change name: Control2Analysis
  input variables: {{ atmosphere_det_increment_variables_molesO3_noprecip }}
  output variables: {{ atmosphere_det_increment_variables_noprecip }}
