datapath: {{ atmosphere_background_path }}
filetype: cube sphere history
provider: ufs
datetime: "{{ atmosphere_background_time_iso }}"
filenames:
- {{ atmosphere_variational_history_prefix }}cubed_sphere_grid_atmf006.nc
- {{ atmosphere_variational_history_prefix }}cubed_sphere_grid_sfcf006.nc
max allowable geometry difference: 1e-4
state variables: {{ atmosphere_background_state_variables }}
field io names: {{ atmosphere_ufs_field_io_names }}
