filetype: auxgrid
gridtype: gaussian
filename: {{atmosphere_ensemble_increment_prefix}}
field io names:
  eastward_wind: ugrd
  northward_wind: vgrd
  air_temperature: tmp
  air_pressure_at_surface: pressfc
  water_vapor_mixing_ratio_wrt_moist_air: spfh
  cloud_liquid_ice: icmr
  cloud_liquid_water: clwmr
  ozone_mass_mixing_ratio: o3mr
