geometry_type: fv3
fms initialization:
  namelist filename: "{{atmosphere_fv3jedi_files_path}}/fmsmpp.nml"
  field table filename: "{{atmosphere_fv3jedi_files_path}}/field_table"
akbk: gfs_{{atmosphere_npz_ges}}
layout:
- {{atmosphere_layout_x}}
- {{atmosphere_layout_y}}
npx: {{atmosphere_npx_ges}}
npy: {{atmosphere_npy_ges}}
npz: {{atmosphere_npz_ges}}
ntiles: 6
