covariance model: hybrid
components:
- covariance:
    covariance model: SABER
    saber blocks:
    - saber block name: BUMP_NICAS
      saber central block: true
      input variables: [psi,chi,t,ps,rh,ice_wat,liq_wat,o3mr]
      output variables: [psi,chi,t,ps,rh,ice_wat,liq_wat,o3mr]
      active variables: [psi,chi,t,ps,rh,liq_wat,o3mr]
      bump:
        io:
          data directory: {{atmosphere_bump_data_directory}}
        drivers:
          multivariate strategy: specific_univariate
          read local nicas: true
        nicas:
          minimum level:
          - variables:
            - liq_wat
            value: 76
        grids:
        - model:
            variables:
            - stream_function
            - velocity_potential
            - air_temperature
            - relative_humidity
            - cloud_liquid_water
            - ozone_mass_mixing_ratio
          io:
            files prefix: nicas/nicas_3D_gfs
        - model:
            variables:
            - surface_pressure
          io:
            files prefix: nicas/nicas_2D_gfs
    - saber block name: StdDev
      input variables: [psi,chi,t,ps,rh,ice_wat,liq_wat,o3mr]
      output variables: [psi,chi,t,ps,rh,ice_wat,liq_wat,o3mr]
      active variables: [psi,chi,t,ps,rh,liq_wat,o3mr]
      file:
        filetype: fms restart
        datetime: 2021-12-22T00:00:00Z
        set datetime on read: true
        psinfile: true
        datapath: {{atmosphere_bump_data_directory}}
        prefix: stddev/20211222.000000
        filename_core: stddev.fv_core.res.nc
        filename_trcr: stddev.fv_tracer.res.nc
        filename_sfcd: stddev.sfc_data.nc
        filename_sfcw: stddev.fv_srf_wnd.res.nc
        filename_cplr: stddev.coupler.res
    - saber block name: BUMP_VerticalBalance
      input variables: [psi,chi,t,ps,rh,ice_wat,liq_wat,o3mr]
      output variables: [psi,chi,t,ps,rh,ice_wat,liq_wat,o3mr]
      active variables: [psi,chi,t,ps,rh,liq_wat,o3mr]
      bump:
        general:
          universe length-scale: 2000.0e3
        io:
          data directory: {{atmosphere_bump_data_directory}}
          files prefix: vbal/vbal_gfs
          overriding sampling file: vbal/vbal_2021122200_gfs_sampling
        drivers:
          read local sampling: true
          read vertical balance: true
        vertical balance:
          vbal:
          - balanced variable: var2
            unbalanced variable: var1
          - balanced variable: var3
            unbalanced variable: var1
          - balanced variable: var4
            unbalanced variable: var1
    - saber block name: BUMP_PsiChiToUV
      input variables: [psi,chi,t,ps,rh,ice_wat,liq_wat,o3mr]
      output variables: [ua,va,t,ps,rh,ice_wat,liq_wat,o3mr]
      active variables: [psi,chi,ua,va]
      bump:
        general:
          universe length-scale: 2000.0e3
        io:
          data directory: {{atmosphere_bump_data_directory}}
          files prefix: psichitouv/psichitouv_gfs
        drivers:
          read local psichitouv: true
    linear variable change:
      linear variable change name: Control2Analysis
      input variables: [ua,va,t,ps,rh,ice_wat,liq_wat,o3mr]
      output variables: [ua,va,t,ps,sphum,ice_wat,liq_wat,o3mr]
  weight:
    value: 0.1
- covariance:
    covariance model: ensemble
    members from template:
      template:
        datetime: "{{ atmosphere_background_time_iso }}"
        filetype: fms restart
        state variables: [ua,va,t,ps,sphum,ice_wat,liq_wat,o3mr]
        datapath: {{ atmosphere_background_ensemble_path}}
        filename is datetime templated: true
        filename_core: "%yyyy%mm%dd.%hh%MM%ss.fv_core.res.nc"
        filename_trcr: "%yyyy%mm%dd.%hh%MM%ss.fv_tracer.res.nc"
        filename_sfcd: "%yyyy%mm%dd.%hh%MM%ss.sfc_data.nc"
        filename_sfcw: "%yyyy%mm%dd.%hh%MM%ss.fv_srf_wnd.res.nc"
        filename_cplr: "%yyyy%mm%dd.%hh%MM%ss.coupler.res"
      pattern: "{{ atmosphere_ensemble_pattern | default("%mem%", true) }}"
      nmembers: {{atmosphere_number_ensemble_members}}
      zero padding: 3
#    localization:
#      localization method: SABER
#      saber block:
#      - saber block name: BUMP_NICAS
#        input variables: [psi,chi,t,ps,rh,ice_wat,liq_wat,o3mr]
#        output variables: [psi,chi,t,ps,rh,ice_wat,liq_wat,o3mr]
#        active variables: [psi,chi,t,ps,rh,liq_wat,o3mr]
#        bump:
#          datadir: {{atmosphere_bump_data_directory}}
#          verbosity: main
#          strategy: specific_univariate
#          method: loc
#          load_nicas_local: true
#          grids:
#          - prefix: nicas/nicas_3D_gfs
#            variables: [stream_function,velocity_potential,air_temperature,relative_humidity,cloud_liquid_water,ozone_mass_mixing_ratio]
  weight:
    value: 0.9
