datetime: '{{ atmosphere_background_time_iso }}'
members from template:
  template:
    datetime: '{{ atmosphere_background_time_iso }}'
    filetype: cube sphere history
    provider: ufs
    state variables: {{ atmosphere_ens_state_variables }}
    field io names: {{ atmosphere_background_field_io_names }}
    datapath: {{ atmosphere_background_ensemble_path }}
    filename is datetime templated: true
    filenames:
    - {{ atmosphere_ensemble_history_prefix }}cubed_sphere_grid_atmf006.nc
    - {{ atmosphere_ensemble_history_prefix }}cubed_sphere_grid_sfcf006.nc
    max allowable geometry difference: 1e-4
  pattern: "{{ atmosphere_ensemble_pattern | default("%mem%", true) }}"
  nmembers: {{ atmosphere_number_ensemble_members }}
  zero padding: 3
