datetime: '{{ atmosphere_background_time_iso }}'
members from template:
  template:
    datetime: '{{ atmosphere_background_time_iso }}'
    filetype: cube sphere history
    provider: ufs
    ufs soil nlev: 4
    ufs fields split by level: [smc,stc]
    state variables: [ua,va,t,delz,delp,ps,sphum,ice_wat,liq_wat,o3mr,surface_geopotential_height,
                     slmsk,sheleg,tsea,vtype,stype,vfrac,stc,smc,snwdphMeters,
                     u_srf,v_srf,f10m]
    datapath: {{ atmosphere_background_ensemble_path }}
    filename is datetime templated: true
    filenames: [ {{ atmosphere_ensemble_history_prefix }}cubed_sphere_grid_atmf006.nc, {{ atmosphere_ensemble_history_prefix }}cubed_sphere_grid_sfcf006.nc ]
  pattern: "{{ atmosphere_ensemble_pattern | default("%mem%", true) }}"
  nmembers: {{ atmosphere_number_ensemble_members }}
  zero padding: 3
