datapath: {{ atmosphere_background_path }}
filetype: cube sphere history
provider: ufs
ufs soil nlev: 4
ufs fields split by level: [smc,stc]
datetime: "{{ atmosphere_background_time_iso }}"
filenames: [ {{ atmosphere_variational_history_prefix }}cubed_sphere_grid_atmf006.nc, {{ atmosphere_variational_history_prefix }}cubed_sphere_grid_sfcf006.nc ]
state variables: [ua,va,t,delp,ps,sphum,ice_wat,liq_wat,o3mr,surface_geopotential_height,
                  slmsk,sheleg,tsea,vtype,stype,vfrac,stc,smc,snwdphMeters,
                  u_srf,v_srf,f10m]
