datapath: {{ atmosphere_background_path }}
filetype: cube sphere history
provider: ufs
datetime: "{{ atmosphere_background_time_iso }}"
filenames: [ {{ atmosphere_variational_history_prefix }}cubed_sphere_grid_atmf006.nc, {{ atmosphere_variational_history_prefix }}cubed_sphere_grid_sfcf006.nc ]
state variables: [ua,va,t,delp,ps,sphum,ice_wat,liq_wat,snmr,rwmr,grle,nccice,nconrd,o3mr,hgtsfc,
                  slmsk,sheleg,tmpsfc,vtype,stype,vfrac,soilt1,soilw1,snwdphMeters,
                  u_srf,v_srf,f10m]
