output:
  state component:
    filetype: cube sphere history
    filename: ./anl/atminc.%yyyy%mm%dd_%hh%MM%ssz.nc4
    provider: ufs
    fields to write: [ugrd,vgrd,tmp,pressfc,spfh,icmr,clwmr,o3mr]
geometry:
  fms initialization:
    namelist filename: "{{fv3jedi_files_path}}/fmsmpp.nml"
    field table filename: "{{fv3jedi_files_path}}/field_table"
  akbk: "{{fv3jedi_files_path}}/akbk.nc4"
  layout:
  - {{layout_x}}
  - {{layout_y}}
  npx: {{npx_anl}}
  npy: {{npy_anl}}
  npz: {{npz_anl}}
  field metadata override: "{{fv3jedi_files_path}}/fv3jedi_fieldmetadata_restart.yaml"
