aero:
  stat_file_path: '{{ COMIN_AERO_ANALYSIS }}'
  stat_file_name: 'aerostat.tgz'
  obs spaces:
  - name: viirs_npp
    input file: "diag_viirs_npp_aod_{{ current_cycle | to_YMDH }}.nc"
    output file: "viirs_npp_{{ current_cycle | to_YMDH }}_output_aod.nc"
  - name: viirs_n20
    input file: "diag_viirs_n20_aod_{{ current_cycle | to_YMDH }}.nc"
    output file: "viirs_n20_{{ current_cycle | to_YMDH }}_output_aod.nc"

atmos_gsi:
  stat_file_path: '{{ DATA }}/atmos_gsi_ioda'
  stat_file_name: 'atmos_gsi_ioda_diags.tar.gz'
  obs spaces:
  - name: gsi_sfc_ps
    input file: "sfc_ps_gsi_{{ current_cycle | to_YMDH }}.nc4"
    output file: "sfc_ps_{{ current_cycle | to_YMDH }}_output_atmos_gsi.nc"

atmos:
  stat_file_path: '{{ COMIN_ATMOS_ANALYSIS }}'
  stat_file_name: 'stat.atm.tar'
  obs spaces:
  - name: prepbufr_adpsfc
    input file: "diag_prepbufr_adpsfc_{{ current_cycle | to_YMDH }}.nc"
    output file: "prepbufr_adpsfc_{{ current_cycle | to_YMDH }}_output_atmos.nc"
  - name: prepbufr_adpupa
    input file: "diag_prepbufr_adpupa_{{ current_cycle | to_YMDH }}.nc"
    output file: "prepbufr_adpupa_{{ current_cycle | to_YMDH }}_output_atmos.nc"
  - name: prepbufr_sfcshp
    input file: "diag_prepbufr_sfcshp_{{ current_cycle | to_YMDH }}.nc"
    output file: "prepbufr_sfcshp_{{ current_cycle | to_YMDH }}_output_atmos.nc"
snow:
  stat_file_path: '{{ COMIN_SNOW_ANALYSIS }}'
  stat_file_name: 'snow_analysis.ioda_hofx.tar'
  obs spaces:
  - name: ims_snow
    input file: "diag_ims_snow_{{ current_cycle | to_YMDH }}.nc"
    output file: "{{ current_cycle | to_YMDH }}.ioda_hofx_stats.ims_snow.nc"
  - name: sfcsno
    input file: "diag_sfcsno_{{ current_cycle | to_YMDH }}.nc"
    output file: "{{ current_cycle | to_YMDH }}.ioda_hofx_stats.sfcsno.nc"
  - name: snocvr
    input file: "diag_snocvr_{{ current_cycle | to_YMDH }}.nc"
    output file: "{{ current_cycle | to_YMDH }}.ioda_hofx_stats.snocvr.nc"
  - name: snomad
    input file: "diag_snomad_{{ current_cycle | to_YMDH }}.nc"
    output file: "{{ current_cycle | to_YMDH }}.ioda_hofx_stats.snomad.nc"
  - name: snocvr_snomad
    input file: "diag_snocvr_snomad_{{ current_cycle | to_YMDH }}.nc"
    output file: "{{ current_cycle | to_YMDH }}.ioda_hofx_stats.snocvr_snomad.nc"
  - name: madis_snow
    input file: "diag_madis_snow_{{ current_cycle | to_YMDH }}.nc"
    output file: "{{ current_cycle | to_YMDH }}.ioda_hofx_stats.madis_snow.nc"
