observations:
    aero:
    - retrieval_aod_viirs_npp
    - retrieval_aod_viirs_n20
    - retrieval_aod_viirs_n21
    atmos_gsi:
    - gsi_sfc_ps
    atmos:
    - prepbufr_adpsfc
    - prepbufr_adpupa
    - prepbufr_sfcshp
    - conventional_ps
    snow:
    - ims_snow
    - sfcsno
    - snocvr
    - snomad
    - snocvr_snomad
    - madis_snow
