jedi_config:
    aero:
        rundir: '{{ DATA }}/aero'
        exe_src: '{{ EXECgfs }}/gdas_ioda-stats.x'
        mpi_cmd: '{{ APRUN_ANLSTAT }}'
        jcb_base_yaml: '{{ PARMgfs }}/gdas/anlstat/aero/jcb-base.yaml.j2'
        jcb_algo: 'anlstat'
    atmos:
        rundir: '{{ DATA }}/atmos'
        exe_src: '{{ EXECgfs }}/gdas_ioda-stats.x'
        mpi_cmd: '{{ APRUN_ANLSTAT }}'
        jcb_base_yaml: '{{ PARMgfs }}/gdas/anlstat/atmos/jcb-base.yaml.j2'
        jcb_algo: 'anlstat'
    atmos_gsi:
        rundir: '{{ DATA }}/atmos_gsi'
        exe_src: '{{ EXECgfs }}/gdas_ioda-stats.x'
        mpi_cmd: '{{ APRUN_ANLSTAT }}'
        jcb_base_yaml: '{{ PARMgfs }}/gdas/anlstat/atmos_gsi/jcb-base.yaml.j2'
        jcb_algo: 'anlstat'
    snow:
        rundir: '{{ DATA }}/snow'
        exe_src: '{{ EXECgfs }}/gdas_ioda-stats.x'
        mpi_cmd: '{{ APRUN_ANLSTAT }}'
        jcb_base_yaml: '{{ PARMgfs }}/gdas/anlstat/snow/jcb-base.yaml.j2'
        jcb_algo: 'anlstat'

data_in:
    mkdir:
{% for analysis in STAT_ANALYSES %}
    - {{ DATA }}/{{ analysis }}
    - {{ DATA }}/{{ analysis }}/diag
    - {{ DATA }}/{{ analysis }}/stat
{% endfor %}
    copy_opt:
    - ['{{ COMIN_AERO_ANALYSIS }}/{{ APREFIX }}aerostat.tgz', '{{ DATA }}/aero/diag/']
    - ['{{ COMIN_ATMOS_ANALYSIS }}/{{ APREFIX }}atmos_gsi_ioda_diags.tar.gz', '{{ DATA }}/atmos_gsi/diag']
    - ['{{ COMIN_ATMOS_ANALYSIS }}/{{ APREFIX }}stat.atm.tar', '{{ DATA }}/atmos/diag']
    - ['{{ COMIN_SNOW_ANALYSIS }}/{{ APREFIX }}snow_analysis.ioda_hofx.tar', '{{ DATA }}/snow/diag']

data_out:
    copy_opt:
{% for ob in observations.aero %}
    - ['{{ DATA}}/aero/stat/{{ current_cycle | to_YMDH }}.ioda_hofx_stats.{{ ob }}.nc', '{{ COMOUT_AERO_ANLMON }}']
{% endfor %}
{% for ob in observations.atmos_gsi %}
    - ['{{ DATA}}/atmos_gsi/stat/{{ current_cycle | to_YMDH }}.ioda_hofx_stats.{{ ob }}.nc', '{{ COMOUT_ATMOS_ANLMON }}']
{% endfor %}
{% for ob in observations.atmos %}
    - ['{{ DATA}}/atmos/stat/{{ current_cycle | to_YMDH }}.ioda_hofx_stats.{{ ob }}.nc', '{{ COMOUT_ATMOS_ANLMON }}']
{% endfor %}
{% for ob in observations.snow %}
    - ['{{ DATA}}/snow/stat/{{ current_cycle | to_YMDH }}.ioda_hofx_stats.{{ ob }}.nc', '{{ COMOUT_SNOW_ANLMON }}']
{% endfor %}
