aero:
  rundir: '{{ DATA }}'
  exe_src: '{{ EXECglobal }}/gdas_ioda-stats.x'
  mpi_cmd: '{{ APRUN_ANLSTAT }}'
  # jedi_args: None
  jcb_base_yaml: '{{ PARMglobal }}/gdas/anlstat/aero/jcb-base.yaml.j2'
  jcb_algo: 'anlstat'
atmos:
  rundir: '{{ DATA }}'
  exe_src: '{{ EXECglobal }}/gdas_ioda-stats.x'
  mpi_cmd: '{{ APRUN_ANLSTAT }}'
  # jedi_args: None
  jcb_base_yaml: '{{ PARMglobal }}/gdas/anlstat/atmos/jcb-base.yaml.j2'
  jcb_algo: 'anlstat'
atmos_gsi:
  rundir: '{{ DATA }}'
  exe_src: '{{ EXECglobal }}/gdas_ioda-stats.x'
  mpi_cmd: '{{ APRUN_ANLSTAT }}'
  # jedi_args: None
  jcb_base_yaml: '{{ PARMglobal }}/gdas/anlstat/atmos_gsi/jcb-base.yaml.j2'
  jcb_algo: 'anlstat'
snow:
  rundir: '{{ DATA }}'
  exe_src: '{{ EXECglobal }}/gdas_ioda-stats.x'
  mpi_cmd: '{{ APRUN_ANLSTAT }}'
  # jedi_args: None
  jcb_base_yaml: '{{ PARMglobal }}/gdas/anlstat/snow/jcb-base.yaml.j2'
  jcb_algo: 'anlstat'
