observations:
    aero:
    - viirs_npp_aod
    - viirs_n20_aod
    atmos_gsi:
    - gsi_sfc_ps
    atmos:
    - conventional_ps
    snow:
    - ims_snow
    - sfcsno
    - snocvr
    - snomad
    - snocvr_snomad
    - madis_snow
