atlas/
crtm/
eckit/
fckit/
femps/
fms/
fv3/
fv3-jedi/
fv3-jedi-data/
fv3-jedi-lm/
gsw/
ioda/
ioda-data/
iodaconv/
jedicmake/
mom6/
oops/
saber/
saber-data/
soca/
test-data-release/
ufo/
ufo-data/
build/
