datapath: {{ aero_background_path }}
filetype: fms restart
datetime: '{{ aero_background_time_iso }}'
filename is datetime templated: true
filename_core: '%yyyy%mm%dd.%hh%MM%ss.fv_core.res.nc'
filename_trcr: '%yyyy%mm%dd.%hh%MM%ss.fv_tracer.res.nc'
filename_cplr: '%yyyy%mm%dd.%hh%MM%ss.coupler.res'
state variables:
- air_temperature
- air_pressure_thickness
- water_vapor_mixing_ratio_wrt_moist_air
- mass_fraction_of_sulfate_in_air
- mass_fraction_of_hydrophobic_black_carbon_in_air
- mass_fraction_of_hydrophilic_black_carbon_in_air
- mass_fraction_of_hydrophobic_organic_carbon_in_air
- mass_fraction_of_hydrophilic_organic_carbon_in_air
- mass_fraction_of_dust001_in_air
- mass_fraction_of_dust002_in_air
- mass_fraction_of_dust003_in_air
- mass_fraction_of_dust004_in_air
- mass_fraction_of_dust005_in_air
- mass_fraction_of_sea_salt001_in_air
- mass_fraction_of_sea_salt002_in_air
- mass_fraction_of_sea_salt003_in_air
- mass_fraction_of_sea_salt004_in_air
field io names:
  air_temperature: T
  air_pressure_thickness: delp
  water_vapor_mixing_ratio_wrt_moist_air: sphum
  mass_fraction_of_sulfate_in_air: so4
  mass_fraction_of_hydrophobic_black_carbon_in_air: bc1
  mass_fraction_of_hydrophilic_black_carbon_in_air: bc2
  mass_fraction_of_hydrophobic_organic_carbon_in_air: oc1
  mass_fraction_of_hydrophilic_organic_carbon_in_air: oc2
  mass_fraction_of_dust001_in_air: dust1
  mass_fraction_of_dust002_in_air: dust2
  mass_fraction_of_dust003_in_air: dust3
  mass_fraction_of_dust004_in_air: dust4
  mass_fraction_of_dust005_in_air: dust5
  mass_fraction_of_sea_salt001_in_air: seas2
  mass_fraction_of_sea_salt002_in_air: seas3
  mass_fraction_of_sea_salt003_in_air: seas4
  mass_fraction_of_sea_salt004_in_air: seas5
