&fIMS_nml
  idim = {{ CASE[1:] }},
  jdim = {{ CASE[1:] }},
  otype = "{{ CASE }}_oro_data",
  jdate = "{{ current_cycle | to_julian }}",
  yyyymmddhh = "{{ current_cycle | to_YMD }}.{{ current_cycle.strftime('%H') }}",
  imsformat = 1,
  imsversion = "1.3",
  fcst_path = "{{ ims_fcst_path }}"
  IMS_OBS_PATH = "./obs/",
  IMS_IND_PATH = "./obs/"
/
