stage:
  mkdir:
    - '{{ snow_prepobs_path }}'
  copy_opt:
    - ['{{ COMIN_OBS }}/{{ OPREFIX }}ghcn_snow.csv', '{{ DATA }}']
    - ['{{ FIXglobal }}/gdas/snow/ghcnd-stations.txt', '{{ DATA }}']
ghcn2ioda:
  copy_opt:
    - ['{{ DATA }}/{{ OPREFIX }}ghcn_snow.nc', '{{ snow_prepobs_path }}']
