gtsbufr:
  mkdir:
    - '{{ DATA }}/obs'
  copy:
    - ['{{ COM_OBS }}/{{ OPREFIX }}sfcsno.tm00.bufr_d', '{{ DATA }}/obs/']
gtsioda:
  copy:
    - ['{{ DATA }}/{{ OPREFIX }}sfcsno_snow.nc4', '{{ COM_OBS }}/{{ OPREFIX }}sfcsno_snow.nc4']
bufr2ioda:
     sfcsno: '{{ HOMEgfs }}/sorc/gdas.cd/test/testinput/bufr_sfcsno_snow.yaml'
