state geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ soil_layout_x }}
  - {{ soil_layout_y }}
  npx: {{ soil_npx_ges }}
  npy: {{ soil_npy_ges }}
  npz: {{ soil_npz_ges }}
increment geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ soil_layout_x }}
  - {{ soil_layout_y }}
  npx: {{ soil_npx_anl }}
  npy: {{ soil_npy_anl }}
  npz: {{ soil_npz_anl }}
state:
  datapath: ./bkg
  filetype: fms restart
  skip coupler file: true
  datetime: '{{ soil_background_time_iso }}'
  filename_sfcd: {{ soil_background_time_fv3 }}.sfc_data.nc
  state variables: &statevars
  - soilMoistureVolumetric
  - totalSnowDepth
  - fraction_of_ice
  - sheleg
  - stc
  - slmsk
  - vtype
  - air_temperature_at_2m
  - specfic_humidity_at_2m
  - slc
  field io names: &fionames
    soilMoistureVolumetric: smc
    totalSnowDepth: snodl
    fraction_of_ice: fice
    air_temperature_at_2m: t2m
    specfic_humidity_at_2m: q2m
increment:
  added variables:
  - soilMoistureVolumetric
  field io names:
    soilMoistureVolumetric: smc
  datapath: ./anl
  filetype: fms restart
  skip coupler file: true
  prefix: soilinc
  filename is datetime templated: true
  datetime: '{{ soil_background_time_iso }}'
  filename_sfcd: {{ soil_background_time_fv3 }}.sfc_data.nc
output:
  datapath: ./anl
  prefix: soilanl
  filetype: fms restart
  skip coupler file: true
  filename is datetime templated: true
  datetime: '{{ soil_background_time_iso }}'
  filename_sfcd: {{ soil_background_time_fv3 }}.sfc_data.nc
  state variables: *statevars
  field io names: *fionames
