state geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ soil_layout_x }}
  - {{ soil_layout_y }}
  npx: {{ soil_npx_ges }}
  npy: {{ soil_npy_ges }}
  npz: {{ soil_npz_ges }}
#  field metadata override: ./fv3jedi/fv3jedi_fieldmetadata_history.yaml
increment geometry:
  fms initialization:
    namelist filename: ./fv3jedi/fmsmpp.nml
    field table filename: ./fv3jedi/field_table
  akbk: ./fv3jedi/akbk.nc4
  layout:
  - {{ soil_layout_x }}
  - {{ soil_layout_y }}
  npx: {{ soil_npx_anl }}
  npy: {{ soil_npy_anl }}
  npz: {{ soil_npz_anl }}
state:
  state variables: {{ soil_increment_variables }}
  field io names: {{ soil_field_io_names }}
  datapath: ./bkg
  filetype: fms restart
  skip coupler file: true
  datetime: '{{ soil_background_time_iso }}'
  filename_sfcd: {{ soil_background_time_fv3 }}.sfc_data.nc
increment:
  added variables: {{ soil_increment_variables }}
  field io names: {{ soil_field_io_names }}
  datapath: ./anl
  filetype: fms restart
  skip coupler file: true
  prefix: soilinc
  filename is datetime templated: true
  datetime: '{{ soil_background_time_iso }}'
  filename_sfcd: {{ soil_background_time_fv3 }}.sfc_data.nc
output:
  datapath: ./anl
  prefix: soilanl
  filetype: fms restart
  skip coupler file: true
  filename is datetime templated: true
  datetime: '{{ soil_background_time_iso }}'
  filename_sfcd: {{ soil_background_time_fv3 }}.sfc_data.nc
  state variables: {{ soil_addincrement_state_variables }}
  field io names: {{ soil_field_io_names }}
