- obs space:
    name: {{observation_from_jcb}}
    obsdatain:
      engine:
        type: H5File
        obsfile: "{{marine_obsdatain_path}}/{{marine_obsdatain_prefix}}{{observation_from_jcb}}{{marine_obsdatain_suffix}}"
    obsdataout:
      engine:
        type: H5File
        obsfile: "{{marine_obsdataout_path}}/{{marine_obsdataout_prefix}}{{observation_from_jcb}}{{marine_obsdataout_suffix}}"
    simulated variables: [seaIceFraction]
    io pool:
      max pool size: 1
  get values:
    time interpolation: linear
  obs operator:
    name: Identity
    observation alias file: obsop_name_map.yaml
  obs error:
    covariance model: diagonal
  obs filters:
  - filter: Domain Check
    where:
    - variable: {name: GeoVaLs/sea_area_fraction}
      minvalue: 0.9
  - filter: Bounds Check
    minvalue: 0.0
    maxvalue: 1.0
  #- filter: Background Check
  #  threshold: 5.0
  - filter: Domain Check
    where:
    - variable: { name: GeoVaLs/sea_surface_temperature}
      maxvalue: 2.0
  - filter: Domain Check
    where:
    - variable: { name: GeoVaLs/sea_surface_temperature}
      maxvalue: 0.0
    action:
      name: inflate error
      inflation factor: 2.0
  - filter: Domain Check
    where:
    - variable: {name: GeoVaLs/distance_from_coast}
      minvalue: 100e3
