- obs space:
    name: {{observation_from_jcb}}
    obsdatain:
      engine:
        type: H5File
        obsfile: "{{marine_obsdatain_path}}/{{marine_obsdatain_prefix}}{{observation_from_jcb}}{{marine_obsdatain_suffix}}"
        missing file action: warn
      obsgrouping:
        group variables: [latitude, longitude, dateTime]
        sort variable: depth
        sort group: MetaData
        sort order: ascending
    obsdataout:
      engine:
        type: H5File
        obsfile: "{{marine_obsdataout_path}}/{{marine_obsdataout_prefix}}{{observation_from_jcb}}{{marine_obsdataout_suffix}}"
    simulated variables: [waterTemperature]
    observed variables: [waterTemperature]
    io pool:
      max pool size: 1
{% if marine_letkf_app | default(false) %}
    distribution:
      name: Halo
      halo size: {{ marine_letkf_dist_halo_size }}
{% endif %}
  obs operator:
    name: InsituTemperature
  obs error:
    covariance model: diagonal

  obs pre filters:
  # Pre-filters credits to Kriti Bhargava
  # Global range test
  - filter: Bounds Check
    filter variables: [{name: waterTemperature}]
    minvalue: -2.5
    maxvalue: 40.0

  # Regional range test
  # Red Sea
  - filter: Bounds Check
    filter variables: [{name: waterTemperature}]
    minvalue: 21.7
    maxvalue: 40.0
    where:
    - variable:
        name: MetaData/latitude
      minvalue: 10
      maxvalue: 30
    - variable:
        name: MetaData/longitude
      minvalue: 30
      maxvalue: 45

  # Mediterranean Sea
  - filter: Bounds Check
    filter variables: [{name: waterTemperature}]
    minvalue: 10.0
    maxvalue: 40.0
    where:
    - variable:
        name: MetaData/latitude
      minvalue: 30
      maxvalue: 40
    - variable:
        name: MetaData/longitude
      minvalue: -6
      maxvalue: 40
  - filter: Bounds Check
    filter variables: [{name: waterTemperature}]
    minvalue: 10.0
    maxvalue: 40.0
    where:
    - variable:
        name: MetaData/latitude
      minvalue: 40
      maxvalue: 41.5
    - variable:
        name: MetaData/longitude
      minvalue: 20
      maxvalue: 30
  - filter: Bounds Check
    filter variables: [{name: waterTemperature}]
    minvalue: 10.0
    maxvalue: 40.0
    where:
    - variable:
        name: MetaData/latitude
      minvalue: 40
      maxvalue: 46
    - variable:
        name: MetaData/longitude
      minvalue: 0
      maxvalue: 20

  # Northwestern shelves
  - filter: Bounds Check
    filter variables: [{name: waterTemperature}]
    minvalue: -2.0
    maxvalue: 24.0
    where:
    - variable:
        name: MetaData/latitude
      minvalue: 50
      maxvalue: 60
    - variable:
        name: MetaData/longitude
      minvalue: -20
      maxvalue: 10

  # Southwestern shelves
  - filter: Bounds Check
    filter variables: [{name: waterTemperature}]
    minvalue: -2.0
    maxvalue: 30
    where:
    - variable:
        name: MetaData/latitude
      minvalue: 25
      maxvalue: 50
    - variable:
        name: MetaData/longitude
      minvalue: -30
      maxvalue: 0

  # Arctic Ocean
  - filter: Bounds Check
    filter variables: [{name: waterTemperature}]
    minvalue: -1.92
    maxvalue: 25.0
    where:
    - variable:
        name: MetaData/latitude
      minvalue: 60

  obs prior filters:
  - filter: Domain Check
    where:
    - variable:
        name: GeoVaLs/sea_area_fraction
      value: is_valid
      minvalue: 0.5

  # Reject obs where MetaData/depth > GeoVaLs/sea_floor_depth_below_sea_surface - maxvalue
  - filter: Bounds Check
    filter variables:
    - name: waterTemperature
    test variables:
    - name: ObsFunction/Arithmetic
      options:
        variables: [MetaData/depth, GeoVaLs/sea_floor_depth_below_sea_surface]
        coefs: [1.0, -1.0]   # depth - sea_floor_depth_below_sea_surface
    maxvalue: -100.0         # i.e., depth - sea_floor_depth_below_sea_surface <= 0

  # Reject stair-step profiles (rounded values)
  - filter: Create Diagnostic Flags
    filter variables:
    - name: waterTemperature
    flags:
    - name: ProfileSpike
      initial value: false
    - name: ProfileStep
      initial value: false

  - filter: Spike and Step Check
    independent: MetaData/depth
    dependent: ObsValue/waterTemperature
    tolerance:
      nominal value: 0.05
    count spikes: false
    count steps: true
    tolerance:
      nominal value: 0.05                   # tune: < 0.1 if obs rounded to 0.1
    action:
      name: reject

  obs post filters:
  # Reject profiles with large differences from background
  - filter: Profile Background Check
    filter variables:
    - name: waterTemperature
    absolute threshold: 0.5

  # Reject obs that are too far from the background
  - filter: Background Check
    filter variables:
    - name: waterTemperature
    absolute threshold: 5.0

  # Inflate observation errors to accounnt for correlated errors
  - filter: Perform Action
    action:
      name: assign error
      error function:
        name: ObsFunction/LinearCombination
        options:
          variables:
          - ObsError/waterTemperature
          coefs:
          - 100.0

{% if marine_letkf_app | default(false) %}
  obs localizations:
  - localization method: Rossby
    base value: 100.0e3
    rossby mult: 1.0
    min grid mult: 2.0
    min value: 200.0e3
    max value: 900.0e3
{% endif %}
