- obs space:
    name: insitu_profile_argo
    obsdatain:
      engine:
        type: H5File
        obsfile: "{{marine_obsdatain_path}}/{{marine_obsdatain_prefix}}{{observation_from_jcb}}{{marine_obsdatain_suffix}}"
      obsgrouping:
        group variables: [latitude, longitude, dateTime]
        sort variable: depth
        sort group: MetaData
        sort order: ascending
    obsdataout:
      engine:
        type: H5File
        obsfile: "{{marine_obsdataout_path}}/{{marine_obsdataout_prefix}}{{observation_from_jcb}}{{marine_obsdataout_suffix}}"
    simulated variables: [waterTemperature, salinity]
    observed variables: [waterTemperature, salinity]
    io pool:
      max pool size: 1
  obs operator:
    name: Composite
    components:
    - name: InsituTemperature
      variables:
      - name: waterTemperature
    - name: VertInterp
      # note: alias file is needed for now because of a conflict with "waterTemperature".
      # The built-in alias maps to "ocean_temperature", but soca uses "sea_water_temperature"
      observation alias file: obsop_name_map.yaml
      variables:
      - name: salinity
      vertical coordinate: sea_water_depth
      observation vertical coordinate: depth
      interpolation method: linear
  obs error:
    covariance model: diagonal

  #-------------------------------------------------------------------------------
  #                   START OF OBS FILTERS (work done by Kriti Bhargava)
  # The QC filters used here are based on the document by IODE that can be found at
  # https://cdn.ioos.noaa.gov/media/2017/12/recommendations_in_situ_data_real_time_qc.pdf
  #-------------------------------------------------------------------------------
  obs filters:

    # land check
    - filter: Domain Check
      where:
      - variable: {name: GeoVaLs/sea_area_fraction}
        minvalue: 0.5

  #-------------------------------------------------------------------------------
  ## Filters for T:
  #-------------------------------------------------------------------------------
    #-------------------------------------------------------------------------------
    ### Global range test
    #-----------------------------------------------------------------------------
    - filter: Bounds Check
      filter variables: [{name: waterTemperature}]
      minvalue: -2.5
      maxvalue: 40.0

