- obs space:
    name: insitu_profile_bathy
    obsdatain:
      engine:
        type: H5File
        obsfile: "{{marine_obsdatain_path}}/{{marine_obsdatain_prefix}}{{observation_from_jcb}}{{marine_obsdatain_suffix}}"
    obsdataout:
      engine:
        type: H5File
        obsfile: "{{marine_obsdataout_path}}/{{marine_obsdataout_prefix}}{{observation_from_jcb}}{{marine_obsdataout_suffix}}"
    simulated variables: [waterTemperature]
    io pool:
      max pool size: 1
  obs operator:
    name: InsituTemperature
  obs error:
    covariance model: diagonal
