- obs space:
    name: {{observation_from_jcb}}
    obsdatain:
      engine:
        type: H5File
        obsfile: "{{marine_obsdatain_path}}/{{marine_obsdatain_prefix}}{{observation_from_jcb}}{{marine_obsdatain_suffix}}"
    obsdataout:
      engine:
        type: H5File
        obsfile: "{{marine_obsdataout_path}}/{{marine_obsdataout_prefix}}{{observation_from_jcb}}{{marine_obsdataout_suffix}}"
    simulated variables: [seaSurfaceTemperature]
    io pool:
      max pool size: 1
  get values:
    time interpolation: linear
  obs operator:
    name: Identity
    observation alias file: obsop_name_map.yaml
  obs error:
    covariance model: diagonal

  obs pre filters:
  - filter: Bounds Check
    minvalue: -1.2
    maxvalue: 41.0
  - filter: Domain Check
    where:
    - variable: {name: ObsError/seaSurfaceTemperature}
      minvalue: 1.0e-8

  obs prior filters:
  - filter: Domain Check
    where:
    - variable: {name: GeoVaLs/sea_area_fraction}
      minvalue: 0.9
  - filter: Domain Check
    where:
    - variable: { name: GeoVaLs/sea_ice_area_fraction}
      maxvalue: 1.0e-5
  - filter: Domain Check
    where:
    - variable: {name: GeoVaLs/sea_surface_temperature}
      minvalue: -1.2
  - filter: Domain Check
    where:
    - variable: {name: GeoVaLs/distance_from_coast}
      minvalue: 50e3
{% if letkf_app | default(false) %}
  obs localizations:
  - localization method: Rossby
    base value: 100.0e3
    rossby mult: 1.0
    min grid mult: 2.0
    min value: 200.0e3
    max value: 900.0e3
{% endif %}
  - filter: Domain Check
    action:
      name: passivate
    where:
    - variable: {name: GeoVaLs/sea_surface_temperature}
      maxvalue: -4.0


  obs post filters:
  - filter: Perform Action  # Pamlico Sound & Chesapeake Bay
    action:
      name: accept
    where:
    - variable:
        name: MetaData/latitude
      minvalue: 34.5
      maxvalue: 39.7
    - variable:
        name: MetaData/longitude
      minvalue: -76.88
      maxvalue: -74.5
# TODO: var fails when bkg chk filter is last
#  - filter: Background Check
#    absolute threshold: 5.0
