# used with obs list to load obs configs

    observers:
{% for observation_from_jcb in observations %}
{% if use_observer(observation_from_jcb) %}
{% filter indent(width=4) %}
{% set file_path = app_path_observations + '/' + observation_from_jcb + '.yaml.j2' %}
{% include file_path %}
{% endfilter %}
{% endif %}
{% endfor %}


