name: Unit Tests Within NCEP Global-Workflow
on: [push, pull_request]

jobs:
  ctests:
    runs-on: ubuntu-22.04
    name: Run Unit Tests inside global-workflow with ctest

    steps:

    - name: Install pip dependencies
      run: |
        pip install --upgrade pip
        pip install pycodestyle
        pip install netCDF4
        pip install xarray

    - name: Install other dependencies
      run: |
        sudo mkdir -p /work/noaa # to trick workflow into thinking this is RDHPCS Orion

    - name: Checkout wxflow
      uses: actions/checkout@v3
      with:
        repository: NOAA-EMC/wxflow
        ref: develop
        path: wxflow

    - name: Install wxflow
      run: |
        cd wxflow
        pip install .

    - name: Checkout workflow
      uses: actions/checkout@v3
      with:
        repository: NOAA-EMC/global-workflow
        ref: develop
        path: global-workflow

    - name: Checkout GDASApp
      uses: actions/checkout@v3
      with:
        path: global-workflow/sorc/gdas.cd

    - name: Install ecBuild
      run: |
        git clone https://github.com/ecmwf/ecbuild.git ecbuild
        cd ecbuild
        git checkout 3.6.1
        mkdir bootstrap
        cd bootstrap
        ../bin/ecbuild ..
        sudo make install

    - name: Configure with cmake
      run: |
        mkdir $GITHUB_WORKSPACE/global-workflow/sorc/gdas.cd/build && cd $GITHUB_WORKSPACE/global-workflow/sorc/gdas.cd/build
        cmake -DBUILD_GDASBUNDLE=OFF -DWORKFLOW_TESTS=ON $GITHUB_WORKSPACE/global-workflow/sorc/gdas.cd/

    - name: Build GDASApp
      run: |
        cd $GITHUB_WORKSPACE/global-workflow/sorc/gdas.cd/build
        make

    - name: Run ctest
      run: |
        cd $GITHUB_WORKSPACE/global-workflow/sorc/gdas.cd/build
        ctest --output-on-failure
